#pccheckout-checkout-form fieldset.hidden{
  display:none;
}

#pccheckout-checkout-form .payment-invoice-wrapper.hidden{
  display:none;
}

#pccheckout-checkout-form div.forgot-password{
  clear:both;
  -moz-border-radius: 0 0 6px 6px ;
  -webkit-border-radius: 0 0 6px 6px;
  -khtml-border-radius:0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  background-color: #F0F0F0;
  border-top: 1px solid #D2D2D2;
  margin: 10px -9px -9px;
  padding: 9px;
}

#pccheckout-checkout-form{
  margin-bottom:20px;
}
fire
#pccheckout-checkout-form table.actions tr > td > .button{
  float:right;
}

#pccheckout-checkout-form fieldset{
  margin:10px 0;
}

#pccheckout-checkout-form fieldset.first .fieldset-legend{
  background:url('images/1.png') 10px center no-repeat;
  padding-left:40px;
}

#pccheckout-checkout-form fieldset.second .fieldset-legend{
  background:url('images/2.png') 10px no-repeat;
  padding-left:40px;
}

#pccheckout-checkout-form fieldset.third .fieldset-legend{
  background:url('images/3.png') 10px center no-repeat;
  padding-left:40px;
}

#pccheckout-checkout-form fieldset.first.disabled .fieldset-legend{
  background-image:url('images/1_disabled.png');
}

#pccheckout-checkout-form fieldset.second.disabled .fieldset-legend{
  background-image:url('images/2_disabled.png');
}
#pccheckout-checkout-form fieldset.third.disabled .fieldset-legend{
  background-image:url('images/3_disabled.png');
}

#pccheckout-checkout-form .pup .col {
  float: left;
  width: 250px;
}

#pccheckout-checkout-form .pup .col.first {
  margin-right:10px;
  width:240px;
}

#pccheckout-checkout-form .pup .open {
  margin-top:75px;
}

#pccheckout-checkout-form .form-type-select select {
  width: 290px;
  min-width:290px;
}

#pccheckout-checkout-form .payment-invoice-wrapper .form-type-select select, #pccheckout-checkout-form .form-type-select select  {
  width: 280px;
  min-width: 280px;
}


#pccheckout-checkout-form .payment-invoice-wrapper .form-type-select > label, #pccheckout-checkout-form .payment-invoice-wrapper .form-type-textfield > label, #pccheckout-checkout-form .payment-invoice-wrapper .form-type-password > label,  #pccheckout-checkout-form .payment-invoice-wrapper .form-type-vatfield > label {
  float: left;
  line-height: 30px;
  width: 220px;
  white-space: nowrap;
}

#pccheckout-checkout-form .invoice .form-type-select > label, #pccheckout-checkout-form .invoice .form-type-textfield > label, #pccheckout-checkout-form .invoice .form-type-password > label,  #pccheckout-checkout-form .invoice .form-type-vatfield > label {
  float: left;
  line-height: 30px;
  width: 220px;
  white-space: nowrap;
}

#pccheckout-checkout-form .form-type-vatfield .number{
  width:206px;
  min-width:206px;
  background-color:#FFF;
}

#pccheckout-checkout-form .form-type-vatfield .country{
  float:left;
  margin-right:10px;
  width:20px;
  min-width:20px;

}

#pccheckout-checkout-form  .form-item-payment-city, #pccheckout-checkout-form  .form-item-shipping-delivery-city{
  clear:none;
}

#pccheckout-checkout-form  .form-item-payment city label, #pccheckout-checkout-form .payment-invoice-wrapper .form-item-city > label, #pccheckout-checkout-form  .form-item-invoice-address-city > label{
  display:none;

}

#pccheckout-checkout-form  .form-item-shipping-delivery-postalCode input, #pccheckout-checkout-form .form-item-payment-postalCode > input, #pccheckout-checkout-form .form-item-invoice-address-postalCode > input{
  width:48px;
  min-width:0;
  float:left;
  background-color:#FFF;
}

#pccheckout-checkout-form  .form-item-shipping-delivery-city input{
  margin-left: 10px;
  min-width: 0;
  width: 188px;
}

#pccheckout-checkout-form .form-item-shipping-delivery-address select{
  min-width: 265px;
  width:265px;
  float:left;
  background-color:#FFF;
}

#pccheckout-checkout-form .form-item-payment-city, #pccheckout-checkout-form .form-item-invoice-address-city{
  clear:none;
}

#pccheckout-checkout-form .form-item-payment-city > input, #pccheckout-checkout-form .form-item-invoice-address-city > input{
  margin-left: 10px;
  min-width: 0;
  width: 178px;
  background-color:#FFF;
}

#pccheckout-checkout-form .form-item-payment-address select, #pccheckout-checkout-form .form-item-invoice-address-address select{
  width:255px;
  background-color:#FFF;
}
#pccheckout-checkout-form .payment-invoice-wrapper .form-item form-type-textfield, #pccheckout-checkout-form .invoice-invoice-wrapper .form-item form-type-textfield{
  background-color:#FFF;
}

#pccheckout-checkout-form .box{
  position:relative;
}

#pccheckout-checkout-form .terms,  #pccheckout-checkout-form .form-item-payment-footer-terms{
  position:absolute;
  bottom:10px;
  left:10px;
}

#pccheckout-checkout-form .form-type-checkbox > input{
  float:none;
}

#pccheckout-checkout-form .form-type-checkbox > label{
  float:none;
  font-weight:normal;
}

#pccheckout-checkout-form .form-item-payment-terms, #pccheckout-checkout-form .form-item-payment-footer-terms{
  display:inline;
}

#pccheckout-checkout-form .payment-invoice-wrapper .form-item-payment-address select, #pccheckout-checkout-form .invoice-invoice-wrapper .form-item-invoice-address-address select{
  width:255px;
  min-width:255px;
  float:left;
}

#pccheckout-checkout-form .priceblock {
  margin-bottom: 10px;
  width: 210px;
}

#pccheckout-checkout-form .payment-methods .price{
  color:#009BDA;
}


#pccheckout-checkout-form #edit-logout{
  text-align: right;
}



#pccheckout-checkout-form .overlay {
  display:none;
}
#pccheckout-checkout-form .overlay .filler{
  position:absolute;
  top:0;
  left:0;
  background-color:#F0F0F0;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
#pccheckout-checkout-form .overlay .spinner {
  width:100%;
  margin:0 auto;
  text-align:center;
  padding:0;
}
#pccheckout-checkout-form .overlay .spinner .text {
  color:black;
}
#pccheckout-checkout-form .overlay .spinner > img {
  margin:20px auto;
}

#pccheckout-checkout-form .payment .box.invoice .header, #pccheckout-checkout-form .box.invoice .header{
  background:#F0F0F0 url(images/iwantaninvoice.png) 10px center no-repeat;
  padding-left:55px;
}


#pccheckout-checkout-form .credit{
  background:transparent url(images/storecredit-icon.jpg) top right no-repeat;
}


#pccheckout-checkout-form .form-item-payment-credit-amount{
  padding-left:50px;
}

#pccheckout-checkout-form .form-item-payment-credit-amount label{
  min-width:150px;
}