#pcgiftvouchers-config-form .content{
  padding:10px;
}

#pcgiftvouchers-config-form table.grid{
  border:none;
}

#pcgiftvouchers-config-form table.grid thead{
  display:none;
}

#pcgiftvouchers-config-form table.grid tr{
  display:block;
  float:left;
  width:140px;
  height:140px;
  border: solid 1px #D2D2D2;
}

#pcgiftvouchers-config-form table.grid tr.custom{
  background-color: #CCEBF8;
}

#pcgiftvouchers-config-form table.grid td {
  display:block;
  clear:both;
}

#pcgiftvouchers-config-form table.grid .price{
  font-size:200%;
  display:block;
  text-align:center;
  padding:15px;
}

#pcgiftvouchers-config-form table.grid .form-type-radio{
  padding:15px;
  text-align:center; 
}

#pcgiftvouchers-config-form fieldset > .fieldset-wrapper{
  padding:0;
}
#pcgiftvouchers-config-form .fieldset-wrapper .footer{
  background-color:#F0F0F0;
  border-top:solid 1px #D2D2D2;
  padding:10px;
}

#pcgiftvouchers-config-form .footer .delivery{
  width:280px;
  float:left;
}

#pcgiftvouchers-config-form .footer .delivery img{
  float:left;
  width:100px;
  display:block;
}

#pcgiftvouchers-config-form .footer .pricing{
  width:300px;
  float:right;
}

#pccart-cart-form .item.giftvoucher img{
  float:left;
  width:100px;
}

#pcorders-order-form .item.giftvoucher .form-item-address label{
  float:none;
}