.section-main {
  width:100%;
  padding:0;
  margin:0;
  border:none;
}

.region-subheader{
  display:none;
}

.region-sidebar{
  display:none;
}

.region-triptych{
  display:none;
}

.region-footer{
  display:none;
}

.region-closure{
  display:none;
}

.region-top{
  display:none;
}

.region-admin{
  display:none;
}

.region-content{
  width:100%;
}

.region-header{
  width:100%;
  padding:0;
  margin:0;
}

.region-header > .block{
  display:none;
}

.breadcrumb{
  display:none;
}

.title{
  padding:10px 0;
}