
body{
  margin:0;
  padding:0;
  font-family: Arial,Helvetica,sans-serif;
  font-size:12px;
  line-height:1.6em;
  color: #666666;
}

h1,h2,h3,h4{
  color:#009BDA;
  margin:10px 0;
}
h1{
  font-size:20px;
  border-bottom:solid 1px #D2D2D2;
}
h2{
  font-size:14px;
}

h3 {
  font-size:14px;
  line-height:14px;
  border-bottom:0px;
}

h4 {
  font-size:14px;
  line-height:18px;
  border-bottom:solid 1px #d2d2d2;
  border-spacing:2px;
  margin:0;
  padding-bottom:5px;
  margin-bottom:5px;
}

p{
  padding:0;
  text-align: justify;
}
table {
  border-spacing: 0;
  margin: 0;
  width:100%;
}

td{
  padding:0;
  vertical-align: top;
}

table{
  border-spacing: 10px;
}
tbody{
  border:none;
}
table.grid{
  border: solid 1px #D2D2D2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  /* display:inline-block;*/
  padding-bottom:2px;
}

table.grid > thead{
  background: url(images/table_header.jpg) no-repeat top left;
}

table.grid > thead > tr{
  border:none;
}

table.grid > tbody{
  border:none;
}
table.grid th{
  padding: 0 10px;
  color:white;
  border:none;
  line-height:40px;
  height:40px;
}

table.grid td {
  padding: 0 10px;
  border:0 0;
  background:none;
  vertical-align: middle; 
}

table.grid > tbody > tr {
  border-top: solid 1px #D2D2D2;
  height:25px;
}

tr.odd, tr.even{
  border:none;
}
tr.odd{
  background-color: transparent;
}
tr.even{
  background-color: #F0F0F0;
}
tr.selected, tr.selected td{
  background-color: #CCEBF8;
}

ul{
  padding:0;
  margin:0;
}

li, .item-list > ul > li{
  list-style: none;
  margin: 0;
  padding:0 0 0 20px;
  background: transparent url(images/bullet.png) left 7px no-repeat;
}


.region-footer li, .region-footer .item-list li{
  background:none;
}



a {
  color: #009BDA;
  text-decoration: none;
}

a:hover{
  color:#009BDA;
  text-decoration: underline;
}

li a, .ticker a{
  color:#666666;
}

a.more{
  padding-left:10px;
  background-image: url(images/more.png);
  background-repeat: no-repeat;
  background-position: left center;
  color: #009BDA;
}

input[type=text], input[type=password], input[type=file], select, html.js input.form-autocomplete {
  height:19px;
  line-height:19px;
  padding:5px 10px;
  font-size:14px;
  color: #666;
  font-style:italic;
  background:url('images/input2.png') left center repeat-x;
  border: solid 1px #D2D2D2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  min-width:150px;
}

input:focus{
  outline:none;
  border-color:#AEAEAE;
}
/*
.front input[type=text]{
  height:29px;
  line-height:29px;
}
*/
.title{
  border:none;
  margin:5px 0;
  padding:0;
}

.subtitle{
  color: #666666;
  font-weight:normal;
  border:none;
  margin:-5px 0 10px 0;
  padding:0;
  border-bottom:solid 1px #d2d2d2;
  width:620px;
}

.emphasize{
  font-weight:bold;
}

.more{
  font-size:10px;
  color:#AEAEAE;
}

/*.product{
  font-size:16px;
  color: #009BDA;
  font-weight:bold;
}*/

.price{
  text-align:right;
  /*display:inline-block;*/
  margin:0;
}

.priceblock .value{
  text-align: right;
}

.priceblock{
  margin:0;
}
.priceblock td{
  padding:2px 0;
}

.priceblock .price.total{
  font-size:150%;
  margin:5px 0;
}

.price.total{
  font-size:150%;
  margin:10px 0;
  font-weight:bold;
}

.price .whole{
  font-size:100%;
}

.phonenumber{
  padding-left:25px;
  line-height: 1.2em;
  background:url(images/icon_call_grey.png) left center no-repeat;
}

.email{
  padding-left:25px;
  background:url(images/icon_mail_grey.png) left center no-repeat;
}

.add{
  min-width:26px;
  margin-left:10px;
  width:26px;
  text-indent:-9999px;
  padding:0;
  background:url(images/icon_add_grey.png) center center no-repeat;
  height:30px;
  display:inline-block;
}

.upload > .content{
  padding-left:25px;
  background:url(images/icon_upload.png) left center no-repeat;
}

.choose > .content{
  padding-left:25px;
  background:url(images/icon_choose.png) left center no-repeat;
}

.ok > .content{
  padding-left:25px;
  background:url(images/icon_ok.png) left center no-repeat;
}

.chat > .content{
  padding-left:25px;
  background:url(images/icon_chat.png) left center no-repeat;
}

.checkout > .content{
  padding-left:25px;
  background:url(images/icon_checkout.png) left center no-repeat;
}

.cart > .content{
  padding-left:25px;
  background:url(images/icon_cart.png) left center no-repeat;
}

.request > .content{
  padding-left:25px;
  background:url(images/icon_request.png) left center no-repeat;
}

.continue > .content{
  padding-left:25px;
  background:url(images/icon_continue.png) left center no-repeat;
}

.collect > .content{
  padding-left:25px;
  background:url(images/icon_collect.png) left center no-repeat;
}


.button:hover{
  color:white;
  text-decoration:none;
}


select{
  height: 30px;

}
option{
  padding-right:10px;
}

.background{
  background:transparent url(images/background.jpg) no-repeat center 10px;
}
/*
.front select{
  height: 40px;
  padding: 10px;
}
*/
.button-container{
  text-align:right;
}

.button{
  display:inline-block;
  height:28px;
  line-height: 28px;
  font-family:arial;
  font-size:14px;
  color: #FFF; 
  font-weight:bold;
  padding:0 10px;
  background:url('images/button_blue.png') no-repeat center center;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius:6px;
  cursor: pointer;
  -moz-box-shadow: 1px 2px 5px gray;
  -webkit-box-shadow: 1px 2px 5px gray;
  box-shadow: 1px 2px 5px gray;
  border:solid 1px #70CCF0;
  min-width:80px;
  cursor: pointer;
  margin: 0;
  text-align: left;
}
.button.action{
  background:url('images/button_orange.png') no-repeat center center;
  border:solid 1px #FDD82A;
  color: #FFFFFF;
}

.button.large {
  height: 33px;
  line-height:33px;
  background:url('images/button_blue_large.png') no-repeat center center;
}

.button.action.large{
  background:url('images/button_orange_large.png') no-repeat center center;
}


a.linkbutton{
  display:inline-block;
  line-height:40px;
}

/* fieldset */

fieldset{
  position:relative;
  top:40px; 
  border:none;
  display:block;
  padding:0;
  padding-bottom:40px;
  margin:0;
}

fieldset > legend{
  display:block;
  width:100%;
  position:absolute;
  left: 0;
  top:-40px;
  background: url(images/fieldset-legend-back.jpg) center -10px no-repeat;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -khtml-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  padding:0;
}

fieldset > legend > .fieldset-legend{
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -khtml-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  border:solid 1px #D2D2D2;
  border-bottom:none;
  display:block;
  height:39px;
  line-height:39px;
  padding:0 10px;
  color: #009BDA;
  font-weight: 500;
  font-size:14px;
  padding-left:10px;
}
html.js fieldset .fieldset-legend{
  padding-left:10px;
}

fieldset > .fieldset-wrapper{
  border:solid 1px #D2D2D2;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  -khtml-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  background:white;
  display:block;
  padding:9px;
}
/*
fieldset > .fieldset-wrapper > div{
  margin:9px;
}
*/
html.js fieldset.collapsed{
  height:0;
}

fieldset.collapsed > legend{
  -moz-border-radius: 7px ;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}

fieldset.collapsed > legend > .fieldset-legend{
  -moz-border-radius: 7px ;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-bottom:solid 1px #D2D2D2;

}
html.js fieldset.collapsed .fieldset-legend{
  background-repeat:no-repeat;
}

fieldset.disabled > legend > .fieldset-legend {
  color:#D2D2D2;
}


/* fieldset sidebar */

.region-sidebar fieldset{
  position:relative;
  top:30px;
  border:none;
  display:block;
  padding:0;
  padding-bottom:30px;
}

.region-sidebar fieldset > legend{
  display:block;
  width:100%;
  position:absolute;
  left: 0;
  top:-30px;
  background: url(images/fieldset-legend-back.jpg) center -10px no-repeat;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.region-sidebar fieldset > legend > .fieldset-legend{
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  height:29px;
  line-height:29px;
  color: #009BDA;
  font-weight: 500;
  font-size:14px;

}

.region-sidebar fieldset > .fieldset-wrapper{
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.region-sidebar fieldset.collapsed > legend{
  -moz-border-radius: 4px ;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.region-sidebar fieldset.collapsed > legend > .fieldset-legend{
  -moz-border-radius: 4px ;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}


.form-item .description{
  font-size:12px;
}
/*
.region-sidebar input[type=text]{
  float:left;
  width:148px;
}

.region-sidebar input[type=submit]{
  float:right;
  width:100px;
}
*/

.region-highlightsidebar {
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0 0 0 0;
  border:1px solid #d2d2d2;
}

.region-highlightsidebar input[type=text]{
  width:248px;
}

.region-highlightsidebar select{
  width: 100%;
}

.region-highlightsidebar > .block{
  height:218px;
}


.region-highlightsidebar h2{
  font-size:30px;
  margin:0;
  padding:0;
  line-height: 25px;
  border:none;
}

.breadcrumb{
  width: 620px;
  color:#666666;
  font-size:9px;
  padding:0 0 0 0;
}
.node{
  margin-bottom:10px;
}

.field-type-image{
  float:left;
  max-width:300px;
  padding: 0 10px 10px 0;
}

.field-type-image img{
  max-width:290px;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid red;
}


.clearfix{
  clear:both;
}

.display-block{
  display:block;
}

.box{
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  background: #F0F0F0;
  border:solid 1px #D2D2D2;
}

.box.eco{
  background:#F0F0F0 url(images/corner_eco.png) top right no-repeat;
}
.box.new{
  background:#F0F0F0 url(images/corner_new.png) top right no-repeat;
}

.box.promo{
  background:#F0F0F0 url(images/corner_promo.png) top right no-repeat;
}
.box.alert{
  background:#D5E9FD url(images/alert.png) top left no-repeat;
  border:solid 1px #BAD2DA;
  padding-left:50px;
}
.box.attention{
  background:#F90 ;
  border:solid 1px #F60;
  padding-left:10px;
}
.box.how-to {
  background:#F0F0F0 url(images/how_to.png) top right no-repeat;
}


.pricebubble{
  background:transparent url(images/price_balloon_orange.png) center center no-repeat;
  width:140px;
  height:120px;
  text-align:center;
}

.region-closure ul > li{
  list-style:none;
  background:none;
}

.ui-dialog{
  -moz-border-radius: 7px ;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  padding:0;
  border:solid 1px #D2D2D2;

}
.ui-widget-header {
  background: white url(images/fieldset-legend-back.jpg) center -10px no-repeat;
  border:none;
}

.page-products #block-system-main ul{
  list-style:none;
}

.page-products #block-system-main .fieldset-wrapper {
  padding:0;
}

.page-products #block-system-main li {
  background: none repeat scroll 0 0 transparent;
  display: block;
  float: left;
  margin: 10px 0 10px 11px;
  padding: 0;
  width: 190px;
}

.page-products #block-system-main li .image  {
  background: url(images/product_bow.png) no-repeat bottom;
  width:170px;
  height:180px;

}

.page-products #block-system-main li .image img {
  max-width:160px;
  max-height:160px;
  padding: 0;
}

.page-products #block-system-main li .image  {
  background: url(images/product_bow.png) no-repeat bottom;
  width:170px;
  height:180px;

}

.page-products #block-system-main li .image img {
  max-width:170px;
  max-height:170px; 
}

.page-products #block-system-main li .title {
  text-align: left;
  color:  #009BDA;
  font:15px bold;
  margin: 0 0 0 10px; 
}

.page-products #block-system-main li .detail {
  text-align: left;
  margin: 0 0 0 10px;
  font-size:11px;
}

.page-products #block-system-main li .title {
  text-align: center;
}

.page-products #block-system-main li .detail {
  text-align: center;
}

#block-pccheckout-cart div.item{
  display:block;
  border-bottom: solid 1px #D2D2D2;
  margin-bottom:10px;
}

#block-pccheckout-cart div.item > .description > .text{
  line-height:1.2em;
}

#block-pccheckout-cart div.item > .description > .product{
  color:#009BDA;
  font-size:16px;
  font-weight:bold;
}

.page-myprintconcept-orders- .item > img{
  float:left;
  width:180px;
}

.page-myprintconcept-orders- .item > .description{
  float:left;
  width:320px;
}

.page-myprintconcept-orders- .item > .price{
  float:right;
  width:100px;
  text-align: right;
}
#block-pcpayments-method li > img {
  max-height:20px;
  padding-top:15px;
}
#block-pcmenu-footer li {
  font-size:9px;
}

.page-checkout .payment-methods img{
  max-width:50px;
}

#pccart-cartblock-form .priceblock, #block-pccheckout-cart .priceblock{
  border-bottom:solid 1px #D2D2D2;

}

.page-cart #pccart-cartblock-form .priceblock, .page-checkout #block-pccheckout-cart .priceblock{
  padding-left:140px;
}

#pccart-cartblock-form > div > fieldset > legend > .fieldset-legend, #block-pccheckout-cart > div > fieldset > legend > .fieldset-legend {
  background: url(images/cart_icon.png) no-repeat scroll 0 center transparent;
  padding-left: 30px;
}

#pccart-cartblock-form > fieldset > legend > .fieldset-legend {
  background: url(images/cart_icon.png) no-repeat scroll 0 center transparent;
  padding-left: 30px;
}

#pccart-cartblock-form fieldset > .fieldset-wrapper, #block-pccheckout-cart fieldset > .fieldset-wrapper{
  padding:0;
}

#pccart-cartblock-form fieldset > .fieldset-wrapper > *, #block-pccheckout-cart fieldset > .fieldset-wrapper > * {
  margin:10px 9px;
  border-bottom:solid 1px #D2D2D2;
  clear:both;
  padding-bottom:9px;
}

#pccart-cartblock-form fieldset .actions {
  padding-bottom:0px;
}

#pccart-cartblock-form fieldset > .fieldset-wrapper .actions, #block-pccheckout-cart fieldset > .fieldset-wrapper .last{
  border:none;
}

#pccart-cartblock-form .remove{
  background:transparent url(images/delete.png) center 5px no-repeat;
  padding-right:20px;
  cursor:pointer;
  float:right;
  text-indent:-9999px;
}

#pccart-cartblock-form .checkout{
  float:right;
  width: 100px;
}

.page-cart #pccart-cartblock-form .checkout{
  width:180px;
}

#pccart-cartblock-form .continue{
  text-align: right;
  height:40px;
  line-height: 40px;
  display:block;
  width:130px;
}



#pccart-cartblock-form .pup{
  border-top:solid 1px #D2D2D2;
}

#pccart-cartblock-form .free, #block-pccheckout-cart .free{
  font-weight: bold;
}

#pccart-cartblock-form .date, #block-pccheckout-cart .date{
  font-weight: bold;
}
#pccart-cartblock-form .product,  #block-pccheckout-cart .product{
  font-size:100%;
  border-bottom:solid 1px #D2D2D2;
}

#pccart-cartblock-form .description .price, #block-pccheckout-cart .description .price{
  float:right;
}
#pccart-cartblock-form .description table, #block-pccheckout-cart .description table{
  width:140px;
}
#pccart-cartblock-form .description table tr.even, #block-pccheckout-cart .description table tr.even{
  background:transparent;
}
#pccart-cartblock-form .tooltip, #block-pccheckout-cart .tooltip{
  display:none;
  position:absolute;
  z-index:1000;
  background: url(images/tooltip_arrow.png) 20px top no-repeat;
  margin-top:-8px;
}

.page-cart #pccart-cartblock-form .tooltip .content, .page-checkout #block-pccheckout-cart .tooltip .content{
  width:180px;
}

.tooltip .content{
  margin-top:8px;
  background-color: #AEAEAE;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  padding:10px;
  color:white;
  width:240px;
}

#pccart-cartblock-form .shipping .text{
  background: url('images/shipping.png') left center no-repeat;
  padding-left:30px;
  margin-bottom:5px;
}
#pccart-cartblock-form .shipping table td{
  padding:2px;
}
#block-pccustomers-welcome > div {
  line-height:3em;
  font-weight:bold;
}
#pcsamplepacks-request-block-form input{
  min-width: 255px;
}

#fancybox-outer {
  -moz-border-radius: 7px ;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  padding:10px;
}
#pcuploader-uploader-form .bar .completed {
  background:transparent url('images/table_header.jpg') top left no-repeat;
}

.page-products #pcproducts-product-form .fieldset-wrapper{
  padding:9px;
}

#pcproducts-product-form .eco{
  display:none;
  width:190px;
  background: transparent url('images/co2_neutral.png') center center no-repeat;
  min-height:100px;
  -moz-border-radius: 7px ;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin:10px 0;
  color:white;
  padding:10px;
}
#pcproducts-product-form .priceblock{
  width: 210px;
  margin-bottom:10px;
}

#pcproducts-product-form .grid .price{
  color:#009BDA;
  font-weight: bold;
  display:block;
}
#pcproducts-product-form .grid .custom .text{
  background:transparent url('images/arrow.jpg') left center no-repeat;
  text-indent: 30px;
}

#pcproducts-product-form .options{
  margin-top:10px;
}

#pccheckout-login-form div.forgot-password{
  clear:both;
  -moz-border-radius: 0 0 6px 6px ;
  -webkit-border-radius: 0 0 6px 6px;
  -khtml-border-radius:0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  background-color: #F0F0F0;
  border-top: 1px solid #D2D2D2;
  margin: 10px -9px -9px;
  padding: 9px;
}

#pccheckout-checkout-form{
  margin-bottom:20px;
}

#pccheckout-checkout-form fieldset{
  margin:10px 0;
}

#pccheckout-checkout-form fieldset.first .fieldset-legend{
  background:url('images/1.png') 10px center no-repeat;
  padding-left:40px;
}

#pccheckout-checkout-form fieldset.second .fieldset-legend{
  background:url('images/2.png') 10px no-repeat;
  padding-left:40px;
}

#pccheckout-checkout-form fieldset.third .fieldset-legend{
  background:url('images/3.png') 10px center no-repeat;
  padding-left:40px;
}

#pccheckout-checkout-form fieldset.first.disabled .fieldset-legend{
  background-image:url('images/1_disabled.png');
}

#pccheckout-checkout-form fieldset.second.disabled .fieldset-legend{
  background-image:url('images/2_disabled.png');
}
#pccheckout-checkout-form fieldset.third.disabled .fieldset-legend{
  background-image:url('images/3_disabled.png');
}

#pccheckout-checkout-form .openinghours{
  line-height: 1.2em;
}

#pccheckout-checkout-form .pup .col {
  float: left;
  width: 240px;
}

#pccheckout-checkout-form .pup .col.first {
  border-right: 1px solid #D2D2D2;
  float: left;
  margin-right: 10px;
  padding-right: 9px;
  width: 240px;
}

#pccheckout-checkout-form .pup .open {
  margin-top:20px;
}

#pccheckout-checkout-form .form-type-textfield > input, #pccheckout-checkout-form .form-type-password > input {
  width: 268px;
}

#pccheckout-checkout-form .form-type-select select {
  width: 290px;
}

#pccheckout-checkout-form .form-type-select > label, #pccheckout-checkout-form .form-type-textfield > label, #pccheckout-checkout-form .form-type-password > label,  #pccheckout-checkout-form .form-type-vatfield > label {
  float: left;
  line-height: 30px;
  width: 230px;
  white-space: nowrap;
}


#pccheckout-checkout-form .payment-invoice-wrapper .form-type-select > label, #pccheckout-checkout-form .payment-invoice-wrapper .form-type-textfield > label, #pccheckout-checkout-form .payment-invoice-wrapper .form-type-password > label,  #pccheckout-checkout-form .payment-invoice-wrapper .form-type-vatfield > label {
  float: left;
  line-height: 30px;
  width: 220px;
  white-space: nowrap;
}

#pccheckout-checkout-form .payment-invoice-wrapper .form-type-textfield > input{
  width: 258px;
}
#pccheckout-checkout-form .payment-invoice-wrapper .form-type-select select {
  width: 280px;
}

#pccheckout-checkout-form .payment-invoice-wrapper .form-type-vatfield .vatnumber{
  width:206px;
}

#pccheckout-checkout-form .openinghours tr.odd {
  background:white;
}

#pccheckout-checkout-form .form-type-vatfield .vatcountry{
  float:left;
  margin-right:10px;

}

#pccheckout-checkout-form .form-type-vatfield .vatcountry{
  width:20px;
  min-width:20px;
}

#pccheckout-checkout-form .form-type-vatfield .vatnumber{
  float:left;
  width:296px;
}

#pccheckout-delivery-form  .form-item-city label, #pccheckout-payment-form .payment-invoice-wrapper .form-item-city > label{
  display:none;
}

#pccheckout-delivery-form  .form-item-postalCode input, #pccheckout-payment-form .payment-invoice-wrapper .form-item-postalCode > input{
  width:48px;
  min-width:0;
  float:left;
}

#pccheckout-delivery-form  .form-item-city input{
  margin-left: 10px;
  min-width: 0;
  width: 188px;
}

#pccheckout-payment-form .payment-invoice-wrapper .form-item-city > input{
  margin-left: 10px;
  min-width: 0;
  width: 178px;
}

#pccheckout-payment-form .payment-invoice-wrapper .form-item-address select{
  width:240px;
  float:left;
}

#pccheckout-delivery-form .form-item-address select{
  width:250px;
  float:left;
}

#pccheckout-checkout-form .priceblock {
  margin-bottom: 10px;
  width: 210px;
}

#pccheckout-checkout-form .payment .price{
  color:#009BDA;
}

#pccart-cartblock-form .item .image, #block-pccheckout-cart .item .image {
  display:none;
}

#pccart-cartblock-form .item .upload-box {
  display:none;
}

#pccart-cartblock-form .item{
  position:relative;
}

#pccart-cartblock-form .item .edit{
  background:transparent url(images/edit.png) center left no-repeat;
  padding-left:20px;
}

.page-cart #pccart-cartblock-form .item .edit{
  position:absolute;
  bottom:10px;
}

.page-cart #pccart-cartblock-form .item .image, .page-checkout #block-pccheckout-cart .item .image {
  display: block;
  float: left;
  width: 120px;
  max-height:120px;
  position:relative;
  text-align:center;

}
.page-cart #block-pccart-cart .item .upload-box {
  display:block;
  float: left;
  width:100px;
  height:100px;
}
.page-cart #block-pccart-cart .item .upload-box .text {
  background:transparent url(images/upload.png) left center no-repeat;
  padding-left:35px;
  height: 55px;
  padding-top:15px;
}

.page-cart #block-pccart-cart .item .image img, .page-checkout #block-pccheckout-cart .item .image img {
  max-width:120px;
  max-height:120px;
}

#pccart-cart-form .fieldset-wrapper{
  position:relative;
}

#pccart-cart-form .product{
  width:209px;
  padding-right:10px;
  border-right:solid 1px #D2D2D2;
}

#pccart-cart-form .save{
  float:right;
  width:180px;
  padding-left:10px;
  position:absolute;
  bottom:30px;
  left:340px;
}

#pccart-cart-form .bubble{
  position:absolute;
  bottom:30px;
  left:240px;
  /*-webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);*/
  text-indent: -9999px;
  width:100px;
  height:100px;
  line-height: 100px;
  text-align: center;
  font-size:16px;
  font-weight:bold;
  background:url(images/bubble.png) center center no-repeat;
}
#pccart-cart-form .product img{
  max-width:209px;
}

#pccart-cart-form fieldset .image img {
  width:150px;
}

#pccart-cart-form .description{
  float:left;
  width:240px;
  clear:none;
}

#pccart-cart-form .description > .title{
  color:#009BDA;
  font-size:16px;
  font-weight:bold;
}

#pccart-cart-form .pricebubble{
  float:left;
}

#pccart-cart-form .pricebubble .price{
  color:white;
  float:none;
  height:120px;
  line-height:120px;
  text-align:center;
  font-size:150%;
  font-weight:500;
  padding-left:20px;
}

#pccart-cart-form .pricebubble .price .whole{
  font-size:350%;
}

#pccart-cart-form fieldset .image{
  width:150px;
  height:140px;
}

#pccart-cart-form .item{
  float:left;
  width:160px;
  padding-right:10px;
  padding-left:9px;
  border-left:solid 1px #D2D2D2;
}
#pccart-cart-form .item.first{
  border:none;
}

#pccart-cart-form .item .image{
  max-width:160px;
  height:140px;
}

#pccart-cart-form .item .image img{
  max-width:160px;
  max-height:140px;
}

.page-cart #block-pccart-cart .item .description, .page-checkout #block-pccheckout-cart .item .description {
  display: block;
  float: right;
  width: 200px;
}

#pcproducts-product-form .image{
  float: left;
  width:190px;
}

#pcproducts-product-form .image > img{
  width:190px;
}

#pcproducts-product-form .configuration{
  float: right;
  width: 370px;
}

#pcproducts-product-form .configuration label{
  float: left;
  width: 160px;
  height:30px;
  line-height:30px;
  clear:left;
}

#pcproducts-product-form .configuration select{
  width: 210px;
}

#pcproducts-product-form .configuration .form-item{
  clear:both;
  margin:2px 0;
}

#pcproducts-product-form .grid span.price{
  font-size:100%;
}

#pcproducts-product-form .grid td.price{
  display:table-cell;
}

#pcproducts-product-form input{
  margin:3px;
}

#pcproducts-product-form .other .item{
  float:left;
  width:187px;
  padding-right:10px;
  padding-left:9px;
  border-left:solid 1px #D2D2D2;
}
#pcproducts-product-form .other .item.first{
  border:none;
}

#pcproducts-product-form .other .item .image{
  max-width:187px;
  height:140px;
}

#pcproducts-product-form .other .item .image img{
  max-width:160px;
  max-height:140px;
  padding-top: 40px;
}

div.warning{
  background-repeat: no-repeat;
  background-color: transparent;
  text-indent:30px;
  min-height:30px;
  color:red;
  font-weight: bold;
}

#block-pcmenu-main .dropdown{
  line-height: 1.6em;
}


#block-pcmenu-main > .content > ul > li > .dropdown > .content {
  border: 1px solid #D2D2D2;

  min-height:350px;
}
#block-pcmenu-main > .content > ul > li.purple > .dropdown > .content {
  border-bottom:3px solid #906;
}
#block-pcmenu-main > .content > ul > li.red > .dropdown > .content {
  border-bottom:3px solid red;
}


.priceblock .price.total{
  font-size:200%;
}

.priceblock .totallabel{
  font-weight:bold;
}

.priceblock .value{
  text-align: right;
}

#pcproducts-product-form .image{
  float: left;
  width:190px;
}

#pcproducts-product-form .image > img{
  width:190px;
}


#pcproducts-product-form .configuration{
  float: right;
  width: 370px;
}

#pcproducts-product-form .configuration label{
  float: left;
  width: 160px;
  height:30px;
  line-height:30px;
  clear:left;
  white-space: nowrap;
}

#pcproducts-product-form .configuration select{
  width: 210px;
}

#pcproducts-product-form .configuration .form-item{
  clear:both;
  margin:2px 0;
}

#pcproducts-product-form .grid .price{
  font-size:100%;
}

#pcproducts-product-form input{
  margin:3px;
}

div.warning{
  background-repeat: no-repeat;
  background-color: transparent;
  text-indent:30px;
  min-height:30px;
  color:red;
  font-weight: bold;
}

#block-pcmenu-main .dropdown{
  line-height: 1.6em;
}

#pcsearch-form{
  position:relative;
}
#pcsearch-form input[type=text]{
  width:448px;
  height:18px;
  line-height:18px;
  padding:10px;
}

#pcsearch-form input[type=submit]{
  background:url('images/glass.png') left center no-repeat;
  text-indent:-9999px;
  position:absolute;
  top:10px;
  left:443px;
  border:0;
  cursor:pointer;
}


#printconcept-progress{
  padding:10px 20px;
  margin-bottom:10px;
}

#printconcept-progress li{
  float:left;
  width:33%;
}
#printconcept-progress ul{
  margin:0;
  padding-top:10px;
}

#printconcept-progress ul li{
  padding:0;
  margin:0;
  background:none;
}

#printconcept-progress ul li .step{
  display:inline-block;
  text-align: center;
  min-width:30px;
  background:url('images/grey_bullet.png') top center no-repeat;
}

#printconcept-progress ul li.first{
  text-align:left;
}

#printconcept-progress ul li.second{
  text-align:center;
}

#printconcept-progress ul li.third{
  text-align:right;
}

#printconcept-progress .bar{
  height:5px;
  background:#666666;
  width:90%;
  margin:10px auto 0 auto;
}

#printconcept-progress ul li.selected .step{
  background-image:url('images/green_bullet.png');
}

#printconcept-progress li .number{
  color:white;
  line-height: 26px;
  font-size:18px;
  font-weight:bold;
  text-indent:2px;
}
#printconcept-progress li .text{
  margin-top:10px;
  font-weight: bold;
}
#printconcept-progress li.selected .step .text{
  color:#77b800;
}
.hor-bar {
  border-top: 1px solid #d2d2d2;	
}

#pcpickuppoints-picker-form{

}

#pcpickuppoints-picker-form div.map{
  height:500px;
}

#pcpickuppoints-picker-form .infowindow {
    
}
#pcpickuppoints-picker-form .name{
  font-weight: bold;
  display:block;
  font-size:12px;
  color:#009BDA;
}
#pcpickuppoints-picker-form .address{
  font-size: 10px;
  line-height: 1.2em;
}

#pcpickuppoints-picker-form .openinghours tr{
  border-bottom:dotted 1px #D2D2D2;
  background:transparent;
}

#pcpickuppoints-picker-form .openinghours td{
  font-size: 10px;
  line-height: 1.2em;
}


#pcpickuppoints-picker-form .form-item label{
  float:left;
  line-height:30px;
  padding-right:10px;
}

#pcpickuppoints-picker-form td{
  vertical-align: middle;
}

#pcpickuppoints-picker-form .results-container{
  float:left;
  width:300px;
  height:500px;
  background-color:#666666;
}

#pcpickuppoints-picker-form .results-container .results{
  background:white;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin:10px;
  padding:10px;
}

#pcpickuppoints-picker-form .results-container .results li{
  background:url('images/pickuppoint.png') left center no-repeat;
  padding-left:40px;
  cursor:pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

#pcpickuppoints-picker-form .results-container .results li.selected{
  background-color:#F0F0F0;
}
