
p {
  outline: none;
}
body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:1.6em;
  color: #666666;
}
h1, h2, h3, h4 {
  color:#009BDA;
  margin:10px 0;
}
h1 {
  font-size:20px;
  border-bottom:solid 1px #D2D2D2;
}

h2 {
  font-size:14px;
}
h3 {
  font-size:14px;
  line-height:14px;
  border-bottom:0px;
}
h4 {
  font-size:14px;
  line-height:14px;
  /*border-bottom:solid 1px #d2d2d2;*/
  border-spacing:2px;
  margin:0;
}
p {
  padding:0;
  text-align: justify;
}
hr {
  border:none;
  border-top:solid 1px #D2D2D2;
  clear:both;
}
table {
  border-spacing: 0;
  margin: 0;
  width:100%;
}
td {
  padding:0;
  vertical-align: top;
}
table {
  border-spacing: 10px;
}
tbody {
  border:none;
}

table.list {
  border: solid 1px #D2D2D2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin:10px 0;
}

table.list > thead > tr, table.list > tbody > tr{
  border-bottom:solid 1px #D2D2D2;
}
table.list > thead > tr > th {
  color:#009BDA;
  border:none;
}

table.list > thead > tr > th, table > tbody > tr > td{
  padding:5px;
  vertical-align: middle;
}

table.list > tbody > tr > td > .price > .value{
  min-width:50px;
  display:inline-block;
}


table > tbody > tr, table > tbody > tr.odd{
  background:inherit;
}

table > tbody > tr.even{
  background:#F0F0F0;
}

table.grid {
  /*border: solid 1px #D2D2D2;*/
  padding-bottom:2px;
}

table.grid > tbody{
  border:solid 1px #D2D2D2;
}

table.grid > thead {
  background: url(images/table_header.jpg) no-repeat top left;
  background: url(images/fieldset-legend-back.jpg) no-repeat center center;
  border:solid 1px #D2D2D2;

}
table.grid > thead > tr {
  border:none;
}

table.grid th {
  padding: 0 10px;
  color:white;
  border:none;
  line-height:40px;
  height:40px;
  color:#009BDA;
  white-space: nowrap;
}
table.grid td {
  padding: 0 10px;
  border:0 0;
  background:none;
  vertical-align: middle;
}
table.grid > tbody > tr {
  border-top: solid 1px #D2D2D2;
  height:25px;
}
table.grid tbody tr:hover {
  background-color: #F0F0F0;
}
tr.odd, tr.even {
  border:none;
}
tr.odd {
  background-color: transparent;
}
tr.even {
  background-color: #F0F0F0;
}
tr.selected, tr.selected td {
  background-color: #CCEBF8;
}
ul {
  padding:0;
  margin:0;
}

ul li, ul li.expanded, ul li.collapsed,ul li.leaf{
  /*margin: 0;*/
  margin:0 0 0 20px;
  list-style: none outside url(images/bullet.png);
}
.region-footer ul > li, .region-footer .item-list li {
  background:none;
}
a {
  color: #009BDA;
  text-decoration: none;
}
a:hover {
  color:#009BDA;
  text-decoration: underline;
}
li a, .ticker a {
  color:#666666;
}
a.more {
  padding-left:12px;
  background-image: url(images/more.png);
  background-repeat: no-repeat;
  background-position: left center;
  color: #009BDA;
}
input[type=text], input[type=password], input[type=file], select, html.js input.form-autocomplete, .input {
  height:19px;
  line-height:19px;
  padding:5px 10px;
  font-size:13px;
  color: #666666;
  /* background:url('images/input2.png') left center repeat-x;*/
  background-color:white;
  border: solid 1px #D2d2d2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;/*min-width:150px;*/
}
input:focus {
  outline:none;
  border-color:#AEAEAE;
}
input[type=submit].remove, input[type=submit].remove:hover, input[type=submit].remove:active {
  background: url("images/delete.png") no-repeat scroll center center transparent;
  border: medium none;
  cursor: pointer;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  padding: 0;
  text-indent: -9999px;
  width: 20px;
  -moz-box-shadow:none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-size:auto;
}
/*
a.edit {
    background: url("images/edit.png") no-repeat scroll center center transparent;
    border: medium none;
    cursor: pointer;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    padding: 0;
    text-indent: -9999px;
    width: 20px;
    display:inline-block;
}
*/
/*
.front input[type=text]{
  height:29px;
  line-height:29px;
}
*/
.title {
  border:none;
  margin:5px 0;
  padding:0;
}
.subtitle {
  color: #666666;
  font-weight:normal;
  border:none;
  margin:-5px 0 10px 0;
  padding:0;
  border-bottom:solid 1px #d2d2d2;
}
.emphasize {
  font-weight:bold;
  text-align:right;
  width:90px;
  height:30px;
}
.more {
  font-size:12px;
  color:#AEAEAE;
}
/*.product{
  font-size:16px;
  color: #009BDA;
  font-weight:bold;
}*/

.price {
  text-align:right;
  /*display:inline-block;*/
  margin:0;
  font-weight:bold;
}

.price.topay{
  color:red;
}
.price .currency {
  font-size:100%;
}
.priceblock .value {
  text-align: right;
}
.priceblock {
  margin:0;
}
.priceblock td {
  padding:2px 0;
}
.priceblock .price.total {
  font-size:100%;
  margin:5px 0;
}
.price.total {
  font-size:100%;
  margin:10px 0;
  font-weight:bold;
}
.phonenumber {
  padding-left:25px;
  line-height: 1.2em;
  background:url(images/icon_call_grey.png) left center no-repeat;
}
.email {
  padding-left:25px;
  background:url(images/icon_mail_grey.png) left center no-repeat;
}
.add {
  min-width:20px;
  margin-left:5px;
  width:20px;
  text-indent:-9999px;
  padding:0;
  background:url(images/icon_add_grey.png) center center no-repeat;
  height:30px;
  display:inline-block;
}
.upload > .content {
  padding-left:25px;
  background:url(images/icon_upload.png) left center no-repeat;
}
.button:hover {
  color:white;
  text-decoration:none;
}
.smaller {
  font-size:90%;
}
select {
  height: 30px;
  margin:0;
}
option {
  padding-right:10px;
}
.background {
  background:transparent url(images/background_2012_july.png) repeat-x center top;
  height:280px;
  top:134px;
  position:absolute;
  width:100%;
  z-index:-100;
}

/*
.front select{
  height: 40px;
  padding: 10px;
}
*/
.button-container {
  text-align:right;
}
a.linkbutton {
  display:inline-block;
  line-height:40px;
}
/* fieldset */

fieldset {
  position:relative;
  top:40px;
  border:none;
  display:block;
  padding:0;
  margin:0;
  padding-bottom:40px;
}
fieldset > legend {
  display:block;
  width:100%;
  position:absolute;
  left: 0;
  top:-40px;
  background: url(images/fieldset-legend-back.jpg) center -10px no-repeat;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -khtml-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  padding:0;
}
fieldset > legend > .fieldset-legend {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -khtml-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  border:solid 1px #D2D2D2;
  border-bottom:none;
  display:block;
  height:39px;
  line-height:39px;
  padding:0 10px;
  color: #009BDA;
  font-weight: 500;
  font-size:14px;
  padding-left:10px;
}
html.js fieldset .fieldset-legend {
  padding-left:10px;
}
fieldset > .fieldset-wrapper {
  border:solid 1px #D2D2D2;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  -khtml-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  background:white;
  display:block;
  padding:9px;
}

fieldset > .fieldset-wrapper > div > img {
  max-width: 260px;
}
/*
fieldset > .fieldset-wrapper > div{
  margin:9px;
}
*/
html.js fieldset.collapsed {
  height:0;
}
fieldset.collapsed > legend {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
fieldset.collapsed > legend > .fieldset-legend {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-bottom:solid 1px #D2D2D2;
}
html.js fieldset.collapsed .fieldset-legend {
  background-repeat:no-repeat;
}
fieldset.disabled > legend > .fieldset-legend {
  color:#D2D2D2;
}
/* fieldset sidebar */

.region-sidebar fieldset {
  position:relative;
  top:30px;
  border:none;
  display:block;
  padding:0;
  padding-bottom:30px;
}
.region-sidebar fieldset > legend {
  display:block;
  width:100%;
  position:absolute;
  left: 0;
  top:-30px;
  background: url(images/fieldset-legend-back.jpg) center -10px no-repeat;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.region-sidebar fieldset > legend > .fieldset-legend {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  height:29px;
  line-height:29px;
  color: #009BDA;
  font-weight: normal;
  font-size:14px;
  font-family: 'DaxRegular';
  font-style: normal;
}
.region-sidebar fieldset > .fieldset-wrapper {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.region-sidebar .block select{
  max-width:260px;
}
.region-sidebar fieldset.collapsed > legend {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.region-sidebar fieldset.collapsed > legend > .fieldset-legend {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.form-item .description {
  font-size:12px;
  color:#999999;
}
/*
.region-sidebar input[type=text]{
  float:left;
  width:148px;
}

.region-sidebar input[type=submit]{
  float:right;
  width:100px;
}
*/

.region-highlightsidebar {
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0 0 0 0;
  border:1px solid #d2d2d2;
}
.region-highlightsidebar input[type=text] {
  width:248px;
}
.region-highlightsidebar select {
  width: 100%;
}
.region-highlightsidebar > .block {
  height:218px;
}
.region-highlightsidebar h2 {
  font-size:30px;
  margin:0;
  padding:0;
  line-height: 25px;
  border:none;
}
.breadcrumb {
  color:#666666;
  font-size:9px;
  padding:0 0 0 0;
}
.node {
  margin-bottom:10px;
}
.field-type-image {
  float:left;
  max-width:300px;
  padding: 0 10px 10px 0;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid red;
}
.clearfix {
  clear:both;
}
.display-block {
  display:block;
}
.box {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  background: #F0F0F0;
  border:solid 1px #D2D2D2;
}
.box.eco {
  background:#F0F0F0 url(images/corner_eco.png) top right no-repeat;
}
.box.new {
  background:#F0F0F0 url(images/corner_new.png) top right no-repeat;
}
.box.promo {
  background:#F0F0F0 url(images/corner_promo.png) top right no-repeat;
}
.box.alert {
  background:#D5E9FD url(images/alert.png) top left no-repeat;
  border:solid 1px #BAD2DA;
  padding-left:50px;
}
.box.attention {
  background:#F90;
  border:solid 1px #F60;
  padding-left:10px;
}
.box.how-to {
  background:#F0F0F0 url(images/how_to.png) top right no-repeat;
}
.pricebubble {
  background:transparent url(images/price_balloon_orange.png) center center no-repeat;
  width:140px;
  height:120px;
  text-align:center;
}
input.validated {
  border-color:#00AA00;
}
.address > .company, .address > .name {
  font-weight:bold;
}
.region-closure ul > li {
  list-style:none;
  background:none;
}
.ui-dialog {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  padding:0;
  border:solid 1px #D2D2D2;
}
.ui-widget-header {
  background: white url(images/fieldset-legend-back.jpg) center -10px no-repeat;
  border:none;
}

#block-pccheckout-cart div.item {
  display:block;
  border-bottom: solid 1px #D2D2D2;
  margin-bottom:10px;
}
#block-pccheckout-cart div.item > .description > .text {
  line-height:1.2em;
}
#block-pccheckout-cart div.item > .description > .product {
  color:#009BDA;
  font-size:16px;
  font-weight:bold;
}
.page-myprintconcept-orders- #block-system-main .fieldset-wrapper {
  padding:0;
}
.page-myprintconcept-orders- #block-system-main .fieldset-wrapper > div {
  margin:9px;
}
.page-myprintconcept-orders- #block-system-main .fieldset-wrapper .priceblock {
  background:#F0F0F0;
  margin: 0;
  margin-top:20px;
  border-top:solid 1px #D2D2D2;
  padding:9px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.page-myprintconcept-orders- #block-system-main .fieldset-wrapper .priceblock > table {
  float: right;
  width: 210px;
}
.page-myprintconcept-orders- #block-system-main .item > a {
  float: left;
  width: 180px;
}
.page-myprintconcept-orders- #block-system-main .item > .description {
  float: right;
  width: 375px;
}
.page-myprintconcept-orders- #block-system-main .item > .description > .price {
  float: right;
  width: 100px;
  text-align: right;
}
.page-myprintconcept-orders- #block-system-main fieldset .delivery {
  float: left;
  width: 280px;
  border-right: 1px solid #d9d9d9;
}
.page-myprintconcept-orders- #block-system-main fieldset .delivery h2, .page-myprintconcept-orders- #block-system-main fieldset .invoice h2, .page-myprintconcept-orders- #block-system-main fieldset .details h2, .page-myprintconcept-orders- #block-system-main fieldset .extra h2 {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}
.page-myprintconcept-orders- #block-system-main fieldset .delivery h2 {
  background-image: url("images/shipping.png");
}
.page-myprintconcept-orders- #block-system-main fieldset .invoice h2 {
  background-image: url("images/invoice.png");
}
.page-myprintconcept-orders- #block-system-main fieldset .details h2 {
  background-image: url("images/pccart-cart-form-icon.png");
}
.page-myprintconcept-orders- #block-system-main fieldset .extra h2 {
  background-image: url("images/icon_add_blue.png");
}
.page-myprintconcept-orders- #block-system-main fieldset .invoice {
  float: right;
  width: 280px;
}
.page-myprintconcept-orders- #block-system-main fieldset .address {
  margin: 10px 10px 10px 35px;
}
.page-myprintconcept-orders- #block-system-main fieldset .smaller {
  margin-right: 10px;
  margin-left: 25px;
}
.page-myprintconcept-orders- #block-system-main fieldset .delivery .shippingdate {
  margin-left: 25px;
}
.page-myprintconcept-orders- #block-system-main fieldset .details .item {
  margin-left: 25px;
}
.page-myprintconcept-orders- #block-system-main fieldset .details .item img{
  max-width:180px;
}
.page-myprintconcept-orders- #block-system-main fieldset .extra table {
  margin-left: 25px;
  width: 96%;
}

#block-pcpayments-method li > img {
  max-height: 20px;
  padding-top: 15px;
}
#block-pcmenu-footer li {
  font-size: 9px;
}
.payment-methods img {
  max-width: 50px;
}

.payment-methods td {
  vertical-align: middle;
}

#pccheckout-checkout-form table.payment-methods .form-item, table.payment-methods .form-actions {
  margin-bottom: 0;
  margin-top: 0;
}

#pccheckout-checkout-form table.payment-methods tbody tr td div.form-item {
  vertical-align: top;
  width: 15px;
  line-height: 0;
  margin: 0;
  font-size: 0;
  border-spacing: 0;
}

#pccheckout-checkout-form table.payment-methods input {
  margin: 0;
}
.tooltip {
  display:none;
  position:absolute;
  z-index:1000;
  background: url(images/tooltip_arrow.png) 20px top no-repeat;
}
.tooltip .content {
  margin-top:8px;
  background-color: #AEAEAE;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  padding:10px;
  color:white;
  width:240px;
}

.pdf {
  background: url(images/pdf_icon.png) center left no-repeat;
  padding-left:20px;
  display:inline-block;
  line-height:20px;
}
.flag {
  background: url(images/flag.png) center left no-repeat;
  padding-left:20px;
}
/*
#pccart-cartblock-form .shipping .text{
  background: url('images/shipping.png') left center no-repeat;
  padding-left:30px;
  margin-bottom:5px;
}
#pccart-cartblock-form .shipping table td{
  padding:2px;
}

*/
#block-pccustomers-welcome > div {
  line-height:3em;
  font-weight:bold;
}
#fancybox-outer {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  padding:10px;
}

#fancybox-content > div > div > fieldset{
  padding:0;
}
#pcuploader-uploader-form .bar .completed {
  background:transparent url('images/table_header.jpg') top left no-repeat;
}
.page-products #pcproducts-product-form .fieldset-wrapper {
  padding:9px;
}
#pcproducts-product-form .eco {
  display:none;
  width:190px;
  background: transparent url('images/co2_neutral.png') center center no-repeat;
  min-height:100px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin:10px 0;
  color:white;
  padding:10px;
}
#pcproducts-product-form .priceblock {
  width: 292px;
  margin-bottom:10px;
}
#pcproducts-product-form .grid td.price {
  width:80px;
  margin-right:50px;
  text-align:right;
}
#pcproducts-product-form .grid td.priceperpiece, #pcproducts-product-form .grid th.priceperpiece {
  width:80px;
  text-align:right;
}
#pcproducts-product-form .grid td.quantity, #pcproducts-product-form .grid th.quantity {
  width:80px;
  text-align:right;
}
#pcproducts-product-form .grid td.price, #pcproducts-product-form .grid td.priceperpiece {
  color:#009BDA;
  line-height:30px;
  text-align:middle;
}
#pcproducts-product-form .grid .custom .text {
  background:transparent url('images/arrow.jpg') left center no-repeat;
  text-indent: 30px;
}
#pcproducts-product-form .grid tbody tr {
  cursor:pointer;
}
#pcproducts-product-form .options {
  margin-top:10px;
}
#pcproducts-product-form .image {
  float: left;
  width:190px;
}
#pcproducts-product-form .image > img {
  width:190px;
}
#pcproducts-product-form .configuration label {
  float: left;
  clear:left;
  width:120px;
  min-width:120px;
}
#pcproducts-product-form .configuration select {
  width: 268px;
  min-width: 268px;
}
#pcproducts-product-form .configuration .input {
  display: inline-block;
  min-width: 258px;
  width: 258px;
}
#pcproducts-product-form .configuration .form-type-item > div {
  display: inline-block;
  min-width: 258px;
  width: 258px;
  padding:5px 10px;
  min-height:19px;
  line-height:19px;
  padding:5px 10px;
  font-size:13px;
  color: #666666;
  background-color:white;
  border: solid 1px #D2d2d2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
#pcproducts-product-form .grid .price {
  font-size:100%;
}
#pcproducts-product-form .grid .price .currency {
  float:left;
  padding-left: 20px;
}
#pcproducts-product-form .grid .priceperpiece .currency {
  float:left;
  padding-left: 30px;
}
#pcproducts-product-form input {
  margin:3px;
}
#pcproducts-product-form .form-item-options {
  display:inline-block;
}
#pcproducts-product-form .form-item-options .form-type-checkbox {
  float:left;
  width:300px;
  clear:none;
}
#pcproducts-product-form .form-item-options .form-type-checkbox > label {
  float:none;
  font-weight: normal;
}
#pcproducts-product-form .grid-overlay, #pcproducts-product-form .overlay {
  display:none;
}
#pcproducts-product-form .grid-overlay .filler, #pcproducts-product-form .overlay .filler {
  position:absolute;
  top:0;
  left:0;
  background-color:white;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -moz-opacity:0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
#pcproducts-product-form .grid-overlay .spinner {
  width:200px;
  margin:0 auto;
  background:#F0F0F0;
  border:solid 1px #D2D2D2;
  text-align:center;
  -moz-border-radius: 6px;
  -webkit-border-radius:6px;
  -khtml-border-radius:6px;
  border-radius: 6px;
  padding:10px;
}
#pcproducts-product-form .grid-overlay .spinner > img {
  margin:20px auto;
}
#block-pcproducts-templates .templates {
  background:url(images/icon_design-tool.png) top right no-repeat;
  min-height: 53px;
}
#block-pcproducts-templates table td h3 {
  padding-left:30px;
  background:url('images/icon_green-ok.png') 5px center no-repeat;
}

#pcproducts-product-form .image {
  float: left;
  width:190px;
}
#pcproducts-product-form .configuration {
  float: right;
  width: 400px;
}
#pcproducts-product-form input {
  margin:3px;
}
#pcproducts-product-form .other .item {
  float:left;
  width:187px;
  padding-right:10px;
  padding-left:9px;
  border-left:solid 1px #D2D2D2;
}
#pcproducts-product-form .other .item.first {
  border:none;
}
#pcproducts-product-form .other .item .image {
  max-width:187px;
  height:140px;
}
#pcproducts-product-form .other .item .image img {
  max-width:160px;
  max-height:140px;
}
#block-pcmenu-main .dropdown > .content > .products > div {
  float:left;
  width:220px;
  padding:0 9px;
  border-right:solid 1px #d2d2d2;
}
#block-pcmenu-main .dropdown > .content > .products > div.last {
  border:none;
}

#block-pcmenu-main .dropdown > .content > .products > div.first {
  border:none;
  height:400px;
  background: repeat-y url(images/menu_background.jpg) top;
}
#block-pcmenu-main .dropdown > .content > .products h2 {
  border:none;
  padding:0;
  font-weight: normal;
  margin: 5px 0;
  font-size:14px;

}
#block-pcmenu-main .dropdown > .content > .products > div > .content {
  min-height:300px;
  margin:10px 0 0 20px;
  font-size:14px;
  line-height:30px;
}
#block-pcmenu-main .dropdown > .content > .products > div > .content a{
  color:#FFFFFF;
}

#block-pcmenu-main .dropdown > .content > .products > div > .content > .item-list > ul > li > span {
  color:#FFFFFF;
  font-weight:normal;
  padding-right:5px;
}

#block-pcmenu-main .dropdown > .content > .products > div.first > .content > .item-list {
  min-height: 200px;
}
#block-pcmenu-main .dropdown > .content > .products > div.first > .content > .item-list > ul > li {
  padding:0;
  margin:0;
  background:none;
}
#block-pcmenu-main .dropdown > .content > .products > div.first > .content > .item-list > ul > li > span{
  display:inline-block;
  width:20px;
}
#block-pcmenu-main .dropdown > .content > .products > div > .content > .item-list ul > li {
  list-style:none;
  /* background: url(images/bullet.png) left center no-repeat;*/
  padding: 100px 0 0 20px;
  margin:0;
}

#block-pcmenu-main .products li{
  margin:0 0 0 30px;
}

#block-pcmenu-main li.red .dropdown li{
  list-style:none outside url('images/bullet_red.png');
}

#block-pcmenu-main li.yellow .dropdown li{
  list-style:none outside url('images/bullet_yellow.png');
}

#block-pcmenu-main li.blue .dropdown li{
  list-style: none outside url('images/bullet_blue.png');
}

#block-pcmenu-main li.purple .dropdown li{
  list-style:none outside url('images/bullet_purple.png');
}
#block-pcmenu-main li.purple .dropdown h2{
  font-size:18px;
  margin-top:5px;
}

#block-pcmenu-main .dropdown > .content > .products > div > .content > .image{
  height:100px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border:solid 1px #D2D2D2;
  background:url(images/promo.jpg) center center;
}


#pcproducts-product-form .priceblock > table{
  border:none;
}


#pcproducts-product-form select{
  width:280px;
}

#pcproducts-product-form #edit-quantity-custom-price, #pcproducts-product-form #edit-quantity-custom-priceperpiece{
  display:inline-block;
}

#pcproducts-product-form .footer{
  margin:10px -9px -9px -9px;
  background-color:#F0F0F0;
  padding: 0;
  border-top:solid 1px #d2d2d2;
  border-bottom:solid 1px #d2d2d2;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius:0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}
#pcpayments-request-form .order{
  margin-top:10px;
}
#pcpayments-request-form thead{
  display:none;
}
#pcpayments-request-form tr td:last-child{
  font-size:smaller;
}

#block-pcmenu-main > .content > ul > li > .dropdown > .content {
  min-height:400px;
}
#block-pcmenu-main > .content > ul > li.purple > .dropdown > .content {

  border-bottom:solid 3px #b41e8e;
  box-shadow: 1px 1px 3px #666;

}
#block-pcmenu-main > .content > ul > li.red > .dropdown > .content {
  box-shadow: 1px 1px 3px #666;
  border-bottom:solid 3px red;
}

#block-pcmenu-main .dropdown > .content > .ideas > div > .content{
  margin:10px 0;
}
#block-pcmenu-main .dropdown > .content > .ideas > .news {
  width:301px;
}
#block-pcmenu-main .dropdown > .content > .ideas > .first {
  width:301px;
}

#block-pcmenu-main .dropdown > .content > .ideas > div.last{
  border:none;
  width: 290px;
}

#block-pcmenu-main .dropdown > .content > .ideas > div.last > .image{
  max-width: 300px;
  height: 75px;
  width: 300px;
}

#block-pcmenu-main .dropdown > .content > .ideas > div.last > .image img{
  width: 300px;
  /*margin-top: -25%; */
}
#block-menu-menu-footer-menu .active{
  color:#666666;
}

.priceblock .price.total{
  font-size:200%;
}

.priceblock .totallabel{
  font-weight:bold;
}

.priceblock .value{
  text-align: right;
}

div.warning{
  background-repeat: no-repeat;
  background-color: transparent;
  text-indent:30px;
  min-height:30px;
  color:red;
  font-weight: bold;
}

#block-pcmenu-main .dropdown{
  line-height: 1.6em;
}

#pcsearch-form{
  position:relative;
}
#pcsearch-form input[type=text]{
  width:448px;
  height:18px;
  line-height:18px;
  padding:10px;
}

#pcsearch-form input[type="submit"] {
    background: url("images/glass.png") no-repeat scroll left center transparent;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    height: 32px;
    left: 425px;
    min-height: 20px;
    min-width: 32px;
    position: absolute;
    text-indent: -9999px;
    top: 5px;
    width: 32px;
}


#printconcept-progress{
  padding:10px 20px;
  margin-bottom:10px;
  background: white;
}

#printconcept-progress ul{
  margin:0;
  padding-top:10px;
}

#printconcept-progress ul li{
  padding:0;
  margin:0;
  background:none;
  float:left;
  width:33%;
  list-style:none;
}

#printconcept-progress ul li .step{
  display:inline-block;
  text-align: center;
  min-width:37px;
  padding-top:40px;
}
#printconcept-progress ul li.first {
  text-align:left;
}
#printconcept-progress ul li.second {
  text-align:center;
}
#printconcept-progress ul li.third {
  text-align:right;
}
#printconcept-progress ul li.first .step {
  background:url('images/icon_cart-progress-grey_1.png') top center no-repeat;
}
#printconcept-progress ul li.second .step {
  background:url('images/icon_cart-progress-grey_2.png') top center no-repeat;
}
#printconcept-progress ul li.third .step {
  background:url('images/icon_cart-progress-grey_3.png') top center no-repeat;
}
#printconcept-progress .bar {
  background: none repeat scroll 0 0 #D2D2D2;
  height: 1px;
  margin: 17px auto 0;
  width: 90%;
}
#printconcept-progress ul li.selected.first .step {
  background-image:url('images/icon_cart-progress-green_1.png');
}
#printconcept-progress ul li.selected.second .step {
  background-image:url('images/icon_cart-progress-green_2.png');
}
#printconcept-progress ul li.selected.third .step {
  background-image:url('images/icon_cart-progress-green_3.png');
}
#printconcept-progress li .number {
  color:white;
  line-height: 35px;
  font-size:20px;
  font-weight:bold;
  text-indent:2px;
  min-width:40px;
}
#printconcept-progress li .text {
  margin-top:10px;
  font-weight: bold;
}
#printconcept-progress li.selected .step .text {
  color:#77b800;
}
.hor-bar {
  border-top: 1px solid #d2d2d2;
}
#block-pccustomers-welcome .item-list li {
  margin-top:0.8em;
  float:left;
  border-left:1px solid #D2D2D2;
  margin-left:10px;
  padding-left:10px;
  line-height:1.2em;
  background:none;
  list-style: none;
}
#block-pccustomers-welcome .item-list li.first {
  border:none;
}

#block-pccustomers-welcome .item-list li a {
  color:#009BDA;
}
.node {
  margin: 0 0 0 0;
}
.thirdrow .field-type-image img {
  max-height:75px;
  max-width:258px
}
.image-container-firstrow {
  overflow:hidden;
  height: 180px;
  width:620px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border:1px solid #d2d2d2;
}
.secondrow {
  float:left;
  width:204px;
}
.secondrow .field-type-image img {
  max-width: 350px;
  width: 350px;
  max-height:100px;
}
.image-container-secondrow {
  overflow:hidden;
  height:100px;
  width:197px;
  background:#f0f0f0;
  border:#d2d2d2 1px solid;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin:0 0 0 0;
}
.image-container-thirdrow {
  overflow:hidden;
  height:75px;
  width:75px;
  background:#f0f0f0;
  border:#d2d2d2 1px solid;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin:0 10px 0 0;
}
.field-items img {
  max-width:620px;
}
.field .field-label {
  font-weight:normal;
}
.cart-block-small {
  font-size:10px;
}
.config-1 > img {
  border:1px solid #d2d2d2;
  border-bottom: none;
}

#block-pclivecom-chat .text {
  width:150px;
  padding:0 10px 10px 10px;
}
#block-pclivecom-chat .bottom_text {
  margin-top:20px;
}
.blog_title{
  height:45px;
}
.blog_title h3 {
  line-height:10px;
  margin: 10px 0 2px 0;
}
#block-pcmenu-main .dropdown > .content > .ideas > div {
  float:left;
  width:220px;
  padding:0 9px;
  border-right:solid 1px #D2D2D2;
  height:390px;
  position:relative;
}
#block-pcmenu-main .dropdown > .content > .ideas > div > .more {
  position:absolute;
  bottom:0;
  left:10px;
}
#block-pclivecom-chat {
}

#block-pclivecom-chat img {
  position:relative;
  top :-170px;
  left:130px;
  width:170px;
  margin-bottom:-170px;
}
#block-pclivecom-chat .button {
  text-align:left;
}
#block-pclivecom-smallchat {
  height:50px;
}
#block-pclivecom-smallchat .right {
  min-width:200px;
  padding-left:10px;
  position:relative;
}
#block-pclivecom-smallchat .left {
  border-right:solid 1px #D2D2D2;
  padding-right:10px;
}
#block-pclivecom-smallchat .text {
  padding:0;
  line-height: 1.2em;
}
#block-pclivecom-smallchat h3 {
  margin:0;
  margin-bottom:10px;
}
#block-pclivecom-smallchat .phonenumber {
  float:right;
}
#block-pclivecom-smallchat img {
  clip: rect(0px, 100px, 90px, 0px);
  left: 100px;
  margin-bottom: -100px;
  position: absolute;
  top: -40px;
  width: 100px;
}
#block-pclivecom-smallchat .button {
  text-align:left;
  margin-top:10px;
}
#block-pclivecom-chat .lc5element {
  display:block;
  height:30px;
}
#block-pclivecom-chat .lc5element img {
  position:relative;
  top:0;
  left:0;
  width:100%;
  margin:0;
}
#block-pclivecom-smallchat .lc5element img {
  position:relative;
  top:0;
  left:0;
  width:100%;
  margin:0;
}
#block-pcmenu-main .dropdown > .content > .ideas > div > .image {
  max-width:300px;
  width:300px;
  height:75px;
}
#block-pcmenu-main .dropdown > .content > .ideas > div > .image img {
  width:300px;
}
.c-icon {
  background: url("images/icon_otheroption.png") no-repeat scroll left center transparent;
  padding-left: 25px;
}
.region-content .block + .block {
  margin-top:0px;
}
.menu_tips > canvas {
  color:#F00;
}
.zoekdinges img {
  max-width:85px;
}
.form-checkboxes .form-item, .form-radios .form-item {
  margin-bottom: 0.3em;
  margin-top: 0em;
  height:18px;
}
#pcproducts-product-form fieldset.step-1 > legend > .fieldset-legend {
  background:url('images/1.png') 10px center no-repeat;
  padding-left:40px;
}
#pcproducts-product-form fieldset.step-2 > legend > .fieldset-legend {
  background:url('images/2.png') 10px center no-repeat;
  padding-left:40px;
}
.search-icon {
  background: url('images/pccart-cart-form-icon.png') no-repeat scroll left center transparent;
  padding-left: 20px;
  margin-bottom:10px;
  margin-top:-10px;
}
.select-replacement {
  position:relative;
}
.select-replacement > .dropdown {
  position:absolute;
  z-index:1000;
  /*right:0;*/
  display:none;
  margin-top:-1px;
  max-width:600px;
} 
.page-node-670 .select-replacement > .dropdown {
  position:absolute;
  z-index:1000;
  display:none;
  margin-top:-1px;
  max-width:600px;
  left: 0;
  width: 600px;
}
.select-replacement > .dropdown > .dropdown-content {
  margin-top:10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border:solid 1px #D2D2D2;
  -moz-box-shadow: 1px 2px 5px gray;
  -webkit-box-shadow: 1px 2px 5px gray;
  box-shadow: 1px 2px 5px gray;
  display:inline-block;
  background-color:white;
}
.select-replacement > .dropdown > .dropdown-content fieldset > .fieldset-wrapper, .page-products #pcproducts-product-form .select-replacement > .dropdown > .dropdown-content fieldset > .fieldset-wrapper {
  display:inline-block;
  width:600px;
  padding:0;
  border:none;
}
.select-replacement > .dropdown > .dropdown-content fieldset > legend > .fieldset-legend, .page-products #pcproducts-product-form .select-replacement > .dropdown > .dropdown-content fieldset > legend > .fieldset-legend {
  border:0px;
  border-bottom:1px solid #d2d2d2;
}
.select-replacement > .select {
  line-height:20px;
  padding:5px 40px 5px 10px;
  font-size:13px;
  color: #009BDA;
  background-color:#fff;
  border: solid 1px #D2d2d2;
  background: #fff url('images/drop_down.png') right top no-repeat;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  overflow:hidden;
  cursor: pointer;
  display:block;
}

.select-replacement > .dropdown > .dropdown-content fieldset > .fieldset-wrapper > table > tbody > tr > td {
  padding: 0;
}

.select-replacement > .dropdown .item2, .page-products #block-system-main .select-replacement > .dropdown .item2 {
  padding:2px 10px;
  margin:0 auto;
  background:none;
  width:130px;
  text-align:left;
  vertical-align: top;

  margin-left: 10px;
  padding-left: 14px;
  background: url("images/bullet.png") no-repeat left center;
}

.select-replacement > .dropdown .item, .page-products #block-system-main .select-replacement > .dropdown .item {
  padding:2px 10px;
  margin:0 auto;
  background:none;
  width:120px;
  text-align:center;
  vertical-align: top;
}


.select-replacement > .dropdown .item img {
  max-width:120px;
  max-height:120px;
}
.select-replacement > .dropdown .item > h3 {
  text-align:center;
}
.select-replacement > .dropdown .item:hover, .page-products #block-system-main .select-replacement > .dropdown .item:hover {
  /* background-color: #F0F0F0;*/
  cursor: pointer;
}

.select-replacement > .dropdown .item2:hover, .page-products #block-system-main .select-replacement > .dropdown .item2:hover {
  cursor: pointer;
  color: #009bda;
  text-decoration: underline;
}

.select-replacement.disabled > a{
  color:#D2D2D2;
}
.select-replacement.disabled > a:hover{
  color:#D2D2D2;
  text-decoration:none;
  cursor:default;
}

fieldset.collapsible .fieldset-title {
  background:url(images/expanded.png) center right no-repeat;
  display:block;
  outline: none;
}
fieldset.collapsible.collapsed .fieldset-title {
  background:url(images/collapsed.png) center right no-repeat;
  outline: none;
}
.rotator-wrapper > .controller {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  opacity: 0.75;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: absolute;
  z-index: 99;
  margin-top:221px;
}

div#block-pcsamplepacks-request.block div.content form#pcsamplepacks-request-block-form.jquery-once-1-processed div div.form-item input{
  width: 135px;
}

.templates-table{
  padding:0px;
  vertical-align:middle;
}
.templates-table td{
  height:15px;
  padding:0px;
}
.list_asitshouldlook > li {
  height:22px;
}

div.error {
  background: url("/sites/all/themes/printconcept/css/images/alert.png") no-repeat scroll 0 50% #D5E9FD;
  border: 1px solid #BAD2DA;
  border-radius: 7px 7px 7px 7px;
  color: #666666;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px 50px;
}
div.messages ul{
  margin: 0 0 0 20px;
}
#block-pcmenu-main > .content > ul > li > .dropdown > .content {
  background: url("images/dropdown.jpg") repeat-x scroll left top #F0F0F0;
  border: 1px solid #D2D2D2;
  border-radius: 4px 4px 4px 4px;
}


/* H1 title */

div.section-header h1.title{text-indent: -999em;}

/* fonts */
@font-face {
  font-family: 'DaxBlack';
  src: url('fonts/dax-black-webfont.eot');
  src: url('fonts/dax-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-black-webfont.woff') format('woff'),
    url('fonts/dax-black-webfont.ttf') format('truetype'),
    url('fonts/dax-black-webfont.svg#') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxRegular';
  src: url('fonts/dax-regular-webfont.eot');
  src: url('fonts/dax-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-regular-webfont.woff') format('woff'),
    url('fonts/dax-regular-webfont.ttf') format('truetype'),
    url('fonts/dax-regular-webfont.svg#DaxRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxBold';
  src: url('fonts/dax-bold-webfont.eot');
  src: url('fonts/dax-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-bold-webfont.woff') format('woff'),
    url('fonts/dax-bold-webfont.ttf') format('truetype'),
    url('fonts/dax-bold-webfont.svg#DaxBold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxMedium';
  src: url('fonts/dax-medium-webfont.eot');
  src: url('fonts/dax-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-medium-webfont.woff') format('woff'),
    url('fonts/dax-medium-webfont.ttf') format('truetype'),
    url('fonts/dax-medium-webfont.svg#DaxMedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxItalic';
  src: url('fonts/dax-italic-webfont.eot');
  src: url('fonts/dax-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-italic-webfont.woff') format('woff'),
    url('fonts/dax-italic-webfont.ttf') format('truetype'),
    url('fonts/dax-italic-webfont.svg#DaxItalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxBoldItalic';
  src: url('fonts/dax-bolditalic-webfont.eot');
  src: url('fonts/dax-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-bolditalic-webfont.woff') format('woff'),
    url('fonts/dax-bolditalic-webfont.ttf') format('truetype'),
    url('fonts/dax-bolditalic-webfont.svg#DaxBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;

}
/* END - fonts */

/* Cufon replace with font-face */
h1, h2, h3, h4, .fieldset-lengend, input[type=submit], .button, th, .font{
  font-family: 'DaxRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#block-pcmenu-main > .content > ul > li > a{
  font-family: 'DaxMedium', Arial, Helvetica, sans-serif;
  font-weight: normal;	
}
/* END - Cufon replace with font-face */


#block-pccalculator-calculator h2, #block-pcsamplepacks-request h2, #block-pccalculator-calculator2 h2{
  font-size: 23px;	
}

#block-pccalculator-calculator, #block-pccalculator-calculator2{
  color: #666 !important;
  border-color: #eacc00 !important; /* LightGreen: #7fa600 !important; */ /* DarkGreen: #4a7200 !important; */
  
  background: #ffde00 !important; /* LightGreen: #b2d400 !important; */ /* DarkGreen: #669e00 !important; */
background: -moz-linear-gradient(top,  #ffde00 0%, #ffa800 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffde00), color-stop(100%,#ffa800)) !important; /* LightGreen: #b2d400 en #99c800 */ /* DarkGreen: #669e00 en #77b800 */
background: -webkit-linear-gradient(top,  #ffde00 0%,#ffa800 100%) !important;
background: -o-linear-gradient(top,  #ffde00 0%,#ffa800 100%) !important;
background: -ms-linear-gradient(top,  #ffde00 0%,#ffa800 100%) !important;
background: linear-gradient(top,  #ffde00 0%,#ffa800 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde00', endColorstr='#ffa800',GradientType=0 );

}

#block-pccalculator-calculator h2, #block-pccalculator-calculator2 h2{
  color: #666 !important;
}


/* .lc5errmsg{
display: none;
} */
.page-mailme, .page-callmeback{
}

.page-mailme img, .page-callmeback img{
  float: left;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #d2d2d2;
  margin-right: 10px;
}


.page-mailme h4, .page-callmeback h4{
  font-size: 22px;
  color: #009bda;
  line-height: 50px;
  float: left;
}

.page-mailme form, .page-callmeback form{
  width: 400px;	
}

.page-mailme div#edit-image, .page-callmeback div#edit-image{
  margin-right: 10px;
  float: left;
}

.page-mailme form div#edit-image img, .page-callmeback form div#edit-image img{
  float: none;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #d2d2d2;
}

.page-mailme form  div.form-item input, .page-callmeback form div.form-item input{
  width: 380px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.page-mailme form textarea, .page-callmeback form textarea{
  /* width: 380px; */
  resize: none;
  height: 130px;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  padding: 10px;
  margin-bottom: 10px;
}

/* GIFTVOUCHERS */

#pcgiftvouchers-config-form table.grid tr {
	width: 147px !important;
}

#pcgiftvouchers-config-form table.grid td {
	text-align: center;	
}

.page-giftvouchers #edit-text, .page-giftvouchers #edit-delivery, .page-giftvouchers #edit-text--2 {
	display: none;
}

.page-giftvouchers #gv-header {
	display: block;
	background: url(images/gv_header.png) no-repeat;
	width: 618px;
	height: 178px;
	border: 1px solid #d2d2d2;
	border-radius: 7px 7px 7px 7px;
	margin: 0 0 20px 0;
}

.page-giftvouchers .price {
	color: #009bda;
	font-weight: normal;
	font-family: 'DaxRegular', Arial, Helvetica, sans-serif;
}

.page-giftvouchers .price .currency {
	font-size: 75% !important;
}

/* END - GIFTVOUCHERS */



#fancybox-outer{
  background:white url("images/ajax-loader-large.gif") no-repeat 50% 50%;
}


#block-pcsamplepacks-request h2{
	margin-bottom: 30px;
}

/* PC TEMPLATES - CO BRANDED - ABC */
.page-cobranding-abc.page-templates-config .section-main > .left{float: right;}
.page-cobranding-abc.page-templates-config .section-main > .right{float: left;}
.page-cobranding-abc.page-templates-config .pages{width: 100% !important;}
.page-cobranding-abc.page-templates-config #edit-pages{
	width: 620px !important;
	padding-right: 0 !important;
	background: #f0f0f0 !important;
	border-radius: 4px 4px 0 0;
}
.page-cobranding-abc.page-templates-config #edit-pages img{max-width: 245px !important;}
.page-cobranding-abc.page-templates-config #edit-1,
.page-cobranding-abc.page-templates-config #edit-2{float: left;}
.page-cobranding-abc.page-templates-config .region-content .description{
	background: none repeat scroll 0 0 #F0F0F0 !important;
    display: inline-block !important;
    padding: 10px !important;
    vertical-align: top !important;
    width: 600px !important;
	border-top: 1px solid #d2d2d2;
	border-radius: 0 0 4px 4px;
}
.page-cobranding-abc.page-templates-config .region-content .description .form-item{
	clear: none !important;
    float: left !important;
    width: 290px !important;
	margin: 5px 0 !important;
}

.page-cobranding-abc.page-templates-config #edit-1{
	margin-left: 150px;	
}

.page-cobranding-abc.page-templates-config .region-content .description .details,
.page-cobranding-abc.page-templates-config .region-content .description .dimension{
	background: none !important;
	padding-left: 0 !important;
	margin-bottom: 10px;
}

.page-cobranding-abc.page-templates-config .region-content .description label{
	float: left !important;	
}

.page-cobranding-abc.page-templates-config .region-content .description a{
	color: #666;
}

.page-cobranding-abc.page-templates-config .region-content #pctemplates-config-form .description h4.dimension{
	color: #666 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	font-weight: bold !important;
	float: left !important;
	width: 100px !important;
	margin: 5px 0 !important;
	line-height: 1.6 !important;
}

.page-cobranding-abc.page-templates-config .region-content #pctemplates-config-form .description div#edit-name--2.form-item{
	width: 20px !important;	
}
/* END - PC TEMPLATES - CO BRANDED - ABC */

/* PC TEMPLATES - DEFAULT */
.page-templates-config .section-main > .left{float: right;}
.page-templates-config .section-main > .right{float: left;}
.page-templates-config .pages{width: 100% !important;}
.page-templates-config #edit-pages{
	width: 620px !important;
	padding-right: 0 !important;
	background: #f0f0f0 !important;
	border-radius: 4px 4px 0 0;
	border: 1px solid #d2d2d2;
	border-bottom: none;
}
.page-templates-config #edit-pages img{max-width: 245px !important;}
.page-templates-config #edit-1,
.page-templates-config #edit-2{float: left;}
.page-templates-config .region-content .description{
	background: none repeat scroll 0 0 #F0F0F0 !important;
    display: inline-block !important;
    padding: 10px !important;
    vertical-align: top !important;
    width: 600px !important;
	border: 1px solid #d2d2d2;
	border-radius: 0 0 4px 4px;
}
.page-templates-config .region-content .description .form-item{
	clear: none !important;
    float: left !important;
    width: 290px !important;
	margin: 5px 0 !important;
}

/*.page-templates-config #edit-1{
	margin-left: 150px;	
}*/

.page-templates-config .region-content .description .details,
.page-templates-config .region-content .description .dimension{
	background: none !important;
	padding-left: 0 !important;
	margin-bottom: 10px;
}

.page-templates-config .region-content .description label{
	float: left !important;	
}

.page-templates-config .region-content .description a{
	color: #666;
}

.page-templates-config .region-content #pctemplates-config-form .description h4.dimension{
	color: #666 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	font-weight: bold !important;
	float: left !important;
	width: 100px !important;
	margin: 5px 0 !important;
	line-height: 1.6 !important;
}

.page-templates-config .region-content #pctemplates-config-form .description div#edit-name--2.form-item{
	width: 20px !important;	
}
/* END - PC TEMPLATES - DEFAULT */

/* COBRANGDING */
.front.page-cobranding form#pccontact-contact-form{
	background-color: #ffffff;
	float: right;
	padding: 10px;
	width: 700px;
}

.front.page-cobranding-nv-a form#pccontact-contact-form{
   display:none;
}

.front.page-cobranding form#pccontact-contact-form div.form-item{
	float: left;
	margin-right: 20px;
	clear: none !important;
}

.page-cobranding form#pccontact-contact-form label{
	/* display: inline;	*/
}

.front.page-cobranding form#pccontact-contact-form input{
	width: 150px;	
}

.front.page-cobranding form#pccontact-contact-form input[type="submit"]{
	float: right;
	position: relative;
	top: 30px;
	width: 120px;
}
/* END - COBRANDING*/

.deadlines a{
	padding: 10px 0 10px 20px;
	position: relative;
	top: 5px;
	background: url("images/question_mark.png") no-repeat left center;
}

#deadlinestooltip table{
	border-collapse: separate;
	border-spacing: 0;
	margin: 10px 0;
}

#deadlinestooltip table tr.odd td.supply,
#deadlinestooltip table tr.odd td.shipping,
#deadlinestooltip table tr.odd td.delivery,
#deadlinestooltip table tr.even td.supply,
#deadlinestooltip table tr.even td.shipping,
#deadlinestooltip table tr.even td.delivery{
	width: 140px;
	padding: 10px;
	margin: 0;
	background: #f0f0f0;
	border: 1px solid #d2d2d2;
	text-align: center;
}

#deadlinestooltip table tr.odd td.supply{
	border-bottom: none;
	border-right: none;
	border-radius: 7px 0 0 0;
}

#deadlinestooltip table tr.odd td.shipping{
	background: #f0f0f0 url("/sites/all/themes/printconcept/css/images/pt_border_2_grey.gif") repeat-y scroll left center;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

#deadlinestooltip table tr.odd td.delivery{
	background: #f0f0f0 url("/sites/all/themes/printconcept/css/images/pt_border_2_grey.gif") repeat-y scroll left center;
	border-bottom: none;
	border-left: none;
	border-radius: 0 7px 0 0;
}

#deadlinestooltip table tr.even td.supply{
	border-radius: 0 0 0 7px;
	border-right: none;
}

#deadlinestooltip table tr.even td.shipping{
	background: #f0f0f0 url("/sites/all/themes/printconcept/css/images/pt_border_2_grey.gif") repeat-y scroll left center;
	border-left: none;
	border-right: none;
}

#deadlinestooltip table tr.even td.delivery{
	background: #f0f0f0 url("/sites/all/themes/printconcept/css/images/pt_border_2_grey.gif") repeat-y scroll left center;
	border-left: none;
	border-radius: 0 0 7px 0;
}
