<fieldset id="detailCommande" class="overview form-wrapper">
    <legend>
        <span class="fieldset-legend"><%= config.labels['orderOverview'] %></span>
    </legend>
    <div class="fieldset-wrapper wrap-table-detailcmd">
        <table class="sticky-enabled"> 
            <thead><tr><th class="first-child"><%= config.labels['description'] %></th><th class="last-child"><%= config.labels['price'] %></th> </tr></thead>
            <tbody>
                <% _.each(model.orderItems, function(orderItem, i) {%>
                    <tr class="item odd first-child">
                        <td class="first-child"><%= orderItem.quantity %> 
                            <% if (orderItem.customWidth != 0 && orderItem.customHeight != 0) { %>
                                <%= orderItem.configuration.name %> - <%= orderItem.customWidth %> X <%= orderItem.customHeight %> mm
                            <% } else { %>
                                <%= orderItem.configuration.name %> - <%= orderItem.configuration.config[0].name %>
                            <% } %>
                        </td>
                        <td class="last-child">
                            <% if (orderItem.customWidth != 0 && orderItem.customHeight != 0){%>
                                <%= priceTpl({price:orderItem.price,classToAdd:'price'}) %>
                            <% }else{%>
                                <%  if(orderItem.price < orderItem.originPrice){%>
                                    <% var prefixsFR = ["frfr"];        
                                    if ($.inArray(GlobalPrefix, prefixsFR) == 0){%>
                                    <div class="origin-price"><del><%=orderItem.originPrice%> &euro;</del></div>
                                    <% }else{%>
                                        <div class="origin-price"><del>&euro; <%=orderItem.originPrice%></del></div>
                                    <%}%>
                                    <%= priceTpl({price:orderItem.price,classToAdd:'price'}) %>
                                <%}else{%>
                                    <%= priceTpl({price:orderItem.price,classToAdd:'price'}) %>
                                <%}}%>
                        </td>
                    </tr>
                    <!-- fotolia -->
                    <% if (orderItem.fotoliaItems.length>0) { %>
                        <% _.each(orderItem.fotoliaItems, function(fotolia, i){ %>
                            <tr><td><span><%= config.labels.fotoliaImg %> &nbsp;"<%= fotolia.fotoliaId %>"</span></td>
                                <td class='last-child'><%= priceTpl({price:fotolia.price,classToAdd:'pricepreflight'}) %></td>
                            </tr>
                        <% }); %>
                    <% }  %>
                     <!-- Controle professionel -->
                    <% if(orderItem.fileCheck.hasOwnProperty('price')) { %>
                        <tr><td><%= config.labels['controleProfessionel'] %></td>
                            <td class='last-child'><%= priceTpl({price:orderItem.fileCheck.price,classToAdd:'price'}) %></td>
                        </tr>
                    <% }  %>
                    <!-- modele payant -->
                    <% if(orderItem.designTemplate && orderItem.designTemplate.price) { %>
                    <tr><td><%= orderItem.designTemplate.description %></td>
                        <td class='last-child'><%= priceTpl({price:orderItem.designTemplate.price,classToAdd:'price'}) %></td>
                    </tr>
                    <% }  %>
                <%});%>
                 
                <tr class="even">
                    <td class="first-child"><%= model.orderItemShipping.shippingTypeTitle %></td>
                    <td class="last-child"><%= priceTpl({price:(model.orderItemShipping.price)}) %></td> 
                </tr>
                
                <% if (model.discountItems.length>0) { %>
                 <% _.each(model.discountItems, function(discountItem, i){ %>
                            <tr><td><span><%= discountItem.description %></span></td>
                                <td class='last-child'><%= priceTpl({price:discountItem.price,classToAdd:'pricepreflight'}) %></td>
                            </tr>
                        <% }); %>
                    <% }  %>
             
        
                <% var subtotal = model.subTotalAmount %>
                <% if( model.paymentTag != '' ) { %>
                <tr><td class="first-child"><%= model.paymentTag %></td>
                  
                    <td class="last-child"><%= priceTpl({price:(model.paymentPrice)}) %></td>
                </tr>
                 <% } else {%>
                <% subtotal = model.subTotalAmount }%>
               
                <tr class="total-excl-vat odd last-child"><td class="first-child"><%= config.labels['htva'] %></td>
                    <td class="last-child txt-orange txt-bold"><%= priceTpl({price:(subtotal)}) %></td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>