<div id="edit-actions" class="actions form-actions clearfix form-wrapper">
    <div id="total-price">
        <span class="price" id="price">
            <label>
              yes <%= config.labels['subTotalWithTVA'] %>
            </label>                 
        </span>
  
       <%= priceTpl({price:subTotalAmount * (1 + config.vat)}) %>
    </div>
    <div class="button-wrapper button-wrapper-right">
        <input type="button" value="<%= config.labels['paynow'] %>" name="op" id="actionPayment" class="payment form-submit" role="button">
    </div>
</div>