/* ---- Browser text selection ----------------- */
::selection{color:#fff;background:#009bda}
::-moz-selection{color:#fff;background:#009bda}

/* ---- Fonts ---------------------------------- */
@font-face {
  font-family: 'DaxBlack';
  src: url('fonts/dax-black-webfont.eot');
  src: url('fonts/dax-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-black-webfont.woff') format('woff'),
    url('fonts/dax-black-webfont.ttf') format('truetype'),
    url('fonts/dax-black-webfont.svg#') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxRegular';
  src: url('fonts/dax-regular-webfont.eot');
  src: url('fonts/dax-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-regular-webfont.woff') format('woff'),
    url('fonts/dax-regular-webfont.ttf') format('truetype'),
    url('fonts/dax-regular-webfont.svg#DaxRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxBold';
  src: url('fonts/dax-bold-webfont.eot');
  src: url('fonts/dax-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-bold-webfont.woff') format('woff'),
    url('fonts/dax-bold-webfont.ttf') format('truetype'),
    url('fonts/dax-bold-webfont.svg#DaxBold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxMedium';
  src: url('fonts/dax-medium-webfont.eot');
  src: url('fonts/dax-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-medium-webfont.woff') format('woff'),
    url('fonts/dax-medium-webfont.ttf') format('truetype'),
    url('fonts/dax-medium-webfont.svg#DaxMedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxItalic';
  src: url('fonts/dax-italic-webfont.eot');
  src: url('fonts/dax-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-italic-webfont.woff') format('woff'),
    url('fonts/dax-italic-webfont.ttf') format('truetype'),
    url('fonts/dax-italic-webfont.svg#DaxItalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DaxBoldItalic';
  src: url('fonts/dax-bolditalic-webfont.eot');
  src: url('fonts/dax-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dax-bolditalic-webfont.woff') format('woff'),
    url('fonts/dax-bolditalic-webfont.ttf') format('truetype'),
    url('fonts/dax-bolditalic-webfont.svg#DaxBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* ---- Reset ---------------------------------- */
html,
body{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 18px;
  font-size:12px;
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: none;
}

body{
  background: url("images/background_2012_november.jpg") no-repeat center 130px;
}

#canvas{

}

.container{
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 960px;
}

img{
  display: block;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active{
  color: #009bda;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

p,
abbr,
s,
ol,
ul,
li,
li a,
li a:visited,
li a:active,
select,
input[type="submit"],
input[type="text"],
input[type="password"]{
  color: #000;
}

li a:hover{
  color: #009bda;	
}

ul{
  margin: 10px 0;
  padding: 0;
}

ul > li,
ul > li.expanded,
ul > li.collapsed,
ul > li.leaf{
  line-height: 22px;
  list-style: none outside url("images/bullet.png");
  margin: 0 0 0 15px;
}

h1,
h2,
h3,
h4,
.fieldset-legend,
input[type="submit"],
.button,
th,
.font{
  font-family: 'DaxRegular',Arial,Helvetica,sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4{
  color: #009BDA;
  margin: 0;
  padding: 0;
}

h1{
  margin-bottom: 10px;
}

div.messages{
  border-radius: 4px 4px 4px 4px;	
}

.more-link{
	text-align: left;	
}

/* ---- Tables --------------------------------- */
table,
table tbody{
  border: 0 none;
  width: 100%;
}

table thead{
  color: #fff;
  background: #009bda;
}

table thead th{
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 18px;	
  border-bottom: 0 none;
}

table tr,
table tr.even,
table tr.odd{
  background: none;
  border-top: 1px solid #D2D2D2;
}

table tbody tr.even{
  background: rgba(0,0,0,0.05);
}

table tbody tr.custom{
  background: #CCEBF8;
}

table tbody td{
  line-height: 25px;
  vertical-align: top;
}

/* ---- Labels, Inputs & Selects --------------- */
.form-type-select label,
.form-type-textfield label,
.form-type-password label{
  line-height: 38px;
}

.form-type-checkbox label{
  line-height: inherit;	
}

select,
input[type="submit"],
input[type="text"],
input[type="password"]{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  padding: 9px;
  height: 38px;
}

a.select{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  display: block;
  background: #fff url("images/drop_down.png") no-repeat top right;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  padding: 7px 39px 7px 10px;
  min-height: 32px;
  outline: none;
}

/* ---- Fieldset ------------------------------- */
fieldset{
  border: 0 none;
  margin: 10px 0;
  padding: 0;
  /*background:white;*/
}

fieldset legend{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  background: #f4f4f4;
  border: 1px solid #d2d2d2;
  display: block;
  margin: 0;
  padding: 10px;
  width: 100%;
  color: #009bda;
  font-family: "DaxRegular",Arial,Helvetica,sans-serif;
  font-weight: normal;
  font-size: 14px;
  -webkit-border-radius: 4px 4px 0 0;	
  -moz-border-radius: 4px 4px 0 0;	
  border-radius: 4px 4px 0 0;	
}

fieldset .fieldset-wrapper{
  border: 1px solid #d2d2d2;
  border-top: 0;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0 0 4px 4px;	
  -moz-border-radius: 0 0 4px 4px;	
  border-radius:0 0 4px 4px ;	
}

fieldset .fieldset-wrapper .fieldset-wrapper{
  border: 0 none;	
}

fieldset .fieldset-wrapper legend{
  border-left: 0 none;
  border-right: 0 none;
}

#pcproducts-productconfig-form fieldset.step-1 > legend{
  border-radius: 4px 4px 0 0;	
}

#pcproducts-productconfig-form table thead{
  background: #009bda;
  color: #fff;
}

#pcproducts-productconfig-form table th{
  border: 0 none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#pcproducts-productconfig-form fieldset.step-1{
  margin-bottom: 0;
  border-bottom: 0 none;
}

#pcproducts-productconfig-form fieldset.step-2{
  margin-top: 0;	
}

#pcproducts-productconfig-form fieldset.step-1 > legend > .fieldset-legend,
#pcproducts-productconfig-form fieldset.step-2 > legend > .fieldset-legend,
#pcproducts-productconfig-form .options legend > .fieldset-legend{
  background-image: url("images/1.png");
  background-position: left center;
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  height: 21px;
  line-height: 21px;
  padding-left: 30px;
}

#pcproducts-productconfig-form fieldset.step-2 > legend > .fieldset-legend{background-image: url("images/2.png");}
#pcproducts-productconfig-form .options legend > .fieldset-legend{background-image: url("images/3.png");}

/* ---- Framework ------------------------------ */
#header{
  height: 70px;
  margin-top: 10px;
  padding: 0;
}

#header > a{
  float: left;
  display:block;
}

#header .region-header-right{
  float: right;
}

#header .region-header-right .block{
  float: left;
  margin-left: 10px;
}

#site-slogan{
  color: #fff;
  font-size: 20px;
  font-family: 'DaxRegular',Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 50px;
}

#navigation{
  height: 40px;
  margin-bottom: 20px;
  padding: 0;
}

#navigation .region-nav-right{
	width: 460px;	
}

#main{
  background: #fff;
  border-radius: 7px 7px 0 0;
  padding: 10px;
}

.breadcrumb{
	font-size: 9px;
	padding-bottom: 5px;
}

.region-sidebar-first, .region-sidebar-second{
  float: left;
  width: 220px;
}

.region-sidebar-first{
  margin-right: 20px;	
}

.region-sidebar-second{
  margin-left: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  background: #f0f0f0;
  width: 278px;
  padding: 10px;
}

#content{
  width: 940px;
  float: left;
}

body.one-sidebar.sidebar-first #content{
  float: left;
  width: 700px;
}

body.one-sidebar.sidebar-second #content{
  float: left;
  width: 620px;
}

body.two-sidebars #content{
  float: left;
  width: 380px;
}

#bottom{
  background: url("images/footer_back.jpg") repeat-x center top;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

#inner-bottom{
  padding: 10px 10px 0 10px;
}

.region-triptych .block:nth-child(3){
    float: right;
	position: relative;
    width: 300px;
}

#inner-bottom .region-closure{
  font-size: 10px;
  margin: 5px 0 20px 0;
  padding: 0;
}

#inner-bottom .region-closure .menu{
  margin: 0;
  padding: 0;
}

#inner-bottom .region-closure .menu li{
  border-right: 1px solid #d2d2d2;
  line-height: 12px;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0 10px 0 0;
}

#inner-bottom .region-closure .menu li.first{
  margin: 0;	
}

#inner-bottom .region-closure .menu li.last{
  border-right: 0 none;
  padding: 0;
}

#triptych{
  min-height: 210px;	
}

#triptych h2{
	font-size: 14px;	
}

#footer{
  background: url("images/footer.png") no-repeat center bottom;
	height: 60px;
    margin-left: -10px;
    margin-right: -10px;
	margin-top: -25px;
    padding: 10px 10px 0;
	position: relative;
}

#footer #site-slogan{
	line-height: 40px;	
}

#footer li{
	margin: 0 10px 0 0;	
}


#footer .block-pcpayments li{
	float:left;
  list-style:none;
}

#footer ul{
	margin: 10px 0 0 0;	
}

/*
#footer ul img[src*=paypal]{
	background: rgba(255,255,255,0.75);
	border-radius: 4px 4px 4px 4px;
}
*/

/* ---- Navigation ----------------------------- */
#navigation > ul#main-menu{
  border: 1px solid #d2d2d2;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 1px 1px 3px #D2D2D2;
  height: 38px;
  margin: 0;
  overflow: hidden;
  padding: 0;
/*  width: 480px;*/
}

#navigation > ul#main-menu > li{
  float: left;
  line-height: 38px;
  list-style: none;
  margin: 0;
}


#navigation > ul#main-menu > li > a{
  background-image: url(images/navigation.png);
  display: block;
  font-family: 'DaxMedium',Arial,Helvetica,sans-serif;
  font-weight: normal;
  padding: 0 0 0 15px;
  width: 105px;
}

#navigation > ul#main-menu > li:hover > a{
  background-position: 0 -40px;
  color: #fff;
  text-decoration: none;	
}

#navigation > ul#main-menu > li:nth-child(1) > a{background-position: 0px 0;}
#navigation > ul#main-menu > li:nth-child(2) > a{background-position: 360px 0;}
#navigation > ul#main-menu > li:nth-child(3) > a{background-position: 240px 0;}
#navigation > ul#main-menu > li:nth-child(4) > a{background-position: 120px 0;}

#navigation > ul#main-menu > li:nth-child(1):hover > a{background-position: 0px -40px;}
#navigation > ul#main-menu > li:nth-child(2):hover > a{background-position: 360px -40px;}
#navigation > ul#main-menu > li:nth-child(3):hover > a{background-position: 240px -40px;}
#navigation > ul#main-menu > li:nth-child(4):hover > a{background-position: 120px -40px;}


/* ---- Page: Products ------------------------- */

#pcproducts-products-form fieldset{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
}

#pcproducts-products-form fieldset .fieldset-wrapper{
  padding:10px;
}

#pcproducts-products-form ul li{
  background: #f7f7f7;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  list-style: none outside none;
  margin-bottom: 10px;
  margin-right: 2%;
  padding: 10px;
  width: 178px;
  width:32%;
}

#pcproducts-products-form ul li:nth-child(3n){
  margin-right: 0;	
}

#pcproducts-products-form ul li a,
#pcproducts-products-form ul li a:visited,
#pcproducts-products-form ul li a:hover,
#pcproducts-products-form ul li a:active{
  text-decoration: none;
  color: inherit;
}

#pcproducts-products-form ul li .order,
#pcproducts-products-form ul li:visited .order{
  color: #009bda;
}

#pcproducts-products-form ul li:hover .order,
#pcproducts-products-form ul li:active .order{
  text-decoration: underline;
}

#pcproducts-products-form ul li h2{
  font-size: 16px;
  margin: 0;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 1px solid #d2d2d2;
}

#pcproducts-products-form ul li img{
  background: url("images/product_bow.png") no-repeat center bottom;	
  padding-bottom: 17px;
}


/* ---- Page: Products overview ------------------------- */

#pcproducts-productoverview-form fieldset{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
}


/* ---- PAGE: Products 2 ----------------------- */
#pcproducts-productconfig-form fieldset.step-1 .fieldset-wrapper{
  border-bottom: 0 none;	
  padding: 0 10px 10px 10px;	
  width: 598px;
  -webkit-border-radius:0;
  -moz-border-radius: 0;
  border-radius:0;  
}

#pcproducts-productconfig-form fieldset.step-2 .fieldset-wrapper{
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}


#pcproducts-productconfig-form fieldset.step-2 legend{
  border-bottom: 0 none;
  -webkit-border-radius:0;	
  -moz-border-radius: 0;	
  border-radius: 0;	
}

#pcproducts-productconfig-form fieldset.step-2 .options legend{
  border-bottom: 1px solid #d2d2d2;	
}

#pcproducts-productconfig-form .step-1 .description .text{display: none;}

#pcproducts-productconfig-form .step-1 .configuration .form-item{
  clear: both;
  margin-bottom: 10px;	
}

#pcproducts-productconfig-form .step-1 .configuration{
  margin-top: 10px;	
}

#pcproducts-productconfig-form .step-1 .configuration .form-item{
  margin: 0 0 10px 0;
  width: 100%;
}

#pcproducts-productconfig-form .step-1 .configuration .form-item > div{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  min-height: 32px;
  padding: 7px 10px;
}


#pcproducts-productconfig-form .step-1 .configuration .dropdown{
  box-sizing:border-box;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  background: #fff;
}

#pcproducts-productconfig-form .step-1 .configuration .dropdown legend{
  border: 1px solid #d2d2d2;
}
#pcproducts-productconfig-form .step-1 .configuration .dropdown .fieldset-wrapper{
  border: 1px solid #d2d2d2;
  padding:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  width:100%;
}

#pcproducts-productconfig-form .step-1 .configuration label{
  width: 35%;
  line-height: 32px;
}

#pcproducts-productconfig-form .step-1 .configuration .form-item > div,
#pcproducts-productconfig-form .step-1 .configuration a.select{
  width: 65%;
  float: left;
}

.page-products- #pcproducts-productconfig-form table.grid tbody tr.even{
  background: none;
}

#pcproducts-productconfig-form .form-item-step2-custom-quantity{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  padding: 5px 10px;
  background: #CCEBF8;
}

#pcproducts-productconfig-form .options .form-checkboxes{
  margin: 0 10px;	
}

#pcproducts-productconfig-form .options table thead{
  display: none;
}

#pcproducts-productconfig-form .options table > tbody > tr{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  background-color: #fff;
  float: left;
  width: 50%;
  border: 0 none;
  padding: 0;
}

#pcproducts-productconfig-form .options table > tbody > tr.odd{
  clear: both;
  border-right: 1px solid #D2D2D2;
}

#pcproducts-productconfig-form .options table tbody td{
  white-space: nowrap;
  padding: 5px;
  line-height: 28px;
  border-bottom: 1px solid #d2d2d2;
  vertical-align: middle;
}

#pcproducts-productconfig-form table.grid tbody tr td:nth-child(4){
  background: #f0f0f0;
  color: #009bda;
  font-weight: bold;
  width: 80px;
}

#pcproducts-productconfig-form .options div.form-type-checkbox{
  margin-left: 5px;	
}


#pcproducts-productconfig-form .options tr td.name{
	line-height: 14px;
	width: 100%;
	white-space: normal;
}

#pcproducts-productconfig-form .options table tbody td.priceincvat,
#pcproducts-productconfig-form .options table tbody td.priceexcvat{
  font-size: 10px;
}

#pcproducts-productconfig-form .options table tbody td.priceexcvat{
  color: #009bda;
  background: #f0f0f0;
  font-weight: bold;
}

#pcproducts-productconfig-form .shipping{
  height: 149px;
  margin: 0;
  width: 408px;
  background: #f0f0f0;
  border-top: 1px solid #d2d2d2;
  float: left;
}



#pcproducts-productconfig-form .shipping > .fieldset-wrapper > div{
  background: #f0f0f0;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 1px solid #d2d2d2;
  padding: 70px 10px 10px 10px;
  height: 150px;
  margin: 0;
  width: 136px;
  text-align: center;
}

#pcproducts-productconfig-form .shipping > .fieldset-wrapper > div.deadline{
  background: #D2D2D2 url("images/pt_icon_1.png") no-repeat center 10px;
}

#pcproducts-productconfig-form .shipping > .fieldset-wrapper > div.shipping{
  background: #f0f0f0 url("images/pt_icon_2.png") no-repeat center 10px;
}

#pcproducts-productconfig-form .shipping > .fieldset-wrapper > div.delivery{
  background: #f0f0f0 url("images/pt_icon_3.png") no-repeat center 10px;
}

#pcproducts-productconfig-form .shipping legend{
  display: none;	
}

#pcproducts-productconfig-form fieldset.step-2 .deadlines{
	left: -15px;
  position: absolute;
  margin-top: 165px;
  width: 350px;
  z-index: 8;
}

#pcproducts-productconfig-form fieldset.step-2 .deadlines .description{
	padding: 10px;
	width: 330px;
}

#pcproducts-productconfig-form fieldset.step-2 .deadlines .fieldset-wrapper{
  overflow: hidden;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);
  border-radius: 4px 4px 4px 4px;
  left: 25px;
}

#pcproducts-productconfig-form fieldset.step-2 .deadlines legend{
  display: block;
  background: none;
  border-top: 0 none;
}

.page-products- .priceblock{
  background: #f0f0f0;
  border-top: 1px solid #d2d2d2;
  float: right;
  height: 69px;
  width: 190px;
  padding: 69px 10px 10px;
  clear: none;
}

.page-cart .priceblock .price label,
.page-products- .priceblock .price label{
  font-weight: normal;
  font-size: 12px;
}

.page-cart .priceblock .price.total .value,
.page-products- .priceblock .price.total .value{
  font-size: 20px;
  line-height: 0px;
}

.form-actions input[type="submit"],
.form-actions .button-wrapper{
  float: right;
  width: 210px;
}

.priceblock .price{
  margin-bottom: 10px;	
}

.priceblock .price.total{
  margin-bottom: 0;	
}

.priceblock .price label{
  font-weight: normal;	
}

.priceblock .price.total label{
  font-size: 12px;
  font-weight: bold;
}

.priceblock .price.total .value{
  font-size: 20px;	
}

/* ---- PAGE: Cart ----------------------------- */
.page-cart #content form fieldset.items,
.page-cart #content form fieldset.discounts,
.page-cart #content form fieldset.shipping{
  margin: 0;	
  border-bottom: 0 none;
}

.page-cart #content form fieldset.cart legend{
  background: #f0f0f0 url("images/icon_cart.png")	no-repeat 10px center;
  padding-left: 35px;
}
.page-cart #content form fieldset.discounts legend{
  background: #f0f0f0 url("images/icon_promo.png") no-repeat 10px center;
  padding-left: 35px;
}
.page-cart #content form fieldset.shipping legend{
  background: #f0f0f0 url("images/icon_shipping.png")	no-repeat 10px center;
  padding-left: 35px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.page-cart #content form fieldset.items > .fieldset-wrapper,
.page-cart #content form fieldset.shipping > .fieldset-wrapper{
  border-bottom: 0 none;
}

.page-cart #content fieldset.cart > legend{
  border-radius: 4px 4px 0 0;	
}

#pccart-cart-form .item{
  background: url("images/cart_item_bg.gif") repeat-y scroll right center transparent;
  padding: 10px 0;
}

#pccart-cart-form .item h3{
  margin-bottom: 10px;	
}

#pccart-cart-form .item label{
  display: inline;	
}

#pccart-cart-form .item .remove{
  right: 85px;
  top: 10px;
  border: 0 none;
  box-shadow: none;
}

#pccart-cart-form .item .price{
  color: #009bda;
  right: 10px;
  top: 10px;
  font-size: 12px;
  text-align: right;
  font-weight: bold;
}


#pccart-cart-form .item.discounts .remove,
#pccart-cart-form .item.discounts .price{
  top: 50px;
}

#pccart-cart-form .item.discounts .prefix{
  display: none;	
}

.page-cart form .item .description{
  float: right;
  width: 428px;
}

.page-cart form .item .image,
.page-cart form .item .upload{
  margin: 0 10px;
  width: 170px;
  float: left;
}

.page-cart form .item .image{
  width: 170px !important;
}

.page-cart form .item .image > a{
  border: 1px solid #d2d2d2;
  display: block;
  height: 120px;
}

.page-cart form .item .image > a > img{
  max-height: 120px;
  max-width: 160px;
  margin: 0 auto;
  width: inherit;
}

.page-cart form .item .image > div > a{
  background: #F1F1F1;
  border-top: 1px solid #fff;
  padding: 2px 10px;
  display: block;
}

#pccart-cart-form .item div.upload-box{
  background-color: #f90;
  background-position: center 40px;
  background-image: url("images/upload_white.png");
  border: 1px solid #f60;
  border-radius: 4px 4px 4px 4px;
  color: #fff;
  float: left;
  width: 168px;
  padding-top: 90px;
}

#pccart-cart-form .item div.upload-box .text{
  text-align: center;
  padding: 5px 10px;
  background: #ff9600 url('images/button_blue.png') repeat-x;
  background-size: 100% 100%;
  border: 1px solid #1d6684;
  border-radius: 4px 4px 4px 4px;
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(0,0,0,0.2);
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'DaxRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 10px;
  height: 28px;
  line-height: 28px;
}

.page-cart form .shipping > .fieldset-wrapper > table,
.page-cart form .shipping .footer{
  float: none;
  width: 100%;
}

#pccart-cart-form .shipping thead{
  display: none;
}

#pccart-cart-form .shipping tr,
#pccart-cart-form .shipping td{
  border: 0 none;
}

#pccart-cart-form .shipping td{
  padding: 5px 0;	
}

#pccart-cart-form .shipping td:first-child{
	width: 35px;
}

#pccart-cart-form .shipping td input[type="radio"]{
  margin: 0 0 0 10px;	
}

.page-cart form .shipping .footer > div{
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center 10px;
  float: left;
  width: 185px;
  border-right: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
  padding: 50px 10px 10px 10px;
  height: 50px;
  text-align: center;
}

.page-cart form .shipping .footer > div.deadline{
  background-image: url("images/pt_icon_1.png");
}

.page-cart form .shipping .footer > div.shipping{
  background-image: url("images/pt_icon_2.png");
  width: 186px;
}

.page-cart form .shipping .footer > div.delivery{
  background-image: url("images/pt_icon_3.png");
  border-right: 0 none;	
}

#pccart-cart-form .discount{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  width: 310px;
  padding: 10px 0 10px 10px;
  background: #f0f0f0;
  border-radius: 0 0 0 4px;
  border: 1px solid #d2d2d2;
  border-right: 0 none;
  height: 100px;
  margin: 0 0 0 -1px;
}

#pccart-cart-form .discount .fieldset-wrapper{
  border: 0 none;
  border-right: 1px solid #d2d2d2 !important;
  height: 78px;
  padding-right: 10px;
}

#pccart-cart-form .discount legend{
  display: none;	
}

#pccart-cart-form .discount .form-item-cart-discount-code{
  float: left;
  width: 55%;
  margin: 0 5% 0 0;
}

#pccart-cart-form .discount .form-type-item{
  margin: 0;	
}

#pccart-cart-form .discount input[type="text"]{
  width: 100%;	
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

#pccart-cart-form .discount input[type="submit"]{
  float: left;
  width: 40%;	
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

#pccart-cart-form .priceblock{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  background: #f0f0f0;
  border: 1px solid #d2d2d2;
  border-left: 0 none;
  border-radius: 0 0 4px 0;
  height: 100px;
  width: 310px;
  padding: 10px;
  margin: 0;
}

#pccart-cart-form .form-actions{
  /* float: right; */
}

#pccart-cart-form .form-actions a{
  margin:1em;
  line-height:40px;
}

.page-cart .form-actions .button-wrapper{
  float: right;
  width: 210px;
}

/* ---- PAGE: Checkout ------------------------- */
body.page-checkout{
  background-position: center 80px;	
}

.page-checkout #header{
  margin-bottom: 10px;
}

.page-checkout #navigation{
  display: none;	
}

.page-checkout .region-sidebar-second{
  margin-left: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  background: #f0f0f0;
  width: 358px; /* was 278px */
  padding: 10px;
}

body.one-sidebar.sidebar-second.page-checkout #content{
  float: left;
  width: 540px; /* 620px */
}

.page-checkout #content fieldset legend{
  border-radius: 4px 4px 0 0;	
}

.page-checkout #content fieldset.collapsed legend{
  border-radius: 4px 4px 4px 4px;	
}

.page-checkout #content fieldset.disabled legend{
  color: #d2d2d2;	
}

.page-checkout #content fieldset.first legend,
.page-checkout #content fieldset.second legend,
.page-checkout #content fieldset.third legend{
  background-image: url("images/1.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
}

.page-checkout #content fieldset.second legend{background-image: url("images/2.png");}
.page-checkout #content fieldset.third legend{background-image: url("images/3.png");}

.page-checkout #content fieldset.first.disabled legend{background-image: url("images/1_disabled.png");}
.page-checkout #content fieldset.second.disabled legend{background-image: url("images/2_disabled.png");}
.page-checkout #content fieldset.third.disabled legend{background-image: url("images/3_disabled.png");}

.page-checkout #content fieldset .fieldset-wrapper{
  border-radius: 0 0 4px 4px;	
  padding: 10px;
}

.page-checkout #content fieldset.second .invoice legend{
  background: #f0f0f0 url("images/need_invoice.png") no-repeat 10px 10px;
  height: 60px;
  line-height: 20px;
  padding: 20px 20px 0 60px;
  border-bottom: 0 none;
}

.page-checkout #content fieldset.invoice{
  margin-left: -10px;
  margin-right: -10px;
  background: #f0f0f0;
  border-bottom: 1px solid #d2d2d2;
}

.page-checkout #content fieldset.invoice .fieldset-wrapper{
  padding-top: 0;
}

.page-checkout #content fieldset.invoice .fieldset-wrapper .form-item{
  margin: 0 0 0 50px;
}

.page-checkout #content fieldset.invoice label{
  margin-right: 10px;
  width: inherit;	
}

.page-checkout #content fieldset.invoice legend{
  border-radius: 0 0 0 0;	
}

.page-checkout #content fieldset.third table{
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  width: 538px;
}

.page-checkout #content fieldset.third table tr{
  cursor: pointer;	
}

.page-checkout #content fieldset.third table tr:first-child{
  border-top: 0 none;	
}

.page-checkout #content fieldset.third table tr:hover{
  background: #f0f0f0!important;	
}

.page-checkout #content fieldset.third table tr.even{
  background: #f7f7f7;	
}

.page-checkout #content fieldset.third table tr td{
  line-height: 40px;	
}

.page-checkout #content fieldset.third table thead{
  display: none !important;	
}

.page-checkout .form-item-actions-agree{
  float: left;	
}

/* ---- Page: Orders --------------------------- */
.page-myprintconnect-orders- #content fieldset legend{
  border-radius: 4px 4px 0 0;
}

.page-myprintconnect-orders- #content fieldset#edit-extra legend{
  border-bottom: 0 none;
}

.page-myprintconnect-orders- #content fieldset .fieldset-wrapper{
  border-radius: 0 0 4px 4px;
  padding: 10px;	
}

.page-myprintconnect-orders- #content fieldset .fieldset-wrapper .fieldset-wrapper{
	padding: 0;	
}

#pcorders-order-form .order .details .item .image img{
	border: 1px solid #d2d2d2;	
}

.page-myprintconnect-orders- #content fieldset.overview{
  margin-left: -10px;
  margin-right: -10px;
}
.page-myprintconnect-orders- #content fieldset.overview legend{
  border-radius: 0 0 0 0;
}

.page-myprintconnect-orders- #content fieldset.overview .fieldset-legend{
  background:url(images/icon_add_blue.png) left center no-repeat;
  padding-left:20px;
}


.page-myprintconnect-orders- #content fieldset.overview .image{
  border: 1px solid #d2d2d2;	
  text-align: center;
}

.page-myprintconnect-orders- #content fieldset.delivery .fieldset-legend{
  background:url(images/shipping.png) left center no-repeat;
  padding-left:20px;
}

.page-myprintconnect-orders- #content fieldset.invoice .fieldset-legend{
  background:url(images/invoice.png) left center no-repeat;
  padding-left:20px;
}
.page-myprintconnect-orders- #content fieldset.invoices .fieldset-legend{
  background:url(images/invoice.png) left center no-repeat;
  padding-left:20px;
}



.page-myprintconnect-orders- .image img{
  max-width: 170px;	
}

.page-myprintconnect-orders- .image > a{
  background: #F1F1F1;
  border-top: 1px solid #fff;
  padding: 2px 10px;
  display: block;
}

#pcorders-order-form .item > .image{
  width: inherit;	
}

.page-myprintconnect-orders- .priceblock{
  background: #f0f0f0;
  margin: -10px;
  padding: 10px;
}

/* ---- Page: Login ---------------------------- */
.page-myprintconnect-forgotpassword #content .fieldset-wrapper,
.page-myprintconnect-login #content .fieldset-wrapper{
	padding: 10px;	
}

/* ---- Page: Views ---------------------------- */
#content .view-display-id-block_1 span span a{
	border: 1px solid #d2d2d2;
	border-radius: 4px 4px 0 0;
	width: 618px;
	height: 180px;
	display: block;
	overflow: hidden;
}

#content .view-display-id-block_1 .views-field-created{
	background: #f4f4f4;
	border: 1px solid #d2d2d2;
	border-top: 0;
	border-right: 0;
	border-radius: 0 0 0 4px;
	float: left;
	padding: 5px 0 5px 10px;
	width: 65px;	
}

#content .view-display-id-block_1 .views-field-term-node-tid{
	background: #f4f4f4;
	border: 1px solid #d2d2d2;
	border-top: 0;
	border-left: 0;
	border-radius: 0 0 4px 0;
	float: left;
	padding: 5px 10px 5px 0;
	width: 533px;
}

#content .view-display-id-block_1 h2{
	padding: 10px 0;	
}

#content .view-display-id-block_1 .views-field-title{
	clear: left;	
}

#content .view table tr{
	background: none;
	border: 0 none;
}

#content .view table tbody td{
	line-height: 18px;	
}

#content .view table.cols-3{
	margin: 20px 0;	
}

#content .view table.cols-3 h2{
	font-size: 14px;
	margin: 10px 0;
	padding-top: 10px;
}


#content .view table.cols-3 tr td{
	padding: 0 10px 0 0;
	width: 200px;
}

#content .view table.cols-3 tr td:last-child{
	padding: 0;
}

#content .view table.cols-3 tr td span span a{
	border: 1px solid #d2d2d2;
	border-radius: 4px 4px 0 0;
	display: block;
	overflow: hidden;
	width: 198px;
	max-height: 178px;
	min-height: 178px;
}

#content .view .view-display-id-block_1  span span a img,
#content .view table.cols-3 tr td span span a img{
	max-height: none;
	max-width: none;
	width: auto;
}

#content .view table.cols-3 .views-field-created{
	background: #f4f4f4;
	border: 1px solid #d2d2d2;
	border-top: 0;
	border-right: 0;
	border-radius: 0 0 0 4px;
	float: left;
	padding: 5px 0 5px 10px;
	width: 65px;	
}

#content .view table.cols-3 .views-field-term-node-tid{
	background: #f4f4f4;
	border: 1px solid #d2d2d2;
	border-top: 0;
	border-left: 0;
	border-radius: 0 0 4px 0;
	float: left;
	padding: 5px 10px 5px 0;
	width: 113px;
}

#content .view table.cols-3 .views-field-title{
	clear: left;	
}


#content .view table.cols-2 tr td{
	padding: 0 20px 0 0;
	width: 400px;
}

#content .view table.cols-2 tr td:last-child{
	padding: 0;
}

#content .view table.cols-2 tr td span span a{
	border: 1px solid #d2d2d2;
	border-radius: 4px 4px 4px 4px;
	display: block;
	overflow: hidden;
	width: 398px;
	max-height: 198px;
}

#content .view table.cols-0 tr{
	border-top: 1px solid #d2d2d2;
	background: none !important;
}

#content .view table.cols-0 h2{
	font-size: 14px;	
}

#content .view table.cols-0 tr td{
	padding: 10px 0;
	width: 525px;
}

#content .view table.cols-0 tr td:first-child{
	width: 95px;	
}

#content .view table.cols-0 tr td:first-child a{
	display: block;
	width: 73px;
	height: 73px;
	overflow: hidden;
	border: 1px solid #d2d2d2;
	border-radius: 4px 4px 4px 4px;
}

#content .view table.cols-0 tr td:first-child a img{
	max-width: none !important;
	max-height: 75px !important;
	width: auto !important;
}

/* ---- PAGE: Node ----------------------------- */
.page-node .field-type-image{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	height: 180px;
	border: 1px solid #d2d2d2;
	border-radius: 4px 4px 4px 4px;
	margin: 0 0 10px 0;
	overflow: hidden;
}

/* ---- PAGE: Search --------------------------- */
ol.search-results{
	margin: 20px 0 0 0;
	padding: 0;
}

.search-results li{
	clear: both;
	border-bottom: 1px solid #d2d2d2;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}

.search-results li:last-child{
	border-bottom: 0 none;
	padding: 0;
}

.search-results .title,
.search-results .title a{
	color: #009bda;
	margin-bottom: 10px;
}

.search-results .search-snippet-info{
	padding: 0;	
}

.search-results.pcproducts-results .search-snippet img{
	width: 73px;
	height: 73px;
	border: 1px solid #d2d2d2;
	border-radius: 4px 4px 4px 4px;
	margin-right: 20px;
	overflow: hidden;
}

/* ---- Blocks --------------------------------- */
.region-sidebar-first .block{
  margin: 0;
  padding: 10px;
  border: 1px solid #d2d2d2;
  background: #f0f0f0;
}

.region-sidebar-first .block:first-child,
.region-sidebar-first .block:nth-child(2){
  border-radius: 4px 4px 0 0;
  border-bottom: 0 none;
}

.region-sidebar-first .block:last-child{
  border-top: 0 none;
  border-radius: 0 0 4px 4px;
}

.region-sidebar-first .block#block-pcproducts-calculator{
  margin: 0 0 10px 0;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  height: 248px;
}

.region-sidebar-first .block h2{
	font-size: 20px;
}

.region-sidebar .block:after{
  content:'';
  display:block;
  clear: both;
}

.region-sidebar-second .block{
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  margin: 0 0 10px 0;
  padding: 0;
}

.region-sidebar-second .block.last,
.region-sidebar-second .block:last-child{
  margin: 0;
}

.region-sidebar-second .block > h2{
  background: #fff url(images/headers.png) repeat-x;
  background-size: 100% 100%;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  height: 29px;
  line-height: 29px;
  margin: 0;
  padding: 0 10px;
}

.region-sidebar-second .block > div.content{
  margin: 0;
  overflow: hidden;
  padding: 10px;
}

.region-sidebar-second .block.block-block > div.content{
  padding: 0;
}

/* ---- Block: Calculator ---------------------- */
#block-pcproducts-calculator .form-type-textfield input,
#block-pcproducts-calculator  .form-type-select select{
	width: 100%;	
}

/* ---- Block: Samplepack ---------------------- */
#pcsamplepacks-request-block-form > div > div{
	margin: 10px 0;	
}

/* ---- Block: Profile ------------------------- */
#block-pccustomers-profile h2{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/headers.png") repeat-x scroll 0 0 / 100% 100% #FFFFFF;
  /* Multi-background supporting browsers */
  background: url("images/icon_profile.png") 10px center no-repeat, url("images/headers.png") repeat-x scroll 0 0 / 100% 100%;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

/* ---- Block: Other products ------------------ */
#block-pcproducts-other li{
	border-right: 1px solid #d2d2d2;	
}

#block-pcproducts-other li.last{
	border-right: 0 none;
}

#block-pcproducts-other a{
	color: #009bda;
}

#block-pcproducts-other a:hover{
	color: #009bda;
	text-decoration: underline;
}

/* ---- Block: Welcome ------------------------- */
#block-pccustomers-welcome{
  margin: 10px 0;
  clear: right;
}

#block-pccustomers-welcome li{
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 5px;
}

#block-pccustomers-welcome li:before{
  content: "•";
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

#block-pccustomers-welcome li.first:before{
  content: "";
  margin-right: 0;
}

#block-pccustomers-welcome li a,
#block-pccustomers-welcome li a:visited{
  color: #009bda;	
}

/* ---- Block: Language ------------------------ */
#header .region-header-right .block#block-locale-language{
	float: right;
	margin: -10px 0 5px;
}

#block-locale-language h2{
	display: none;
}

#block-locale-language ul{
	margin: 0;	
}

#block-locale-language ul li{
	float: left;
	list-style: none;
	margin: 0 5px 0 0;
	padding: 0;
}

#block-locale-language ul li:after{
	content: '|';
	color: #d2d2d2;
	margin-left: 5px;
}

#block-locale-language ul li:last-child{
	margin-right: 0;	
}

#block-locale-language ul li:last-child:after{
	content:'';
	margin-left: 0;
}

/* ---- Block: Progress ------------------------ */
#block-pcbase-progress{
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  height: 103px;
  margin-top: 10px;
}
#block-pcbase-progress{
  background-image: url("images/progress_bg.png");
  background-repeat: no-repeat;
  background-position: center top;
}

#block-pcbase-progress ul{
  margin: 0 auto;
  width:620px;
}

#block-pcbase-progress.step1-active{background-position: 0 0;}
#block-pcbase-progress.step2-active{background-position: 0 -90px;}
#block-pcbase-progress.step3-active{background-position: 0 -180px;}

#block-pcbase-progress li{
  list-style: none;
  margin: 0;
  padding: 70px 0 0;
  width: 206px;
  border: 0 none;
  text-align: center;
}

.page-checkout #block-pcbase-progress li{width: 179px;}
.page-checkout #block-pcbase-progress li:first-child{text-align:left;width:169px;padding-left:10px;}
.page-checkout #block-pcbase-progress li:last-child{text-align:right;width:169px;padding-right:10px;}

/* ---- Block: Rotation ------------------------ */
.rotator{
  border: 1px solid #d2d2d2;
  border-radius: 4px 4px 4px 4px;
  height: 338px;
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 0;
  width: 698px;
}

.rotator .controller ul{
  border-top: 1px solid #d2d2d2;
  margin: 0;
  padding: 0;
  width: 700px;
}

.rotator .controller ul li{
  font-family: 'DaxRegular',Arial,Helvetica,sans-serif;
  font-weight: normal;
  font-size: 14px;
  height: 69px;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 175px;
}

.rotator .controller ul li.first a{
  border-left: 0 none;
  width: 154px;
}

.rotator .controller ul li.last a{
  border-right: 0 none;
  width: 154px;
}

.rotator .controller ul li a{
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
  border-left: 1px solid #fff;
  border-right: 1px solid #d2d2d2;
  color: #009bda;
  display: block;
  height: 49px;
  margin: 0;
  padding: 10px;
  width: 153px;
}

.rotator .controller ul li a.current,
.rotator .controller ul li a:hover{
  font-weight: normal;
  background: #f8f8f8;
  background: -moz-linear-gradient(top,  #f8f8f8 0%, #e4e4e4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e4e4e4));
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
  background: -o-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
  background: -ms-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
  ackground: linear-gradient(to bottom,  #f8f8f8 0%,#e4e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e4e4e4',GradientType=0 );
  text-decoration: none;
}

.rotator .controller ul li a.current:after,
.rotator .controller ul li a:hover:after,
.rotator .controller ul li a:active:after{
  content: url("images/slideshow_arrow_up.png");
  display: block;
  left: 80px;
  position: absolute;
  top: -14px;
  z-index: 10;
}

.rotator .controller ul li a:active{
  background: #f8f8f8;
  background: -moz-linear-gradient(top,  #f8f8f8 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f0f0f0));
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%);
  background: -o-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%);
  background: -ms-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%);
  background: linear-gradient(to bottom,  #f8f8f8 0%,#f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f0f0f0',GradientType=0 );
}

/* ---- Block: Views Slideshow ----------------- */
.views_slideshow_cycle_main{
	border: 1px solid #d2d2d2;
	border-radius: 4px 4px 0 0;
	height: 268px;
	overflow: hidden;
	width: 698px;
}

.views_slideshow_cycle_main > div > div{
	height: 268px;
	width: 698px;
}

.views-slideshow-controls-bottom{
	width: 700px;
	margin-bottom: 10px;
}

.views-slideshow-controls-bottom > div > div{
	background: #f4f4f4;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
  	background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  	background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  	background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  	background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
	border-bottom: 1px solid #d2d2d2;
	border-left: 1px solid #fff;
	border-right: 1px solid #d2d2d2;
	cursor: pointer;
	float: left;
	height: 49px;
	padding: 10px;
	position: relative;
	width: 153px;
}

.views-slideshow-controls-bottom > div > div:first-child{
	border-left: 1px solid #d2d2d2;
	border-radius: 0 0 0 4px;
}

.views-slideshow-controls-bottom > div > div:last-child{
	border-radius: 0 0 4px 0;
}

.views-slideshow-controls-bottom > div > div:hover,
.views-slideshow-controls-bottom > div > div.active{
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e4e4e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e4e4e4));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%);
	background: linear-gradient(to bottom,  #f8f8f8 0%,#e4e4e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e4e4e4',GradientType=0 );
}

.views-slideshow-controls-bottom > div > div:active{
  background: #f8f8f8;
  background: -moz-linear-gradient(top,  #f8f8f8 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f0f0f0));
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%);
  background: -o-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%);
  background: -ms-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%);
  background: linear-gradient(to bottom,  #f8f8f8 0%,#f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f0f0f0',GradientType=0 );
}

.views-slideshow-controls-bottom > div > div:active:before,
.views-slideshow-controls-bottom > div > div:hover:before,
.views-slideshow-controls-bottom > div > div.active:before{
  content: url("images/slideshow_arrow_up.png");
  display: block;
  left: 80px;
  position: absolute;
  top: -14px;
  z-index: 10;
}

.views-slideshow-controls-bottom .views-field-title{
	color: #009bda;
	font-family: 'DaxRegular',Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 14px;
}

.views-slideshow-controls-bottom .views-field-field-subtitle{
	color: #000;
}

/* ---- Blocks: Product templates -------------- */
#block-pcproducts-templates table{
  font-family: 'DaxRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#block-pcproducts-templates table tr{
  border: 0 none;	
}

#block-pcproducts-templates table tr td:nth-child(2){
  color: #009bda;
}

/* ---- Block: News ---------------------------- */
#block-views-news-block h2{
	margin-bottom: 10px;	
}

/* ---- Blocks: Cart --------------------------- */
#block-pccart-cart{
  overflow: hidden;	
  background: white url(images/icon_cart.png) left top no-repeat;
}

#block-pccart-cart h2{	
  /* Fallback for <IE9 and other older browsers */
  background: url("images/headers.png") repeat-x scroll 0 0 / 100% 100% #FFFFFF;
  /* Multi-background supporting browsers */
  background: url("images/icon_cart.png") 10px center no-repeat, url("images/headers.png") repeat-x scroll 0 0 / 100% 100%;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

#block-pccart-cart .item{
  border-top: 1px solid #d2d2d2;	
}

#block-pccart-cart .item:first-child{
  border-top: 0 none;	
}

#block-pccart-cart .item .image{
  display: block;
  max-height: 120px;
  position: relative;
  text-align: center;
}

#block-pccart-cart .item .image img{
  max-height: 120px;
  max-width: 120px;
}

#block-pccart-cart .item .description{
  display: block;
}

.page-checkout #block-pccart-cart .item .image{float: left; width: 120px;}
.page-checkout #block-pccart-cart .item .description{float: right;width: 200px;}

#block-pccart-cart .discount.description,
#block-pccart-cart .payment-method.description,
#block-pccart-cart .shipping.description{
  padding: 10px 10px 0 10px;
  border-top: 1px solid #d2d2d2;
  margin: 10px -10px 20px -10px;
}

#block-pccart-cart .discount.description,
#block-pccart-cart .payment-method.description{
	margin-bottom: 10px;	
}

#block-pccart-cart .shipping.description .form-item{
  display: none;	
}

#block-pccart-cart .priceblock{
  background: #f7f7f7;
  border-top: 1px solid #d2d2d2;
  margin: -10px;
  padding: 10px;
}

#block-pccart-cart .priceblock .price.total label{
  font-weight: bold;	
}

/* ---- Block: Cart shipping ------------------- */
#block-pccart-shipping h2{	
  /* Fallback for <IE9 and other older browsers */
  background: url("images/headers.png") repeat-x scroll 0 0 / 100% 100% #FFFFFF;
  /* Multi-background supporting browsers */
  background: url("images/icon_shipping.png") 10px center no-repeat, url("images/headers.png") repeat-x scroll 0 0 / 100% 100%;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

#block-pccart-shipping div.shipping{
  background-image: url("images/pt_icon_2.png");
  border-right: 1px solid #D2D2D2;
  margin-right: -1px;
  padding-left: 10px;
  padding-right: 10px;
}

#block-pccart-shipping div.delivery{
  background-image: url("images/pt_icon_3.png");
}

#block-pccart-shipping div.shipping label,
#block-pccart-shipping div.delivery label{
  clear: none;
  float: none;
  width: inherit;
}

/* ---- Block: Newsletter ---------------------- */
#pcnewsletters-subscribe-form label{
    display: none;
}
#pcnewsletters-subscribe-form input[type="text"]{
    width: 100%;
}

/* ---- Buttons -------------------------------- */
input[type="submit"],
a.button{
  background: #ff9600 url('images/button.png') repeat-x;
  background-size: 100% 100%;
  border: 1px solid #bf5e16;
  border-radius: 4px 4px 4px 4px;
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(0,0,0,0.2);
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'DaxRegular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  overflow: hidden;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

input[type="submit"]:hover,
a.button:hover{
  text-decoration: none;
  background: #ff9600 url('images/button_hover.png') repeat-x;
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,0.7);
}

input[type="submit"]:active,
a.button:active{
  background: #ff9600 url('images/button__active.png') repeat-x;
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(0,0,0,0.2);
}

a.button{

}



/* ---- Button: Cart ---- */
.button.cart{	
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_cart.png") 10px center no-repeat, url("images/button.png") center center repeat-x;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

.button.cart:hover{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_hover.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_cart.png") 10px center no-repeat, url("images/button_hover.png") center center repeat-x;
}

.button.cart:active{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_active.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_cart.png") 10px center no-repeat, url("images/button_active.png") center center repeat-x;
}
/* ---- Button: Ok ---- */
.button.ok{	
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_ok.png") 10px center no-repeat, url("images/button.png") center center repeat-x;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

.button.ok:hover{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_hover.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_ok.png") 10px center no-repeat, url("images/button_hover.png") center center repeat-x;
}

.button.ok:active{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_active.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_ok.png") 10px center no-repeat, url("images/button_active.png") center center repeat-x;
}
/* ---- Button: Payment ---- */
.action.payment{	
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_payment.png") 10px center no-repeat, url("images/button.png") center center repeat-x;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

.action.payment:hover{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_hover.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_payment.png") 10px center no-repeat, url("images/button_hover.png") center center repeat-x;
}

.action.payment:active{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_active.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_payment.png") 10px center no-repeat, url("images/button_active.png") center center repeat-x;
}
/* ---- Button: Continue ---- */
.button.continue{	
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_continue.png") 10px center no-repeat, url("images/button.png") center center repeat-x;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

.button.continue:hover{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_hover.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_continue.png") 10px center no-repeat, url("images/button_hover.png") center center repeat-x;
}

.button.continue:active{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_active.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_continue.png") 10px center no-repeat, url("images/button_active.png") center center repeat-x;
}

/* ---- Button: Login ---- */
.button.login{	
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_login.png") 10px center no-repeat, url("images/button.png") center center repeat-x;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

.button.login:hover{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_hover.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_login.png") 10px center no-repeat, url("images/button_hover.png") center center repeat-x;
}

.button.login:active{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_active.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_login.png") 10px center no-repeat, url("images/button_active.png") center center repeat-x;
}	

/* ---- Button: Request ---- */
.button.request{	
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_request.png") 10px center no-repeat, url("images/button.png") center center repeat-x;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

.button.request:hover{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_hover.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_request.png") 10px center no-repeat, url("images/button_hover.png") center center repeat-x;
}

.button.request:active{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_active.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_request.png") 10px center no-repeat, url("images/button_active.png") center center repeat-x;
}

/* ---- Button: Contact ---- */
.button.contact{	
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_contact.png") 10px center no-repeat, url("images/button.png") center center repeat-x;
  background-size: auto, 100% 100%;
  padding-left: 35px;
}

.button.contact:hover{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_hover.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_contact.png") 10px center no-repeat, url("images/button_hover.png") center center repeat-x;
}

.button.contact:active{
  /* Fallback for <IE9 and other older browsers */
  background: url("images/button_active.png") center center repeat-x;
  /* Multi-background supporting browsers */
  background: url("images/button_icon_contact.png") 10px center no-repeat, url("images/button_active.png") center center repeat-x;
}