/* ---- Browser text selection ----------------- */
::selection{color:#fff;background:#000}
::-moz-selection{color:#fff;background:#000}

/* ---- Reset ---------------------------------- */
html,
body{
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: none;
}

html{
  font-size:12px;
}

body{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

#canvas{

}

.container{
  margin: 0 auto;
  padding: 0 0 10px 0;
  position: relative;
  width: 960px;
}

a,
a:visited{
  color: #00f;
  text-decoration: none;
}

a:hover,
a:active{
  text-decoration: underline;
}

/* ---- Labels, Inputs & Selects --------------- */
.form-type-select label,
.form-type-textfield label,
.form-type-password label{
  line-height: 38px;
}

.form-type-checkbox label{
  line-height: inherit;	
}

select,
input[type="submit"],
input[type="text"],
input[type="password"]{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  border: 1px solid #000;
  padding: 9px;
  height: 38px;
}

li{
  list-style: square;
  margin: 0;
  padding: 0;
}

/* ---- Tables --------------------------------- */
table,
table tbody{
  border: 0 none;
  width: 100%;
}

table tr,
table tr.even,
table tr.odd{
  background: none;
  border: 0 none;	
}

table tbody tr.even{
  background: rgba(0,0,0,0.1);
}

table tbody tr.custom{
  background: rgba(0,0,255,01);
}

table thead th{
  background: #000;
  border: 0 none;
  color: #fff;
  margin: 0;
  min-height: 40px;
  line-height: 40px;
}

table tbody td{
  line-height: 30px;	
}

/* ---- Headings ------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0 0 10px 0;
  padding: 0;
  color: #000;
  line-height: 18px;
  font-weight: bold;
}

h1 a, h1 a:visited,
h2 a, h2 a:visited,
h3 a, h3 a:visited,
h4 a, h4 a:visited,
h5 a, h5 a:visited,
h6 a, h6 a:visited,
fieldset legend a, fieldset legend a:visited{
  color: #000;
  text-decoration: none;	
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
fieldset legend a:hover{
  color: #000;
  text-decoration: underline;	
}

h1{font-size: 24px; line-height: 40px;}
h2{font-size: 20px; line-height: 30px; border-bottom: 1px solid #000; padding-bottom: 5px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}

/* ---- Fieldset ------------------------------- */
fieldset{
  border: 0 none;
  margin: 0;
  padding: 0;
}

fieldset + fieldset{
  margin-top: 10px;	
}

fieldset legend{
  border-bottom: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  width: 100%;
}

fieldset.deadlines legend{
  border-bottom: 0 none;
  color: #00f;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 10px 0;
}

fieldset.deadlines legend a{
  color: #00f;
}

fieldset.deadlines legend span.summary{
  display: none;	
}

html.js fieldset.collapsed .fieldset-legend,
html.js fieldset.collapsible .fieldset-legend{
  background-image: none;
  padding: 0;
}

/* ---- Framework ------------------------------ */
.breadcrumb{
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
}

.breadcrumb a,
.breadcrumb a:visited{
  color: #000;
}

.breadcrumb a:hover,
.breadcrumb a:active{

}

#top,
#header,
#navigation,
#highlight,
#content,
#sidebar-first,
#sidebar-second,
.region-sidebar-first,
.region-sidebar-second,
.region-highlight{
  margin: 0 10px;
}

#header{
  height: 90px;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}
#header > a{
  float: left;
  display:block;
}

#header .region-header-right{
  float: right;
}

#header .region-header-right .block{
	float: left;
	margin-left: 10px;
}

#navigation{
  background: #000;
  clear: both;
  height: 60px;
  margin: 0 10px 10px 10px;
  /* overflow: hidden; */
  padding: 0;
}

#navigation ul{
  float: left;
  margin: 0;
  padding: 0;
}

#navigation li{
  list-style: none;
  float: left;
}

#navigation  li a{
  border-left: none;
  border-right: 1px solid #fff;
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  font-weight: normal;
}

#navigation li a:hover{
  color: #fff;
  background: #00f;
  text-decoration: none;
}

#navigation li.active,
#navigation li a:active{
  color: #fff;
  background: #00f;
}

#navigation .region-nav-right{
  float:right;
  line-height: 60px;
}

.region-highlight{
  clear: both;
  margin-bottom: 10px;
}

#main{
  clear: both
}

.region-sidebar-first, .region-sidebar-second{
  float: left;
  width: 220px;
}

#content{
  width: 940px;
  float: left;
}

body.one-sidebar #content{
  width:700px;
}

body.two-sidebars #content{
  width:460px;
}

#bottom{
  color: #000;
  width: 100%;
  min-height: 150px;
  padding-top: 20px;
  position: absolute;
  margin-top: 0;
  background: #eee;
}

#inner-bottom{
  min-height:200px;
}

.region-footer{
  width: 960px;
  margin: 0 auto;
}

.region-footer .block{
  float: left;
  margin: 0 10px;
  width: 280px;
  padding: 10px;
  min-height: 180px;
}

.region-footer h2{
  border: 0 none;
  background: none;
}

.region-closure{
  width: 940px;
  margin: 10px auto 0 auto;
  min-height: 60px;
  padding: 0 20px;
  border-top: 1px solid #000;
  font-size: 10px;
}

.region-closure .block{
  float: left;
}

.region-closure .block:last-child{
  float: right;
}

/* ---- Blocks --------------------------------- */
.region-sidebar-first .block,
.region-sidebar-second .block{
  margin: 0 0 10px 0;
  padding: 0;
}

.region-sidebar-first .block h2,
.region-sidebar-second .block h2{
  margin: 0;
  padding: 10px;
  color: #fff;
  background: #000;
  border: none;
  margin-bottom: 10px;
  min-height: 20px;
  line-height: 20px;
  font-size: 16px;
}

.region-sidebar-first .block:after,
.region-sidebar-second .block:after{
  content:'';
  display:block;
  clear: both;
}

.region-sidebar-first .block legend,
.region-sidebar-second .block legend{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.region-sidebar-first .block ul li,
.region-sidebar-second .block ul li{
  list-style: square;
  margin: 0 0 5px 15px;
  padding: 0;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: normal;
}

.region-sidebar-first .block ul li.last,
.region-sidebar-second .block ul li.last{
  border-bottom: none;
}

.region-sidebar-first .block ul li a,
.region-sidebar-second .block ul li a{
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  text-indent: 0;
}

.region-sidebar-first .block ul li a.active,
.region-sidebar-second .block ul li a.active{
  color: #000;
}

/* ---- Priceblocks ---------------------------- */
.priceblock{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  border: 1px solid #000000;
  clear: both;
  float: right;
  margin: 10px 0 10px 1%;
  padding: 1em;
  width: 49%;
}

.priceblock label{
  font-size: 12px;
  line-height: inherit;
  margin-top: 9px;
}

.priceblock .value{
  font-size: 18px;
  line-height: 30px;
}

.priceblock .total .value{
  font-size: 24px;
}

/* ---- Form Actions---------------------------- */
.form-actions{
  clear: both;
  margin: 0;
}

.form-actions .button-wrapper,
.form-actions > input[type="submit"],
.form-actions > a.button{
  float: right;
  width: 49%;
}

.form-actions .button-wrapper{
	border: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */ 
	padding: 0;
	margin-left: 1%;
}

.form-actions .button-wrapper input[type="submit"],
.form-actions .button-wrapper a.button{
	width: 100%;
}

.form-actions .button-wrapper a.button{
	display: block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

/* ---- Buttons -------------------------------- */
input[type="submit"],
a.button{
  background: #00f;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  text-align: center;
}

input[type="submit"]:hover,
a.button:hover{
  background: #00c;
  text-decoration: none;
}

a.button{
	line-height: 30px;	
}

a.button.cart{
	height: 40px;
	line-height: 40px;
}

/* ---- PAGE: Products ------------------------- */
#pcproducts-products-form ul li,
#pcproducts-productoverview-form ul li,
#pcproducts-productconfig-form .other li,
#block-pcproducts-other li{
  list-style: none outside none;
  margin-bottom: 10px;
  margin-right: 5%;
  padding: 0;
  width: 30%;
}

#pcproducts-products-form ul li:nth-child(3n),
#pcproducts-productoverview-form ul li:nth-child(3n),
#pcproducts-productconfig-form .other li:nth-child(3n),
#block-pcproducts-other li:nth-child(3n){
  margin-right: 0;	
}

.all-products li a,
.all-products li a:visited,
.all-products li a:hover,
.all-products li a:active{
  text-decoration: none;
  color: inherit;
}

.all-products li a .order,
.all-products li a:visited .order{
  color: #00f;
}

.all-products li a:hover .order,
.all-products li a:active .order{
  text-decoration: underline;
}

.all-products h2{
  border-bottom: 1px solid #000;
  font-size: 16px;
  margin: 0;	
}

.all-products h2,
.all-products .from,
.all-products .order,
.all-products .description{
  text-align: left;	
}

.all-products .description{
  margin-bottom: 10px;
  /* min-height: 110px; */
}

.all-products .from > span{
  float: right;
}

/* ---- PAGE: Products 2 ----------------------- */
#pcproducts-productconfig-form .options div.form-type-checkbox{
	float: left;
	width: 50%;
}

.discount .form-item-cart-discount-code{
	float: left;
	margin: 0;
	width: 70%;
}

.discount .form-item-cart-discount-code input[type="text"]{
	width: 100%;	
}

.discount input[type="submit"].add-discount{
	float: right;
	font-size: 14px;
	height: 38px;
	margin: 0;
	width: 25%;
}

#pcproducts-productconfig-form .footer > .shipping .deadline.form-wrapper{
	
}

.templates-table tr td:first-child {
    background: url("images/check.png") no-repeat left center;
    height: 22px;
    width: 22px;
}

/* ---- PAGE: Cart ----------------------------- */
#pcorders-order-form .item,
#pccart-cart-form .item{
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

#pcorders-order-form .item.discounts, #pccart-cart-form .item.discounts,
#pcorders-order-form .item:first-child,
#pccart-cart-form .item:first-child{
  border-top: 0 none;
  margin-top: 0;
  padding-top: 0;
}

#pcorders-order-form .item.discounts, #pccart-cart-form .item.discounts{
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding-top: 15px;
}


#pcorders-order-form .item .description,
#pccart-cart-form .item .description{
  width: 75%;
}

#pcorders-order-form .item .description li label,
#pccart-cart-form .item .description li label{
  display: inline-block;
  min-width: 25%;
}

#pcorders-order-form .item div.image,
#pccart-cart-form .item div.upload-box,
#pccart-cart-form .item div.image{
  border: 1px solid #000;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  height: 160px;
  padding: 9px;
  position: relative;
  text-align: center;
  width: 23%;
}

#pcorders-order-form .item div.image > div > a, 
#pccart-cart-form .item div.image > div > a{
  color: #fff;
  background: #000;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  position: absolute;
  width: 100%;
}

#pccart-cart-form .item div.upload-box{
  padding-top: 70px;	
}

#pcorders-order-form .item div.image img,
#pccart-cart-form .item div.image img{
  max-height: 80%;
  max-width: 90%;
}

#pcproducts-productconfig-form .options{
  margin-top: 10px;
}

#pccart-cart-form .item.discounts .price,
#pccart-cart-form .item.discounts .remove{
	top: inherit;
}

/* ---- PAGE: Checkout ------------------------- */
.page-checkout fieldset#payment .fieldset-wrapper{
  margin-top: 10px	
}

.page-checkout table thead{
  display: none;	
}

.page-checkout table tbody td {
  padding-right: 20px;
}

.page-checkout table.grid img {
  max-height: 30px;
  vertical-align: middle;
}

.page-checkout .form-item-actions-agree{
  float: left;
  line-height: 30px;
  margin: 10px 0;
}

/* ---- Page: Orders --------------------------- */
#pcorders-order-form .item > .description > .price{
  margin-right: 10px;	
}

.page-myprintconnect-orders- .overview{
  margin-top: 10px;	
}

/* ---- Admin ---------------------------------- */
#edit-link, .directlink{
  float: left;
  padding: 9px;
  border: 1px solid #00f;
  background: #fff;
  color: #fff;
  clear: both;
}

#edit-link label, .directlink label{
  color: #fff;
  font-size:16px;
}

#edit-link a, .directlink a{
  color: #fff;
}

#toolbar div.toolbar-menu{
  background: #000;
}

#toolbar div.toolbar-menu ul li a:hover,
#toolbar div.toolbar-menu ul li a:active{
  background:#f1f1f1;
  color:#585858;
  border-radius:0 0 0 0;
}

#toolbar{
  background: #000;
  box-shadow: 0;
  color: #fff;
  font-weight: normal;	
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}