
/nbproject/private/
=======
# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.idea/
.htaccess
sites/default/global_settings.php
sites/files/
nbproject/
cache/
vendor

