.static-products {
  margin: 20px 0;
}

.static-products .item {
  float:left;
  width:190px;
  padding-right:10px;
  padding-left:15px;
  border-right:solid 1px #D2D2D2;
}

.static-products.other .item:last-child {
  border-right:none;
}

.static-products .item .image {
  max-width:187px;
  height:140px;
}

.static-products .item .image img {
  max-width:160px;
  max-height:140px;
  border-radius: 10px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.11);
}

.static-products h3.sp-title {
  text-transform: none;
  color: #f60;
  margin-bottom: 10px;
}

h3.prod-title {
  font-weight: bold;
  margin-top: 10px;
}
