<fieldset class="invoice form-wrapper" id="edit-summary-invoice">
    <legend>
        <span class="fieldset-legend"><%= model.labels['BillingAccount'] %> </span>
    </legend>
    <div class="fieldset-wrapper">
        <div class="address">
            <div class="name">karim32016</div>
            <div class="street">andfa diaaa</div>
            <div class="place">BH - 2100 bruxelles</div>

        </div>
        <a id="toggle-invoice-form" href="#invoice-address" class="toggle jquery-once-1-processed">
            <%= model.labels['changeBA'] %>
        </a>
    </div>
</fieldset>