<p class="lineSeparator"><%= model.labels['NeutralShippingTitle'] %></p>
<div id="edit-shipping-neutral-text" class="form-item form-type-item">
    <p class="neutralDescritpion">
        <%= model.labels['Neutralexplain'] %>
    </p>
</div>
<div class="form-item form-type-checkbox form-item-shipping-neutral-check">
    <input type="checkbox" id="neutralRadioClick" class="form-checkbox">  
    <label class="option" for="neutralRadio">
        <%= model.labels['NeutralShipping'] %>
    </label>
</div>
<div class="clearfix form-actions form-wrapper" id="edit-actions">
    <input class="payment form-submit ui-button ui-widget ui-state-default ui-corner-all" 
        type="submit" id="edit-actions-submit" name="op" value="<%= model.labels['securePaymentBtn'] %>" role="button">
</div>