<fieldset class="tohiding styleform form-wrapper" id="shipping-address" style="display: none;">
    <% var title = (model.shippingAddresses.orderItemShipping.shippingTypeTag == "shippingTypeStore") ?
    model.labels['shippingFlyerstore'] : model.labels['shippingBpost'];

    var link = (model.shippingAddresses.orderItemShipping.shippingTypeTag == "shippingTypeStore") ?
    "/stores/picker/callback/pcflyerstores_callback?contentonly=1" :
    "/pcbpost/picker/pcbpost_cart_callback?contentonly=1";

    var buttonText = (model.shippingAddresses.orderItemShipping.shippingTypeTag == "shippingTypeStore") ?
    model.labels['chooseFlyerstore'] : model.labels['chooseBpost'];

    %>
    <div class="legend legend1"><span class="fieldset-legend"><%= title %></span>
    </div>
    <div class="fieldset-wrapper">
        <div id="allresault" class="store clearfix store clearfix" style="display: block;">
            <span class="storeLink">
                <a class="button linkflyerstore picker-link fancybox.iframe ui-button" href="/<%= model.prefix + link %>" role="button">
                    <span class="ui-button-text"><%= buttonText %></span>
                </a>
            </span>

            <div id="allresault" class="store">
                <div style="height:48%" id="map-canvas">
                </div>
                <div id="Mapimg">
                </div>
                <div id="storethumb"></div>
                <div class="storcomande">
                    <%
                    var orderItemShipping = model.shippingAddresses.orderItemShipping;
                    %>
                    <%
                    if(orderItemShipping && orderItemShipping.orderShippingAddress) {
                    var shippingAddress = orderItemShipping.orderShippingAddress;
                    %>
                    <div id="detail">
                        <h6><%= shippingAddress.pickupPointName %></h6>
                        <div class="address"><%= shippingAddress.street %> - <%= shippingAddress.postalCode %> <%= shippingAddress.city %></div>
                        <div class="phone"><%= shippingAddress.phone %></div>
                        <div class="email"><a href="mailto:<%= shippingAddress.email %>"><%= shippingAddress.email %></a></div>
                    </div>
                    <div id="hoursDetail">
                        <h6><%= model.labels['openingHours'] %></h6>
                        <table>
                            <% _.each(shippingAddress.openingHours, function(openingHour, index){ %>
                            
                            <tr><td><%= model.labels['day_' + index] %></td><td><%= openingHour[0] %> - <%= openingHour[1] %>
                                <% if(openingHour[2] && openingHour[3]) print(openingHour[2]+" - "+openingHour[3]) %></td></tr>
                            <%
                            
                            });
                            %>
                        </table>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</fieldset>