<fieldset class="tohiding styleform form-wrapper" id="shipping-address" style="display: none;">
    <div class="fieldset-wrapper">
        <fieldset class="form-wrapper" id="shipping">
            <div class="fieldset-wrapper">
                <div class="headerforminvoice">
                    <div class="invoiceaddress"><%= model.labels['shippingAddress'] %></div>
                    <div class="blocright"><span><%= model.labels['selectSA'] %></span><%= model.labels['OrCreateSA'] %>
                    </div>
                    <div class="form-item form-type-select form-item-shipping-detail-current-select">
                        <select name="shipping[detail][current][select]" id="edit-shipping-detail-current-select"
                                class="form-select" title="">
                                <option value="0"><%= model.labels['addNewSA'] %></option>
                            <% _.each(model.shippingAddresses.addresses, function(shippingAddress){
                               var name = (shippingAddress.company)?shippingAddress.company:shippingAddress.name;
                            %>
                                <option value="<%= shippingAddress.id %>"><%= name  %> - <%= shippingAddress.street  %> , <%= shippingAddress.postalCode  %> <%= shippingAddress.city %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="form-item form-type-textfield form-item-shipping-detail-current-name">
                    <label for="edit-shipping-detail-current-name"><%= model.labels['SAName'] %><span
                            title="<%= model.labels['requiredField'] %>" class="form-required">*</span></label>
                    <input type="text" class="form-text required" maxlength="128" size="30" value=""
                           name="shipping[detail][current][name]" id="edit-shipping-detail-current-name">
                </div>
                <div class="form-item form-type-textfield form-item-shipping-detail-current-street">
                    <label for="edit-shipping-detail-current-street"><%= model.labels['StreetSA'] %><span title="<%= model.labels['requiredField'] %>"
                                                                                     class="form-required">*</span></label>
                    <input type="text" class="form-text required" maxlength="128" size="30"
                           value="" name="shipping[detail][current][street]"
                           id="edit-shipping-detail-current-street">
                </div>
                <div class="form-item form-type-textfield form-item-shipping-detail-current-postalCode">
                    <label for="edit-shipping-detail-current-postalcode"><%= model.labels['postalCodeCitySA'] %><span title="<%= model.labels['requiredField'] %>"
                                                                                           class="form-required">*</span></label>
                    <input type="text" class="form-text required" maxlength="128" size="6" value=""
                           name="shipping[detail][current][postalCode]" id="edit-shipping-detail-current-postalCode">
                </div>
                <div class="form-item form-type-textfield form-item-shipping-detail-current-city">
                    <input type="text" class="form-text required" maxlength="128" size="30" value=""
                           name="shipping[detail][current][city]" id="edit-shipping-detail-current-city">
                </div>
                <div class="form-item form-type-select form-item-shipping-detail-current-country">
                    <label for="edit-shipping-detail-current-country"><%= model.labels['CountrySA'] %><span title="<%= model.labels['requiredField'] %>"
                                                                                 class="form-required">*</span></label>
                    <select name="shipping[detail][current][country]" class="selectStyle form-select required"
                            id="edit-shipping-detail-current-country" title="">
                        <% _.each(model.countries, function(country){ %>
                            <option value="<%= country.id %>"><%= country.name %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-item form-type-textfield form-item-shipping-detail-current-phone">
                    <label for="edit-shipping-detail-current-phone"><%= model.labels['phone'] %><span title="<%= model.labels['requiredField'] %>"
                                                                                                          class="form-required">*</span></label>
                    <input type="text" class="form-text required" maxlength="128" size="30"
                           value="" name="shipping[detail][current][phone]"
                           id="edit-shipping-detail-current-phone">
                </div>
                <div class="form-item form-type-textfield form-item-shipping-detail-current-email">
                    <label for="edit-shipping-detail-current-email"><%= model.labels['email'] %><span title="<%= model.labels['requiredField'] %>"
                                                                                                          class="form-required">*</span></label>
                    <input type="text" class="form-text required" maxlength="128" size="30"
                           value="" name="shipping[detail][current][email]"
                           id="edit-shipping-detail-current-email">
                </div>
                <div class="form-item form-type-textfield form-item-shipping-detail-current-company">
                    <label for="edit-shipping-detail-current-company"><%= model.labels['CompanySA'] %><span class="form-required" title="<%= model.labels['requiredField'] %>">*</span>
                    </label>
                    <input type="text" class="form-text" maxlength="128" size="30" value=""
                           name="shipping[detail][current][company]" id="edit-shipping-detail-current-company">
                </div>
                <div class="form-wrapper" id="edit-shipping-detail-current-actions"><input type="submit"
                                                                                           class="form-submit ui-button ui-widget ui-state-default ui-corner-all"
                                                                                           value="<%= model.labels['save'] %>"
                                                                                           name="shipping_address_submit"
                                                                                           id="edit-shipping-detail-current-actions-submit"
                                                                                           role="button"></div>
            </div>
        </fieldset>
    </div>
</fieldset>