<div id="edit-summary-shipping" class="shipping form-wrapper">
    <%
    var suffixButton = "Add";
    %>
    <legend><span class="fieldset-legend"><%= model.labels[model.shippingAddresses.orderItemShipping.shippingTypeTag] %></span></legend>
    <div class="fieldset-wrapper fieldset-wrapper-shipping-detail fieldset-sameheight">
        <div class="pup wrap_detail">
        <%
            var orderItemShipping = model.shippingAddresses.orderItemShipping;
        %>
        <%
            if(orderItemShipping && orderItemShipping.orderShippingAddress) {
                var shippingAddress = orderItemShipping.orderShippingAddress;
                suffixButton = "Change";
        %>
        <div id="detail">
            <input type="hidden" name="shipping-detail-id" value="<%= shippingAddress.id %>">
            <input type="hidden" name="shipping-detail-delivery-type" value="deliveryTypePickup">
            <h6><%= shippingAddress.pickupPointName %></h6>
            <div class="address"><%= shippingAddress.street %> - <%= shippingAddress.postalCode %> <%= shippingAddress.city %></div>
            <div class="phone"><%= shippingAddress.phone %></div>
            <div class="email"><a href="mailto:<%= shippingAddress.email %>"><%= shippingAddress.email %></a></div>

            <% if(shippingAddress){ %>
                <div class="form-type-textfield form-item-shipping-detail-contact shipping-contact">
                    <label for="edit-shipping-detail-contact"><%= model.labels['quiVACollecterCommande'] %></label>
                    <span><%= (shippingAddress)?shippingAddress.name:'' %></span>
                           
                </div>
            <% } %>
        </div>
        <div id="hoursDetail">
            <h6><%= model.labels['openingHours'] %></h6>
            <table>
                <% _.each(shippingAddress.openingHours, function(openingHour, index){
                if(openingHour[0]){
                %>
                <tr><td><%= model.labels['day_' + index] %></td><td><%= openingHour[0] %><%= (openingHour[1])?"-" + openingHour[1]:"" %>
                <% if(openingHour[2] && openingHour[3]) print(openingHour[2]+"-"+openingHour[3]) %></td></tr>
                <%
                }
                });
                %>
            </table>
        </div>
        <% } else { %>
            <span><%= model.labels[model.shippingAddresses.orderItemShipping.shippingTypeTag + "Message"] %></span>
        <% } %>
        </div>
        
        <% if($.inArray(orderItemShipping['shippingTypeTag'], ["shippingTypeStoreInAntwerpen","shippingTypePrinter"]) == -1) { %>
        <a class="toggle" href="#shipping-address" id="toggle-shipping-form"><%= model.labels[model.shippingAddresses.orderItemShipping.shippingTypeTag + suffixButton] %></a>
        <% } else { %>
        <a class="toggle" href="#shipping-address" id="toggle-shipping-form"><%= model.labels["changeName"] %></a>
        <% } %>
        
    </div>
</div>
