<fieldset id="edit-summary-shipping" class="shipping form-wrapper">
    <legend><span class="fieldset-legend">Shipping address flyer store</span></legend>
    <div class="fieldset-wrapper">
        <div id="detail"><h6></h6>

            <div class="address"></div>
            <div class="phone"></div>
            <div class="fax"></div>
            <div class="email"></div>
        </div>
        <a class="toggle jquery-once-1-processed" href="#shipping-address" id="toggle-shipping-form">Change shipping
            address flyer store</a></div>
</fieldset>