<div id="popUpContainer" style="display: none;">
    <div id="light" class="white_content" style="width: 300px;height: 200px;">
        <div id="edit-invoice-address-current-popup-message" class="form-wrapper">
            <p><%= model.labels['BAalreadyExisting']%></p>
            <input type="button" id="validVatNumber" name="valid-button" value="Valider" class="validVatNumber valid-button-btt">
            <input type="button" id="null-address-vat" name="null_address_vat" value="Annuler" class="button_null_address_vat">
        </div>
    </div>
</div>