@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext,cyrillic);
/* @import url(http://fonts.googleapis.com/css?family=Nobile:400,700); */

/* Browser text selection */
::selection{color:#fff;background:#F7941E}
::-moz-selection{color:#fff;background:#F7941E}
/* END - Browser text selection */

html, body, img, fieldset{
  margin:0;
  padding:0;
  border:none;
  outline:none;
}
html{
  font-size:12px;
}
body{
  background: #ffffff;
  color: #585858;
  font-family: "PT Sans", Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

ul, ul li{list-style: square;}

#canvas{background: url('images/discounter/background.png') repeat-x 0 -31px;}

.clearfix{clear:both;}

.container{
  margin:10px auto 0 auto;
  padding: 0 0 10px 0;
  position:relative;
  width:960px;
}

a{
  color: #F7941E;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

select, input{color:#585858;font-size: 12px; font-family: "PT Sans", Arial, Helvetica, sans-serif;}

tr.even, tr.odd{border: 0 none;}

/*--- ERROR & OK Messages ---*/
div.messages{margin: 10px 0;padding: 10px 10px 10px 40px;}
div.status, .ok,
div.error, .error{color: #585858;}
div.status{background-image: url("images/discounter/ok24x24.png");border-color: #0F0;}
div.error{background-image: url("images/discounter/error24x24.png");border-color: #f00;}
/* END --- ERROR & OK Messages ---*/

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "PT Sans"/* "Bebas" */, Arial, Helvetica, sans-serif;
  color: #585858;
  text-transform: uppercase;
}

h1{font-size: 200%;}
#content h1{padding: 0; margin: 0 0 20px 0;}
h3{font-size: 140%;}
h4{font-size: 130%;}
h5{font-size: 120%;}
h6{font-size: 110%;}

.page-myprintconnect-addresses #content h1,
h2{
	color: #585858;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	padding: 5px 0;
	line-height: 24px;
	margin-bottom: 10px;
	min-height: 24px;
	border: none;
	border-bottom: 1px solid #F7941E;
	text-transform: uppercase;
	background: none;
}
h2 a{color: #585858; text-decoration: none;}
h2 a:hover{color: #F7941E; text-decoration: none;}

.front .region-content .content #first-time,
.front #content h1{display: none;}
.front .block .content h1{
  display: block !important;
  font-weight: normal;
  /*word-spacing: 5px;*/
  line-height: 40px;
}

.breadcrumb{
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
}

#top,
#header,
#navigation,
#highlight,
#content,
#sidebar-first,
#sidebar-second{
  margin: 0 10px;
}

#top{display:none;}

.block#block-pccustomers-welcome{text-align:right;margin-right: 10px;}
.block#block-pccustomers-welcome li{display: inline;margin-left:5px;
                                    border-left: 1px solid #FFFFFF;
                                    box-shadow: -1px 0 0 #CCCCCC;
                                    padding-left:5px;}
.block#block-pccustomers-welcome li.first{border-left:none;box-shadow:none;padding-left:0;}

.block#block-pccustomers-myprintconcept ul{padding: 0;}

.block#block-pccustomers-links ul{margin: 0;}
.block#block-pccustomers-links li,
.block#block-pccustomers-myprintconcept li{border:none;}

#header{
  height: 100px;
  padding: 0;
}

#header #header_left, #header #header_right{
  float: left;
}

#header #header_left{
  margin-top: 20px;
  width: 243px;
  margin-right: 5px;
  margin-left: 12px;
}

#header #header_right{
  margin-top: 10px;
  margin-left: 80px;
  width: 600px;
}

#header #header_right #block-pccustomers-welcome{float: right;}
#header #header_right #block-locale-language{float: right;margin-top:-3px;}
	#block-locale-language.dropdown .content a{background-image: none !important;padding-left: 5px !important;}
#header #header_right #block-locale-language ul{padding:0;margin:0;}
#header #header_right #block-locale-language ul a{color: #F7941E;}

#navigation{
  clear: both;
  padding: 0 10px;
  height: 60px;
  margin: 0 0 10px 0;
}

#navigation ul#main-menu{
  float: left;
  margin: 0 0 0 0/*97px*/;
  padding: 0;
}

#navigation #main-menu li{
  list-style: none;
  float: left;
}

#navigation #main-menu li:first-child{border-left: 1px solid #f4f4f4;}
#navigation #main-menu li a{
  border-left: none;
  border-right: 1px solid #f4f4f4;
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  font-weight: normal;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  /*word-spacing: 5px;*/
}
#navigation #main-menu li.active{background: url('images/arrow_down.png') no-repeat center -1px;}

#navigation #main-menu li a:hover{
  text-decoration: none;
  background: #fdb913;
  background: url('images/arrow_down.png') no-repeat center -1px, -moz-linear-gradient(top,  #fdb913 0%, #f7941d 100%);
  background: url('images/arrow_down.png') no-repeat center -1px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb913), color-stop(100%,#f7941d));
  background: url('images/arrow_down.png') no-repeat center -1px, -webkit-linear-gradient(top,  #fdb913 0%,#f7941d 100%);
  background: url('images/arrow_down.png') no-repeat center -1px, -o-linear-gradient(top,  #fdb913 0%,#f7941d 100%);
  background: url('images/arrow_down.png') no-repeat center -1px, -ms-linear-gradient(top,  #fdb913 0%,#f7941d 100%);
  background: url('images/arrow_down.png') no-repeat center -1px, linear-gradient(to bottom,  #fdb913 0%,#f7941d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb913', endColorstr='#f7941d',GradientType=0 );
}

#navigation #main-menu li a:active{
  background: #f7941d;
  background: url('images/arrow_down.png') no-repeat center -1px, -moz-linear-gradient(top,  #f7941d 0%, #fdb913 100%);
  background: url('images/arrow_down.png') no-repeat center -1px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7941d), color-stop(100%,#fdb913));
  background: url('images/arrow_down.png') no-repeat center -1px, -webkit-linear-gradient(top,  #f7941d 0%,#fdb913 100%);
  background: url('images/arrow_down.png') no-repeat center -1px, -o-linear-gradient(top,  #f7941d 0%,#fdb913 100%);
  background: url('images/arrow_down.png') no-repeat center -1px, -ms-linear-gradient(top,  #f7941d 0%,#fdb913 100%);
  background: url('images/arrow_down.png') no-repeat center -1px, linear-gradient(to bottom,  #f7941d 0%,#fdb913 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941d', endColorstr='#fdb913',GradientType=0 );
  text-shadow: -1px -1px 0px rgba(0,0,0,0.1);
}

#highlight{
  clear: both;
  margin-bottom: 10px;
}

#main{
  clear: both;
}

#sidebar-first, #sidebar-second{
  float: left;
  width: 220px;
}

#content{
  width: 940px;
  float: left;
}

body.one-sidebar #content{width:700px;}
body.two-sidebars #content{width:460px;}

.region-sidebar-first .block,
.region-sidebar-second .block{
	margin: 0 0 10px 0;
	padding: 0;
}

.region-sidebar-first .block h2,
.region-sidebar-second .block h2{
  margin: 0;
  padding: 10px;
  color: #fff;
  background: #F7941E;
  border: none;
  margin-bottom: 10px;
  min-height: 20px;
  line-height: 20px;
  font-size: 16px;
}

.region-sidebar-first .block:after,
.region-sidebar-second .block:after{
  content:'';
  display:block;
  clear: both;
}

.region-sidebar-first .block legend,
.region-sidebar-second .block legend{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.region-sidebar-first .block ul li,
.region-sidebar-second .block ul li{
  list-style: square;
  margin: 0 0 5px 15px;
  padding: 0;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: normal;
}

.region-sidebar-first .block ul li.last,
.region-sidebar-second .block ul li.last{
  border-bottom: none;
}

.region-sidebar-first .block ul li a,
.region-sidebar-second .block ul li a{
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  text-indent: 0;
}

#bottom{
  color: #fff;
  width: 100%;
  min-height: 134px;
  padding-top: 20px;
  position: relative;
  margin-top: 0;
  border-top: 1px solid #f7941d;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  background: #f7941d;
  background: -moz-linear-gradient(top,  #f7941d 0%, #fdb913 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7941d), color-stop(100%,#fdb913));
  background: -webkit-linear-gradient(top,  #f7941d 0%,#fdb913 100%);
  background: -o-linear-gradient(top,  #f7941d 0%,#fdb913 100%);
  background: -ms-linear-gradient(top,  #f7941d 0%,#fdb913 100%);
  background: linear-gradient(to bottom,  #f7941d 0%,#fdb913 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941d', endColorstr='#fdb913',GradientType=0 );
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#inner-bottom{min-height:200px;}

#footer{
  width: 960px;
  margin: 0 auto;
}

#footer .block{
  float: left;
  margin: 0 10px;
  width: 280px;
  padding: 10px;
  background: none;
  min-height: 180px;
}

#footer a{color:#fff;}

#footer h2{
  line-height: 120%;
  margin: -10px -10px 0 -10px;
  padding: 10px;
  border: none;
  background: none;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}

#footer h2 a{color: #fff;}

#closure{
  width: 940px;
  margin: 10px auto 0 auto;
  min-height: 60px;
  padding: 0 20px;
  border-top: 1px solid #f7941d;
  box-shadow: 0 1px 0 rgba(255,255,255,0.25) inset;
  font-size: 10px;
}

#closure .block-pcpayments li{float: left;
    list-style: none outside none;
    margin: 0 0 0 5px;}

#closure .block{
  float: left;
}

#closure #block-menu-menu-footer ul{padding: 0;}
#closure #block-menu-menu-footer li{float:left;margin-right:5px; list-style: none; padding: 0;}
#closure #block-menu-menu-footer li a{color: #fff;}

#closure .block:last-child{
  float: right;
}

.node-newsitem{
  margin-bottom: 20px;	
}

.node-newsitem .ul.inline, .node-newsitem ul.links.inline{
  float: right;	
  line-height: 36px;
}

.node-readmore a{
  color: #fff;
  background: #F7941E;
  border: none;
  display: inline-block;
  padding:3px 10px;
  font-size: 14px;
  cursor:pointer;
  font-family:Arial, Helvetica, sans-serif;
  height:30px;line-height:30px;
  float: right;
}

.node-article img, img.floatleft {
  background: #fff;
  border: 1px solid #F7941E;
  height: 160px;
  margin: 0 20px 20px 0;
  padding: 1px;
  width: 200px;
  float: left;
}

.submitted{
  font-weight: bold;
  margin: 5px 0;
}

/* ------ PC ADJUSTMENTS ------ */

/* Product page 1 */
/*.page-products h1{display:none;}*/
.page-products #block-system-main #pcproducts-products-form ul li{text-align:center}
.page-products .configuration.form-wrapper #block-system-main .form-item{margin-top:0px;margin-bottom:15px;}

.page-products- .configuration.form-wrapper .form-item > div,
#pcproducts-productconfig-form .configuration select{
	background: none;
    padding: 9px 10px;
	height: 20px;
	border: 1px solid #ccc;
	border-left: 3px solid #F7941E;
}

.page-products #block-system-main #pcproducts-products-form ul li label{font-weight:normal;display:inline}

#pcproducts-productconfig-form .configuration select{width:100%;height:40px;line-height:22px;padding-left: 6px;}

/* Product page 2 */
#pcproducts-products-form ul li, #pcproducts-productoverview-form ul li, #pcproducts-productconfig-form .other li{text-align:center}
.page-products  form#pcproducts-productconfig-form div fieldset#step2.step-2 div.fieldset-wrapper table.sticky-table{
  border: 0 none;
  border-bottom: none;
}

.page-products  form#pcproducts-productconfig-form div fieldset#step2.step-2 div.fieldset-wrapper table.sticky-table:after{content:"" !important;display:table !important;}
.page-products  form#pcproducts-productconfig-form div fieldset#step2.step-2 div.fieldset-wrapper table.sticky-table tbody{background:#fff;}

/* Product info block */
#block-pcproducts-productinfo img{max-width:198px;border-radius:4px 4px 4px 4px}
#block-pcproducts-productinfo .short-description{font-weight:bold}
#block-pcproducts-productinfo .long-description ul{padding-left:20px}

/* tables */

table.list tr td, table.list tr th {
    padding: 0 5px;
}
table{width:100%;border: 0 none;}
table tr{line-height: 30px;border: 0 none;}
table tr:hover{background: #e5e5e5 !important;}
table th{
	line-height: 40px;
	padding-top: 0;
	padding-bottom: 0;
	border: 0 none;
	color: #fff;
	text-transform: uppercase;
	background: #F7941E;
	font-weight: normal;
	font-family: "PT Sans"/* "Bebas" */, Arial, Helvetica, sans-serif;
}
table tr.even{background: #f2f2f2;}
table tr.odd{background: none;}
table tbody{border: 0 none;}
#priceblock table, .templates-table{background: none;width: 100%;}
.templates-table tr{line-height: 22px;border-bottom: 1px solid #fafafa;}
.templates-table tr:hover{background: none !important;}
.templates-table tr td > img{display: none;}
.templates-table tr td:first-child{background: url("images/check.png") no-repeat left center; width: 22px; height: 22px;}
.templates-table tr td:last-child{text-align: right; padding-right: 10px;}

.page-products table.grid td .price{
	float: right;
    padding-right: 10px;
    text-align: right;
    width: 65px;
}
.page-products table.grid td .price .currency{
	float: left;	
}

.page-products table.grid th:nth-child(4),
.page-products table.grid th:nth-child(5){
    text-align: right;
}

table input[type="submit"].remove{
	float: right;
	padding: 0;
	width: 16px;
	height: 16px;
	display: block;
	background: url("images/discounter/error16x16.png") no-repeat center center;
	line-height: 20px;
	margin: 2px 0;
	text-indent: -9999em;
	border: 0 none;
}

priceblock table, .templates-table tbody{border-top: none;}
#priceblock table, .templates-table tr:last-child{border-bottom: none;}

.priceblock > div{
  line-height:30px;
}

.priceblock .value{text-align: right;font-size: 15px; font-weight: normal; }
.priceblock .total .value{text-align: right;font-size: 16px; font-weight: bold;}
.priceblock{font-size: 14px;}

.priceblock table tbody{border-top: none;}
.priceblock table tr:last-child{border-bottom: none;}

/* Cart indicator */
#block-pccart-indicator{margin-top: 9px;}
#block-pccart-indicator .button{
  font-size: 18px;
  float: right;
  background: #0072BC;
  line-height: 60px;
  padding: 0 18px;
  height: 60px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  font-weight: normal;
 	font-family: "PT Sans"/* "Bebas" */, Arial, Helvetica, sans-serif;
  border-radius: 0 0 0 0;
}
#block-pccart-indicator .button:hover{
  background: #0089cf;
  background: -moz-linear-gradient(top,  #0089cf 0%, #0072bc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0089cf), color-stop(100%,#0072bc));
  background: -webkit-linear-gradient(top,  #0089cf 0%,#0072bc 100%);
  background: -o-linear-gradient(top,  #0089cf 0%,#0072bc 100%);
  background: -ms-linear-gradient(top,  #0089cf 0%,#0072bc 100%);
  background: linear-gradient(to bottom,  #0089cf 0%,#0072bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089cf', endColorstr='#0072bc',GradientType=0 );	
}

#block-pccart-indicator .button:active{
  background: #0072bc;
  background: -moz-linear-gradient(top,  #0072bc 0%, #0089cf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0072bc), color-stop(100%,#0089cf));
  background: -webkit-linear-gradient(top,  #0072bc 0%,#0089cf 100%);
  background: -o-linear-gradient(top,  #0072bc 0%,#0089cf 100%);
  background: -ms-linear-gradient(top,  #0072bc 0%,#0089cf 100%);
  background: linear-gradient(to bottom,  #0072bc 0%,#0089cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072bc', endColorstr='#0089cf',GradientType=0 );
}

fieldset{
  margin-top: 0;
}

html.js fieldset.collapsed{height: inherit !important;}

#pcorders-order-form .delivery, #pcorders-order-form .current, #pcorders-order-form .history, #pcorders-order-form .invoice{
  padding-right: 0;
  padding-left: 0;
}

#pcorders-order-form .address{margin:0;}
	#pcorders-order-form .address .name{margin-bottom: 5px;}
#pcorders-order-form .smaller{margin:10px 0 0 0;}

#pcorders-order-form .currentorderstatus{font-family: "PT Sans"/* "Bebas" */, Arial, Helvetica, sans-serif;font-weight: normal;font-size:20px;/*word-spacing: 5px;*/ padding: 0;line-height:24px;text-transform: uppercase;float:right;}

.page-products form#pcproducts-productconfig-form div fieldset#step2.step-2 div.fieldset-wrapper table tbody tr td > div{
  margin-right: -10px;
  padding-left: 10px;
}

	.page-products form#pcproducts-productconfig-form div fieldset#step2.step-2 div.fieldset-wrapper table tbody tr td > div input[type="radio"]{
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}

#pcproducts-productconfig-form .deadlines a{
  visibility: hidden;
  text-indent: -9999em;
}

.form-item-step2-custom-quantity{
    height: 40px;
    line-height: 20px;
    padding: 0 !important;
	margin-bottom: 20px;
}

.form-item-step2-custom-quantity label{float: left;line-height:40px;}
.form-item-step2-custom-quantity input{
	float: right;
	border: 1px solid #ccc;
	padding: 9px;
	width: 228px;
	height: 30px;
	max-width: 228px !important;
	margin-left:10px;
	border-left: 3px solid #F7941E;
}

#pcproducts-products-form h2{border:none;}

#edit-step2-footer-priceblock-addtocart{
  float: right;
  margin-top: 20px;
}

#pccart-cart-form fieldset{margin-top:0;}

#pccart-cart-form #edit-cart .description h3{width: 410px;margin-bottom:10px;font-size:18px;text-transform: none;line-height:20px;}
#pccart-cart-form #edit-cart .description ul li{
	margin: 0 0 5px 12px;
}

#pccart-cart-form #edit-cart .description input.remove{
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  padding: 0;
  width: 16px;
  height: 16px;
  display: block;
  background: url(images/discounter/error16x16.png) no-repeat center center;
  line-height: 20px;
  margin: 2px 0;
}

#pccart-cart-form #edit-cart .description input.remove:hover{
  background: url(images/discounter/error16x16.png) no-repeat center center;
}

#pccart-cart-form #edit-cart .description input.remove:active{
  color: #f00;
}

#pccart-cart-form .item .description .price{right:26px;line-height:20px;font-size:18px;}

form#pccart-cart-form div fieldset#edit-cart.form-wrapper div.fieldset-wrapper div#edit-cart-shipping.shipping table.grid th{background:none;}

#pcproducts-productconfig-form #priceblock table{background: none !important;}


#pccart-cart-form #edit-cart-items div.item{padding-bottom: 10px; border-bottom: 1px solid #ccc; margin-bottom: 10px;}
#pccart-cart-form #edit-cart-items div.item:last-child{padding-bottom: 0; border-bottom: 0 none;}

#pccart-cart-form .item .description{float:right; width:520px;}
#pccart-cart-form .item .image{
  border: 1px solid lightgreen;
  float: left;
  height: 140px;
  padding: 10px;
  text-align: center;
  width: 140px;
  background: rgba(0,255,0,0.05);
  position: relative;
}
#pccart-cart-form .item .image > div{position: absolute; bottom: 10px;width: 140px;padding: 5px 10px;margin:-10px;background:#f4f4f4;}
#pccart-cart-form .item .image img{max-height:130px;max-width:140px;}

#pccart-cart-form .item .upload-box{
  border: 1px solid #ccc;
  float: left;
  padding: 9px;
  width: 140px;
  height: 140px;
  text-align: center;
  background: rgba(255,0,0,0.05) url('images/discounter/pd_upload2.png') no-repeat center 25px;
}

	#pccart-cart-form .item .upload-box:hover{
		border-color: #F7941E;
	}

#pccart-cart-form .item .upload-box a.button{
  background: #F7941E;
  width: 140px;
}

#pccart-cart-form .item .upload-box .text{padding: 0;margin-top:85px;}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .page-cart fieldset legend{float:left}
}

.page-cart #edit-notice-container{clear:both;float:right;margin-top:20px; display:none;}
.page-cart fieldset.shipping .footer{display:none !important;}

.page-cart #edit-cart ul li label{display: inline;}

.page-cart .discounts{
  margin: 10px 0;
  padding: 10px 0 0 0;
  border-top: 1px solid #ccc;
  height: 20px;
  line-height: 20px;
}
.page-cart .discounts input{
	float: right;
}

.page-cart .discounts input.remove{
	background: url(images/discounter/error16x16.png) no-repeat center center;
	border: 0 none;
	text-indent: -9999em;
	overflow: hidden;
	height: 16px;
	width: 16px;
	padding: 0;
	margin: 2px 0;
}

.page-cart .discounts .price{
  float: right;
  line-height: 20px;
  margin-right: 10px;
  font-size: 18px;
}

.page-cart div#edit-cart-items > div.item{
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.page-cart .shipping .text .price{display:none;}

#pcorders-order-form .invoice h2,
#pcorders-order-form .delivery h2,
#pcorders-order-form fieldset .extra h2{background-image:none;padding-left:0;font-size:16px;}

#pcorders-order-form .currentorderstatus,
#pcorders-order-form .history .active{color: inherit;}

#pcorders-order-form .history{display: none;}

#pcorders-order-form .shippingdate,
#pcorders-order-form .deliverydate{margin-left:10px;}

.page-checkout #pccheckout-checkout-form select,
.page-checkout #pccheckout-checkout-form input{padding: 10px 5px;}
.page-checkout-payment .region-content .form-actions{border:1px solid #F7941E;border-top:0 none;background:#fff;width:278px;float:right;}
.page-checkout .form-wrapper{margin-left:0;}
.page-checkout label{width: 180px; display: inline-block;}
.page-checkout label.option{width: inherit; display: inline-block;}
.page-checkout #edit-shipping-delivery-country{width:215px;}
.page-checkout #edit-shipping-invoice-address-vatnumber-number{width:135px;margin-left:20px;}
.page-checkout #edit-shipping-delivery-address,
.page-checkout #edit-shipping-invoice-address-address,
.page-checkout #edit-shipping-invoice-address-country{width:215px;}

.page-checkout #edit-personal input,
.page-checkout #edit-shipping input,
.page-checkout #invoice-address input{width:503px;}
.page-checkout #invoice-address input.country{width:40px;}
.page-checkout #invoice-address input.number{width:428px;}
.page-checkout #edit-personal select,
.page-checkout #edit-shipping select,
.page-checkout #invoice-address select{width:517px;height:40px;line-height:22px;padding-left:6px;}

.page-checkout input[type="checkbox"]{width: inherit !important;}

.page-checkout .form-item-shipping-delivery-neutral{display:none;}


.page-checkout .form-type-vatfield input.country{width:40px;}
.page-checkout .form-type-vatfield input.number{width:428px;margin-left:20px;}

.page-checkout fieldset#payment legend{display: none;}
.page-checkout fieldset#edit-shipping,
.page-checkout fieldset#payment h2{margin-top: 20px;}
.page-checkout fieldset#payment table.sticky-table thead{display:none;}

.page-checkout .priceblock,
.page-paymentrequest .priceblock{
  background: #fff;
  border: 1px solid #F7941E;
  border-bottom: 0 none;
  padding:9px 9px 0 9px;
  width: 290px;
  float: right;
  height: 100px;
  margin-top: 20px;
}

.page-paymentrequest .priceblock{
	margin-top: 0;
}

.page-checkout .form-item-payment-footer-terms{
  position: relative;
  top: 135px;
  float:left;
}

	.page-checkout .form-item-payment-footer-terms input[type="checkbox"]{margin:0;height:22px;line-height:22px;}


.page-checkout table.sticky-enabled.sticky-table tbody img,
.page-paymentrequest table.sticky-enabled.sticky-table tbody img{margin-right:10px;vertical-align: middle;}
.page-checkout table.sticky-enabled.sticky-table tbody .price,
.page-paymentrequestt table.sticky-enabled.sticky-table tbody .price{font-size:14px;margin:0 10px;float:right;}
.page-checkout table.sticky-enabled.sticky-table tbody .form-item.form-type-radio.form-item-payment-method,
.page-paymentrequest table.sticky-enabled.sticky-table tbody .form-item.form-type-radio.form-item-payment-method{margin: 0 10px;}



.page-myprintconnect-login input.action.login, .page-myprintconnect-login input.action.register, .page-myprintconnect-login input.action.continue{margin-left:180px;}
input.action.register{margin-right:20px;}

input[type="submit"]{border:1px solid #ccc;}
select, input[type="text"],input[type="password"]{border:1px solid #ccc;border-left:3px solid #F7941E;padding:5px;}
input[type="submit"]{background:#0072BC;cursor: pointer;color:#fff;border-color: #0072BC;}
input[type="submit"]:hover{color:#fff;}
#pcproducts-productconfig-form .configuration label{width: 100%;float:none;line-height: 22px; margin: 0 0 5px;}

#edit-templates-templates{display: none;}

input.form-item-discount-code,
input.add-discount{float:left; margin-top: 0;margin-right:10px;}

input[type="text"].form-item-discount-code{width:200px;padding:10px;}
input[type="submit"].add-discount{width:106px;margin-right:0;padding:9px;}

.page-cart .description span.price span.value{font-size: 16px;}

#pcproducts-productconfig-form .description{float: right !important; width: 250px !important;text-align:center !important;margin-top: -50px !important;}
#pcproducts-productconfig-form .description .text{text-align:left !important;padding-top: 0px !important;}
#pcproducts-productconfig-form .description img{float:none !important; width: 100% !important;}
#pcproducts-productconfig-form .configuration{float: none; width: 430px;padding:0;}
#pcproducts-productconfig-form .step-1 .description .text{float:none;padding:0;width:100%;text-align: justify !important;}

.page-products #step2-footer .dates,
.page-cart .form-actions .price,
.page-myprintconnect-login .openauth,
.page-products- .step-1 legend{
  display: none;	
}

.page-myprintconnect-login .form-item.form-type-textfield.form-item-email{clear:both;}

.page-myprintconnect-login div.form-item-email label,
.page-myprintconnect-login div.form-item-password label,
.page-myprintconnect-login div.form-item-newpassword label{
  float: left;
  height: 40px;
  width: 160px;
  margin-right:20px;
  line-height: 40px;
}

.page-myprintconnect-login .form-radios{
	margin-left: 180px;	
}

	.page-myprintconnect-login .form-radios > .form-item-options{
		float: left;
		margin-bottom: 10px;
		margin-left: 20px;
	}
	
	.page-myprintconnect-login .form-radios > .form-item-options:first-child{
		margin-left: 0 !important;
	}

		.page-myprintconnect-login .form-radios input{
			margin: 0;	
		}

.page-myprintconnect-login #edit-forgot{
	margin-left: 180px;
	margin-top: -10px !important;
}

.page-myprintconnect-login input[type="text"],
.page-myprintconnect-login input[type="password"]{height: 20px;padding:9px;width:498px;}
.page-myprintconnect-login .form-item .description{display:none;}

	.page-myprintconnect-login #edit-forgot legend{
		background: none !important;	
		font-size: 12px !important;
		text-transform: none !important;
		width: inherit !important;
		margin-bottom: 0 !important;
		padding-left: 0;
		border: 0 none !important;
	}
	
		.page-myprintconnect-login #edit-forgot legend span{margin-left:-15px !important;width:200px;}
	
	.page-myprintconnect-login #edit-forgot .fieldset-wrapper label{
		margin-left: -180px;
		float: left;
		line-height: 40px;
	}
	.page-myprintconnect-login #edit-forgot .fieldset-wrapper input[type="text"]{
		width: 498px;
	}
	
.page-myprintconnect-login .region-content .form-actions{
	padding: 0 !important;	
	margin-left: 180px;
}

	.page-myprintconnect-login .region-content .form-actions input{
		float: none !important;	
	}


.text-right{text-align:right;}

/* ---- PRICEBLOCKS ---- */
#pcorders-order-form .fieldset-wrapper .priceblock,
				  .page-cart .priceblock,
			  .page-products .priceblock,
			  .page-checkout .priceblock,
				  .page-paymentrequest .priceblock{
	float: right;
	background: #fff;
	padding: 9px;
	border: 1px solid #F7941E;
	border-bottom: none;
	width:320px;
	margin: 10px 0 0 0;
	clear: both;
}

#pcorders-order-form .fieldset-wrapper .priceblock{
	border-bottom: 1px solid #F7941E;
	border-radius: 0 0 0 0;
	margin-top: 10px !important;
}

.page-paymentrequest table.grid tbody tr td:last-child{
	text-align: right;
	padding-right: 10px;
}

	.page-cart .region-content .form-actions,
.page-products .region-content .form-actions,
.page-paymentrequest .region-content .form-actions,
.page-paymentrequest-key .region-content .form-actions,
.page-checkout .region-content .form-actions:last-child{
	float:right;
	text-align: right;
	background: #fff;
	padding: 0 9px 9px 9px;
	width: 320px;
	border: 1px solid #F7941E;
	border-top: none;
	margin: 0 0 10px 0;
	clear: both;
}

	.priceblock span.price{font-size: 18px;}
	.priceblock span.price.total{font-size: 24px;}
	.priceblock span.price label{font-size: 14px;font-weight: normal;}
	
		.page-paymentrequest .region-content input[type="submit"]#edit-submit,
		.region-content .form-actions .region-content input[type="submit"]#edit-submit,
		.page-cart .region-content .form-actions input[type="submit"],
	.page-products .region-content .form-actions input[type="submit"],
	.page-checkout .region-content .form-actions input[type="submit"]{
		margin: 0 !important;
		min-width: 320px !important;
	}
/* ---- END - PRICEBLOCKS ---- */

.page-checkout .form-wrapper.invoice input[type="checkbox"]{margin:0;height:22px;line-height:22px;}
	
}

#pcproducts-productconfig-form .grid .custom{background-color: #dedede;}

.page-myprintconnect #pccustomers-dashboard-form h2{display:none;}
.page-myprintconnect .recentinvoices{margin-top:20px;}

.page-myprintconnect-orders- #pcorders-order-form #edit-status h2{display:none;}

.page-myprintconnect-orders- .history .item-list ul{display:none;}

.page-myprintconnect-orders- .details .description table tr{border-bottom: none;}

.page-myprintconnect-orders- #pcorders-order-form .delivery,
.page-myprintconnect-orders- #pcorders-order-form .invoice{width:340px !important;margin:20px 0;padding:0;}

.page-myprintconnect-orders- #edit-order legend{display:none;}

.page-myprintconnect-orders- #pcorders-order-form .orderstatus .current{
  float:right;
  margin-top: -40px;
  padding: 0;
}
.page-myprintconnect-orders-  #pcorders-order-form .orderstatus .currentorderstatus{
  float:right;
}

.page-myprintconnect-orders- .form-actions .price{
  display:none;
}
#pcorders-order-form .details .item img{max-height:240px;}


.page-myprintconnect-orders- .overview.form-wrapper table tbody tr{background: #fff;}
.page-myprintconnect-orders- .overview.form-wrapper table tbody td{padding: 0 10px;}
.page-myprintconnect-orders- .overview.form-wrapper table tbody td:first-child{font-weight: 700;}
.page-myprintconnect-orders- .overview.form-wrapper table tbody td:last-child{text-align: right;}

.page-myprintconnect-addresses #block-system-main .form-type-checkbox{margin-left: 180px;}
.page-myprintconnect-addresses #block-system-main .form-item label{display:inline-block;width:180px;}
.page-myprintconnect-addresses #block-system-main .form-item label.option{width: inherit !important;}
.page-myprintconnect-addresses #block-system-main .form-item input{width:503px;padding:10px 5px;}
.page-myprintconnect-addresses #block-system-main .form-item select{width:517px;padding:10px 5px;height:37px;line-height:22px;}
.page-myprintconnect-addresses #block-system-main .form-item.form-item-postalCode input{width: 100px;}
.page-myprintconnect-addresses #block-system-main .form-item.form-item-postalCode,
.page-myprintconnect-addresses #block-system-main .form-item.form-item-city{display:inline;}
.page-myprintconnect-addresses #block-system-main .form-item.form-item-country{clear:left;}
.page-myprintconnect-addresses #block-system-main .form-item.form-item-city input{width: 366px;margin-left:20px;}
.page-myprintconnect-addresses #block-system-main .form-item input.country{width:50px;}
.page-myprintconnect-addresses #block-system-main .form-item input.number{width:419px;margin-left:20px;}
.page-myprintconnect-addresses #block-system-main .form-item input[type="checkbox"]{width:inherit !important;}
.page-myprintconnect-addresses #block-system-main  input.button{margin-left: 180px !important; border-radius: 0 0 0 0;padding:10px;}

.page-checkout #block-system-main .form-item.form-item-shipping-invoice-address-postalCode input,
.page-checkout #block-system-main .form-item.form-item-shipping-delivery-postalCode input{width: 100px;}
.page-checkout #block-system-main .form-item.form-item-shipping-invoice-address-postalCode,
.page-checkout #block-system-main .form-item.form-item-shipping-invoice-address-city,
.page-checkout #block-system-main .form-item.form-item-shipping-delivery-postalCode,
.page-checkout #block-system-main .form-item.form-item-shipping-delivery-city{display:inline;}
.page-checkout #block-system-main .form-item.form-item-shipping-invoice-address-country,
.page-checkout #block-system-main .form-item.form-item-shipping-delivery-country{clear:left;}
.page-checkout #block-system-main .form-item.form-item-shipping-invoice-address-city input,
.page-checkout #block-system-main .form-item.form-item-shipping-delivery-city input{width: 366px;margin-left:20px;}

.form-item input.error, .form-item textarea.error, .form-item select.error{border: 1px solid #ffb7b7;border-left: 3px solid #f00;background: rgba(255,0,0,0.1);}

/* ------ BUTTONS ------ */
input.action, a.button{
  color: #fff;
  background: #0072BC;
  border: none;
  display: inline-block;
  padding:5px 15px;
  font-size: 14px;
  cursor:pointer;
  font-family:Arial, Helvetica, sans-serif;
  height:33px;line-height:33px;
  border-radius: 0 0 0 0;
}
input.action{
  line-height: 33px !important;
  height: 43px;
}
input.action:hover,
a.button:hover,
.node-readmore a:hover,
#pccart-cart-form .item .upload-box a.button:hover{
  text-decoration: none;
  
  background: #0089cf;
  background: -moz-linear-gradient(top,  #0089cf 0%, #0072bc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0089cf), color-stop(100%,#0072bc));
  background: -webkit-linear-gradient(top,  #0089cf 0%,#0072bc 100%);
  background: -o-linear-gradient(top,  #0089cf 0%,#0072bc 100%);
  background: -ms-linear-gradient(top,  #0089cf 0%,#0072bc 100%);
  background: linear-gradient(to bottom,  #0089cf 0%,#0072bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089cf', endColorstr='#0072bc',GradientType=0 );	
  
  /* ORANGE 
  background: #fdb913;
  background: -moz-linear-gradient(top,  #fdb913 0%, #f7941d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb913), color-stop(100%,#f7941d));
  background: -webkit-linear-gradient(top,  #fdb913 0%,#f7941d 100%);
  background: -o-linear-gradient(top,  #fdb913 0%,#f7941d 100%);
  background: -ms-linear-gradient(top,  #fdb913 0%,#f7941d 100%);
  background: linear-gradient(to bottom,  #fdb913 0%,#f7941d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb913', endColorstr='#f7941d',GradientType=0 );
  */
}
input.action:active,
a.button:active,
.node-readmore a:active,
#pccart-cart-form .item .upload-box a.button:active{
	
  background: #0072bc;
  background: -moz-linear-gradient(top,  #0072bc 0%, #0089cf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0072bc), color-stop(100%,#0089cf));
  background: -webkit-linear-gradient(top,  #0072bc 0%,#0089cf 100%);
  background: -o-linear-gradient(top,  #0072bc 0%,#0089cf 100%);
  background: -ms-linear-gradient(top,  #0072bc 0%,#0089cf 100%);
  background: linear-gradient(to bottom,  #0072bc 0%,#0089cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072bc', endColorstr='#0089cf',GradientType=0 );
	
  /* ORANGE 
  background: #f7941d;
  background: -moz-linear-gradient(top,  #f7941d 0%, #fdb913 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7941d), color-stop(100%,#fdb913));
  background: -webkit-linear-gradient(top,  #f7941d 0%,#fdb913 100%);
  background: -o-linear-gradient(top,  #f7941d 0%,#fdb913 100%);
  background: -ms-linear-gradient(top,  #f7941d 0%,#fdb913 100%);
  background: linear-gradient(to bottom,  #f7941d 0%,#fdb913 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941d', endColorstr='#fdb913',GradientType=0 );
  */
}

#bottom input.action, a.button{
  background: #0072BC;
  padding: 3px 12px;
}

#bottom input.action:hover,
#bottom a.button:hover,
#bottom .node-readmore a:hover{
  background: #0089cf;
  background: -moz-linear-gradient(top,  #0089cf 0%, #0072bc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0089cf), color-stop(100%,#0072bc));
  background: -webkit-linear-gradient(top,  #0089cf 0%,#0072bc 100%);
  background: -o-linear-gradient(top,  #0089cf 0%,#0072bc 100%);
  background: -ms-linear-gradient(top,  #0089cf 0%,#0072bc 100%);
  background: linear-gradient(to bottom,  #0089cf 0%,#0072bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089cf', endColorstr='#0072bc',GradientType=0 );	
}

#bottom input.action:active,
#bottom a.button:active,
#bottom .node-readmore a:active{
  background: #0072bc;
  background: -moz-linear-gradient(top,  #0072bc 0%, #0089cf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0072bc), color-stop(100%,#0089cf));
  background: -webkit-linear-gradient(top,  #0072bc 0%,#0089cf 100%);
  background: -o-linear-gradient(top,  #0072bc 0%,#0089cf 100%);
  background: -ms-linear-gradient(top,  #0072bc 0%,#0089cf 100%);
  background: linear-gradient(to bottom,  #0072bc 0%,#0089cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072bc', endColorstr='#0089cf',GradientType=0 );
}


.action.cart, .checkout{padding: 0 20px;height:50px;line-height:50px !important;}

/* ADMIN */
#edit-link, .directlink{
  float: left;
  padding: 10px;
  border: 1px solid #0072bc;
  background: rgba(0,114,188,0.15);
  color: #585858;
  clear: both;
  width: 678px;
}
#edit-link label, .directlink label{color: #0072bc;font-size:16px;}
#edit-link a, .directlink a{color: #585858;}

.form-actions{
  margin:0;
}
.region-content .form-actions{
  padding: 0;
  margin:0;
  clear:both;
}

.region-content .form-actions:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.region-content .form-actions input[type=submit]{
  height: 55px;
  min-width: 220px;
  float:right;
  margin: 0;
  font-size: 18px;
  border-radius: 0 0 0 0;
}

.region-content .form-actions a.button{
  height: 35px;
  min-width:220px;
}

.page-products- .form-item-step2-options{
	margin-top: 20px !important;	
}
	
	#pcproducts-productconfig-form .form-type-checkboxes .form-type-checkbox{
		margin: 5px 0;
		min-height: 22px;
		width: 340px;
		margin-right: 10px;
	}
	
	#pcproducts-productconfig-form .form-type-checkboxes .form-type-checkbox:nth-child(2n){
		margin-right: 0;
		margin-left: 10px;
	}
	
	#pcproducts-productconfig-form .form-type-checkboxes .form-type-checkbox input[type="checkbox"]{
		margin: 0 5px 0 0;
		padding: 0;
		height: 22px;
		line-height: 22px;
	}

.page-products- table.grid tr:last-child{
	border-bottom: none;
}

#pcproducts-productconfig-form .footer > .shipping{
	width: 340px;
	margin-right: 10px;
}

#pcproducts-productconfig-form .footer > fieldset:last-child{
	width: 340px;
	margin-left: 10px;
}

	#pcproducts-productconfig-form .footer > fieldset legend{
		font-size: 16px;
	}



	#pcproducts-productconfig-form .footer > .shipping .shipping{
		display: none;	
	}
	
	#pcproducts-productconfig-form .footer > .shipping .deadline,
	#pcproducts-productconfig-form .footer > .shipping .delivery{
		width: 160px;
		float: left;
	}
	
		#pcproducts-productconfig-form .footer > .shipping .deadline > div,
		#pcproducts-productconfig-form .footer > .shipping .delivery > div{
			margin: 0;	
		}
	
	#pcproducts-productconfig-form .footer > .shipping .deadline.form-wrapper{
	padding-right:20px; background:url('images/arrow_right.png')no-repeat 150px top;
	}
	
.page-myprintconnect-orders- #edit-thanks{
	display:none;
}

.page-myprintconnect-orders- #edit-thanks h2{
	background: none;
	padding: 0;
	padding-bottom: 10px;
}
.page-myprintconnect-orders- #pcorders-order-form .fieldset-wrapper > div{
	margin: 0;
}

	.page-myprintconnect-orders-  #pcorders-order-form .details .item{
		border-bottom: 1px solid #ccc;
		padding: 0 0 20px 0;
		margin-bottom: 20px;
		margin-left: 0 !important;
	}
	
		#pcorders-order-form .item > .image{
			border: 1px solid #ccc;
    		float: left;
    		width: 160px;
			min-height: 160px;
			position: relative;
		}
		
			#pcorders-order-form .item > .image:hover{
				border-color: #F7941E;
			}
		
		#pcorders-order-form .item > .image a{
			display: block;
			text-align: center;
			padding: 5px 10px;
			width: 140px;
			background: #f4f4f4;
			position: absolute;
			bottom: 0;
		}
	
		#pcorders-order-form .details .item .image img {
			margin:10px;
    		max-height: 140px;
    		max-width: 140px;
		}
		
#pcorders-order-form .item > .description{
	width: 520px;	
}

	#pcorders-order-form .item > .description .price{
		font-size: 18px;	
	}
#pcorders-order-form .item > .description h4{	
	font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: none;
    width: 410px;
}

/* LOGIN USER */
.page-user .region-content .form-actions{padding:0;}
.page-user .region-content .form-actions input[type="submit"]{float:none;}


/* CUSTOM */
fieldset legend,
.page-products div.form-item-step2-options > label,
.page-products.page-products- #content h1,
.page-cart #content h1,
.page-myprintconnect-orders- #content h1,
.page-myprintconnect-login #content h1,
.page-paymentrequest #content h1{
  color: #585858;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 5px 0;
  line-height: 24px;
  width: 700px;
  margin-bottom: 10px;
  min-height: 24px;
  border: none;
  border-bottom: 1px solid #F7941E;
  text-transform: uppercase;
  background: none;
}

fieldset legend a,
fieldset legend a:visited{
	color: #585858;
}

fieldset legend a:hover,
fieldset legend a:active{
	color: #F7941E;
	text-decoration: none;
}

.page-products #content h1,
.page-checkout #content h1,
.page-myprintconnect-invoices #content h1{display: none;}
.page-products.page-products- #content h1{display: block;}

.page-myprintconnect-invoices #content .form-item{margin: 0;}

.page-products #block-system-main #pcproducts-products-form ul li{
	padding: 0;
	width: 220px;
	margin-left: 20px;
}

	.page-products #block-system-main #pcproducts-products-form ul li:first-child,
	.page-products #block-system-main #pcproducts-products-form ul li:nth-child(3n+1){margin-left:0;}
	
	.page-products #block-system-main #pcproducts-products-form ul li h2{
		background: none;
		border-bottom: 1px solid #F7941E;
		min-height: 20px;
		line-height: 20px;
		padding: 5px 0 4px 0;
		font-size: 16px;
		text-align: left;
		margin-bottom: 0;
		margin-top: 10px;
	}
	.page-products #block-system-main #pcproducts-products-form ul li .description{display:none;}
	.page-products #block-system-main #pcproducts-products-form ul li .from{color: #585858;text-align:left;}
		.page-products #block-system-main #pcproducts-products-form ul li .from .price{color: #F7941E;}
		.page-products #block-system-main #pcproducts-products-form ul li a{text-decoration:none !important;}
	.page-products #block-system-main #pcproducts-products-form ul li .order{text-align:left;margin-top:5px;}
			.page-products #block-system-main #pcproducts-products-form ul li a:hover .order,
		.page-products #block-system-main #pcproducts-products-form ul li .order:hover{text-decoration: underline !important;}
	
#pccart-cart-form .discount.form-wrapper{
	width: 340px;
	margin-left: 10px;
	float: right;
}

	#pccart-cart-form .discount.form-wrapper > .fieldset-wrapper > .form-type-item{margin-top: 0;}

#pccart-cart-form .shipping.form-wrapper{
	width: 340px;
	margin-right: 10px;
	float: left;
}

	#pccart-cart-form .discount.form-wrapper legend,
	#pccart-cart-form .shipping.form-wrapper legend{
		font-size: 16px;
		width: 100%;
	}

	#pccart-cart-form .shipping.form-wrapper h2{
		font-size: 16px;
	}
	
	#pccart-cart-form .shipping td{line-height:22px;}

.page-cart .shipping.form-wrapper table tr,
.page-cart .shipping.form-wrapper table tr:hover{background: none !important;}

.page-myprintconnect-orders- #pcorders-order-form fieldset{
	border-top: 1px solid #ccc;
	padding-top: 20px;
	margin-top: 0;
}

.page-myprintconnect-closedorders #content h1,
.page-myprintconnect-orders #content h1{display:none;}
.page-myprintconnect-orders.page-myprintconnect-orders- #content h1{display:block;}

/* ---- Admin ---- */
#toolbar div.toolbar-menu{background: #F7941E}
#toolbar div.toolbar-menu ul li a:hover,
#toolbar div.toolbar-menu ul li a:active{background:#f1f1f1;color:#585858;border-radius:0 0 0 0}
#toolbar {
  background: #585858;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  color: #ccc;
  text-transform: uppercase;
  font-weight: 400;	
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}
/* ---- END - Admin --- */