@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800);
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}



@mixin keyframes($animation-name) { 
  @-moz-keyframes $animation-name {
    @content;
  } 
  @-webkit-keyframes $animation-name {
      @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
   /*-webkit-animation: #{$str};
   -webkit-animation-name: #{$str};
   animation-name: #{$str};
   -webkit-animation-duration: 1.15s;
   animation-duration: 1.15s;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;*/


   @include animation-properties((animation-name: #{$str}));
   @include animation-properties((animation: #{$str}));
   @include animation-properties((animation-iteration-count: infinite)); 
   @include animation-properties((animation-duration:  1.15s));
}

@mixin animation-effect($str) {
    /* -webkit-animation: #{$str};
   -webkit-animation-name: #{$str};
   animation-name: #{$str};
   -webkit-animation-duration: 0.3s;
   animation-duration: 0.3s;
   -webkit-animation-iteration-count: forwards;
   animation-iteration-count: forwards;*/
   @include animation-properties((animation-name: #{$str}));
   //@include animation-properties((animation: #{$str}));
   //@include animation-properties((animation-iteration-count: 2));
   @include animation-properties((animation-fill-mode: forwards));
   @include animation-properties((animation-duration:  1s));

}

@include keyframes(scrollAnim) {
   0% {
    opacity: 1;
    @include transform(translateY(0px)); 
  }
  50% {
    opacity: 1;
     @include transform(translateY(2px)); 
  }
  100% {
    opacity: 1;
     @include transform(translateY(-2px)); 
  }
}

@include keyframes (anim-effect-boris) {
   0% { 
      @include transform(scale3d(0.3, 0.3, 1));  
   }
   25%, 50% {
      opacity: 1;
   }
   100% {
      opacity: 0; 
      //@include transform(scale3d(1.2, 1.2, 1)); 
   }
}



$ubuntu: Ubuntu,sans-serif;
$col-orang:#ff6600;
$col-green:#76b729; 
html,body,.Gridmain,#map-canvas{
   height: 100%;
   background-color: #eeeeee; 
}
.Gridmain{
   -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;

}
#map-canvas{
   width: 100%;
   height: 188px;
   border: 1px solid #868481;
   @include border-radius(4px);
}

.btn.focus, .btn:focus, .btn:hover {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
.clear{
   &:after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      clear: both;
   }
}
.gras{
   font-weight: 700;
}
.normal{
   font-weight: normal;
}
.upper{
   text-transform: uppercase;
}
.owl-carousel .item {
  height: 10rem;
  background: #4DC7A0;
  padding: 1rem;
}

.owl-nav{
  display: none;
}

.owl-carousel .item {
  height: 10rem;
  background: #4DC7A0;
  padding: 1rem;
}

.owl-nav{
  display: none;
}
 
.bg-orange{
   background-color: $col-orang;
}
.bg-gray{
   background-color: #eeeeee; 
}
.carousel-indicators .active{
   background-color: $col-orang !important;
   border: 1px solid $col-orang !important;
}
.btn-green{
   background-color: $col-green;
   color: #ffffff;
   font-size: 18px;
   font-family: $ubuntu;
   font-weight: 500;
   padding: 11px 17px;
   &::first-letter{
      text-transform: uppercase;
   }
}
.msgerror{
   border: 1px solid red !important;
   @include placeholder{color:#f00;} 
} 
.step-hidden{
   display: none;
}
.topTomenu{
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 15px;
	margin-bottom: 14px;
	z-index: 18;
}

.block-pagination{
   text-align: center;position: absolute;width: 100%;height: 40px;
   z-index: 17;
   &:after{
      clear: both;
      width: 100%;
      height: 1px;
      display: block;
      content:'';
   }
   .icon{
      width: 15px;
      height: 30px;
      background-repeat: no-repeat; 
      display:block;
      margin: 0 auto;
      @include animation('scrollAnim');
      &.icon-w-down{
         background-image: url(../../image/down-w.png); background-position: center;
      }
      &.icon-w-up{
         background-image: url(../../image/up-w.png); background-position: bottom center;
      }
      &.icon-b-down{
         background-image: url(../../image/down-b.png); background-position:center;
      }
      &.icon-b-up{
         background-image: url(../../image/up-b.png); background-position:bottom center;
      }
   }
   .toTop{
      margin-bottom: 21px;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 15px;
      .treetiers{
         display: inline-block;
         width: 23px;
         height: 3px;
         @include border-radius(2px);
         background-color: #ff6600;
         position: relative;
            &:after{
               content: '';
               position: absolute;
               display: inline-block;
               width: 23px;
               height: 3px;
               @include border-radius(2px);
               background-color: #ff6600;
               bottom: -6px;
               left: 0;
            }
            &:before{ 
               content: '';
               position: absolute;
               display: inline-block;
               width: 23px;
               height: 3px;
               @include border-radius(2px);
               background-color: #ff6600;
               top: -6px;
               left: 0;
            }
         }
         .txt{
              position: absolute;
              font-size: 14px;
              font-family: ubuntu;
              font-weight: 700;
              color: #565451;
              vertical-align: middle;
              left: -45px;
              bottom: -5px;
         }

       }
   }

.pagination-down{  
   bottom: 0; 
   margin-top: 15px;

}
.pagination-up{  
   top: 0; 
}
 
.page-acitve{
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.sliderup {  
   opacity:0;
   @include transition-property(opacity);
   @include transition-duration(1s);
   @include transition-timing-function(ease-in);
}

.mobile-block{ 
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
   .logo {
      text-align: center;
      &.logo_1 {
        padding-bottom: 6.1%;
      }
      &.logo_0{
      	display: table-cell;
      	vertical-align: middle;
      }
      img {
         display: inline-block;
      }
   } 
   .header{
      h1{
         margin-top: 0;
         text-align: left;
         min-height: 56px;
         display: table;
         .icon-header{            
            display: table-cell;
            background-position: left center;
            background-repeat: no-repeat; 
            vertical-align: middle;
            width: 68px;
            height: 56px; 
         }
         span{
            vertical-align: middle;
            display: table-cell;
            color: $col-orang;
            font-size: 21px;
            font-family: $ubuntu;
            font-weight: 700;
            text-transform: uppercase; 
         }
      }
   } 
   .wrap-txt{ 
      p{
         color: #030303;
         font-size: 16px;
         font-family: $ubuntu; 
         line-height: normal;
      }
   }

   form{
      &.form-inline{
         .form-group{
            margin-bottom: 1.5%;
         }
         .form-control{
            &.text{
               border: 1px solid #505050  ;
               height: 46px;
               text-align: center;
               @include placeholder{font-family: $ubuntu;font-weight: normal; color: #565451;font-size: 16px;}
               &::first-letter{
                     text-transform: uppercase;
               }
            }
         }
      }
   }
   .msg{
      background-color: $col-green;
      padding: 17px 19px;
      @include border-radius(4px);
      position: relative;
      line-height: normal;
      a{
         &.close{
            display: block;
            position: absolute;
            top: 3px;
            right: 10px;
            @include opacity(1);
         } 
      }
      span{
         display: block;
         color: #fff;
         font-size: 18px;
         font-family: $ubuntu;
      }
   }
   

   .list-choix{
      background-color: #fcfcfc;
      border: 1px solid #858383;
      @include border-radius(4px);
      margin-bottom: 5px;
      .iteam{
         border-bottom: 1px solid #d0d0d4; 
         @include box-shadow(#dedee0 0px 1px 0px inset);
         padding: 6px 36px 2px 10px;
         background: url(../../image/icon-down.png) no-repeat 96% center;

         &:last-child{
            border-bottom: none;
         }

         .txt{
            font-family: $ubuntu;
            color: #55585e;
            display: block;
            &.txt1{
               font-size: 16px;
               line-height: 12px;
            }
            &.txt2{
               font-size: 15px;
               line-height: 14px;
            }
         }

      }
   }

   .wrap-contact{
      background-color: #ffffff;
      position: relative;
      border: 1px solid #868481;
      @include border-radius(2px);
      padding: 22px 10px 21px 10px;
      a{
         &.close{
            display: block;
            position: absolute;
            top: 3px;
            right: 10px;
            @include opacity(1);
         } 
      }
      h2{
         margin:0 0 24px;
         color: #565451;
         font-family: $ubuntu;
         font-size: 17px;
         font-weight: 700;
         text-transform: uppercase;
      }
      h3{
         color: $col-orang;
         font-size: 18px;
         font-weight: 700;
         font-family: $ubuntu;
         margin: 0 0 3.2%;
      }
      ul{
         list-style: none;
         padding: 0;
         margin: 0;
         &.contact{
            li{ 
               margin-bottom: 14px;
            }
            &:last-child{
               margin-bottom: 0;
            }
         }
         &.calander{
            li{
               border-bottom: 1px solid #ff6600;
               &:last-child{
                  border-bottom: 0;
               }
               span{
                  color: #030303;
                  font-size: 17px;
                  font-family: $ubuntu;
                  font-weight: normal;
                  line-height: 33px;
               }
               .day{
                  float: left;
               }
               .time{
                  float: right;
               }
            }
         }

         li{  
            
            a{
               display: table-cell;
               color: #020202;
               font-size: 17px;
               font-weight: 700;
               font-family: $ubuntu;
               text-transform: capitalize;
               text-decoration: none;
               *{
                  display: table-cell;
                  vertical-align: middle;
               }
               &.mail{
                  font-size: 13px;
                  text-transform: none;
               }
               .icon-contact{
                  width: 57px;
                  height: 45px;
                  background-position: left center;
                  background-repeat: no-repeat; 
                  padding-right:12px;
               }
               .icon-ctn-1{
                  background-image: url(../../image/icon-phone.png);
               }
               .icon-ctn-2{
                  background-image: url(../../image/icon-mail.png);
               }
               .icon-ctn-3{
                  background-image: url(../../image/icon-home.png);
               }
               .icon-ctn-4{
                  background-image: url(../../image/icon-time.png);
               }

            }
         }
      }
   }

   .control-call{
       @include border-radius(4px);
       border: 1px solid $col-green;
       overflow: hidden;
       margin-top: 105px;
         .number_phone{
            margin-bottom: 1px;
            span{
               background-color: $col-green;
               color: #ffffff;
               font-size: 19px;
               font-family: Ubuntu, sans-serif;
               font-weight: 700;
               padding: 11px 17px;
               text-align: center; 
               display: block;
            }
           
         }
         .option-call{
            width: 100%;
            overflow: hidden;
            max-height: 38px;
            .green-btn{
               float: left;
               background-color: $col-green;
               color: #ffffff;
               font-size: 17px;
               font-family: Ubuntu, sans-serif;
               font-weight: 400;
               padding: 7px 17px;
               text-align: center;
               @include border-radius(0px);
               width: 49.8%;
               margin-right: 0.3%;
               &:last-child{
                  margin-right: 0;
               }
            }
         }

   }

}

.block-slider{
   padding: 10% 0 9.8%; 
   > .container{
      padding: 0;
   }
   .carousel{
      position: relative; 
   } 
}
 
.block-menu{
   padding: 9.3% 0 10%;
   .iteam-menu{
      text-align: center;
      &.iteam-2-top{
      	margin-bottom: 7.2%;
      }
      &.iteam-2-middel{
      	margin-bottom: 3.9%;
      }
      .icon-menu{
         color: #ffffff;
         font-family: $ubuntu;
         font-size: 14px;
         line-height: 14px;
         font-weight: 700;
         text-transform: uppercase;
         display: block;
         padding-top: 0px;
         background-position: center top;
         background-repeat: no-repeat;
         text-decoration: none;
         >i{ 
            background-repeat: no-repeat; 
            position: relative;
            width: 87px;
            height: 87px;
            display: inline-block; 
            border-radius: 100%;
  			   border: 2px solid #fff;
              &:before{
               /* border: 2px solid #fff;
                  background-position: center;
               
                  content: '';
                  width: 87px;
                  height: 87px;
                 
                  border-radius: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  margin: 0 auto; */
                  position: absolute;
      				top: 50%;
      				left: 50%;
      				margin: -35px 0 0 -35px;
      				width: 70px;
      				height: 70px;
      				border-radius: 50%;
      				content: '';  
                  opacity: 0;
      				 
      				background:rgba(255, 255, 255, 0.47);
                  
               } 
               &.click{
               	&:before{  
                     @include animation-effect(anim-effect-boris); 
               	}
               }
            }
            >span{
               display: block;
            }
         &.icon-menu-1{
            /*background-image: url(../../image/img-menu-1.png);*/  
            i{
               background-image: url(../../image/img-menu-1.png);
                background-position: center 14px;
            }
         }
         &.icon-menu-2{
            /*background-image: url(../../image/img-menu-2.png);*/
            i{
               background-image: url(../../image/img-menu-2.png);
                background-position: center 14px;
            }
         }
         &.icon-menu-3{
            /*background-image: url(../../image/img-menu-3.png);*/
             i{
               background-image: url(../../image/img-menu-3.png);
               background-position: center 25px;
            }
         }
         &.icon-menu-4{
           /*background-image: url(../../image/img-menu-4.png);*/
            i{
              background-image: url(../../image/img-menu-4.png);
               background-position: center 18px;
            }
         }
         &.icon-menu-5{
            /*background-image: url(../../image/img-menu-5.png);*/
             i{
               background-image: url(../../image/img-menu-5.png);
                background-position: center 25px;
            }
         }
      }
   }
}


.block-topvente {
   padding: 29px 0 12%; 

   .icon-header-1{
      background-image: url(../../image/icon-title-1.png);
   }
   .wrap-txt{
      margin-bottom: 7.6%;
      margin-top: 4.8%;
      p{
         color: #030303;
         font-size: 16px;
         font-family: $ubuntu; 
      }
   }

   .iteam-topvente{
      .slide-iteam{
         border: 1px solid #626262;
         position: relative;
         .detail-price{
            position: absolute;
            top: 0;
            right: 0;
            margin: 6px 10px 0 0;
            span{
               color: #fffefe;
               font-family: $ubuntu;
               display: block;
               line-height: normal; 
               @include text-shadow(rgba(0, 0, 0, 0.59) 2px 1px 3px);
               &.txt1{
                  font-size: 23px;
                  font-weight: 500;
                  &::first-letter{
                     text-transform: uppercase;
                  }
               }
               &.txt2{
                  font-size:  2.5rem;
                  font-weight: 700;
               }
            } 
         }
         .detail-info{
            background-color: rgba(253, 251, 251, 0.7);
            position: absolute;
            bottom: 0;
            padding: 5.5% 4.4% 3.8%;
            span{
               display: block;
            }
            .title-desc{
               color: #565451;
               font-size: 2.929rem;
               font-family: $ubuntu;
               font-weight: 700;
               line-height: 31px;
               text-transform: uppercase; 
            }

            .description{
               color: #030303;
               font-size: 1.286rem;
               font-family: $ubuntu;
               font-weight: normal;
               line-height: normal;
               &::first-letter{
                     text-transform: uppercase;
               }
            } 
         }
      }
   }
   .wrap-btn{
      margin-top: 0.9%;
   } 
}




.block-sampleflip {
   padding: 29px 0 12%; 
   .icon-header-2{
      background-image: url(../../image/icon-title-2.png);
   } 
   .wrap-btn{
      .control-btn{
         &:first-child{margin-bottom: 1.5%;}
      }  
   }
   .step-1{
      .wrap-txt{
         padding-bottom: 118px;
      }
   }
   .step-2{ 
       
      padding-bottom:  25.8%;
      .wrap-txt{
         padding-bottom: 41px;
      }
   }
   .step-3{
       
      padding-bottom: 12.6%;
   }
   .step-call-sampleflip{
      margin-top: 22.6%;
      margin-bottom: 39.1%
   }
   .step-sendmail-sampleflip{
      margin-bottom: 2.9%;
      .form-send-mail{
         button[type="submit"]{
            margin-top: 11px;
         }
      }
      .form-group{ 
         .form-control{
            &.text{
               text-align: left !important;
            } 
         }
      }   
      .wrap-txt-head{
         margin-bottom: 2.9%;
      } 
   }
   .step-commande-sampleflip{
      margin-bottom: 28.2%;
      .wrap-txt-head{
         margin-bottom:4.3%;
      }
      .form-commander{
         button[type="submit"]{
            margin-top: 9.6%;
         }
      } 
      .msg{
         margin-top: 8.2%;
      }
   }
   .wrap-txt{ 
      margin-top: 0;
      &.wrap-txt-headbg{
         background: url(../../image/img-sampleflip.png) no-repeat center bottom;
      }
      p{
         color: #030303;
         font-size: 16px;
         font-family: $ubuntu; 
         margin: 0;
      }
   }
}


.block-flyerstore {
   padding: 29px 0 29px; 
   .icon-header-3{
      background-image: url(../../image/icon-title-3.png);
   }
   .logo-flyerstore{
      text-align: center;
      background: url(../../image/bg-repeat.png) repeat;
      padding-top: 6px;
      padding-bottom: 55px;
      img{
         display: inline-block;
      } 
   }
   .step-2{
      .wrap-txt{ margin-bottom: 42px; }
   }
   .step-6{
      .wrap-txt{ margin-bottom: 16px; }
      form{
         &.form-inline{
            .form-control.text{
               text-align: left;
            }
         }
      }
   }

   .wrap-txt{ 
      margin-top: 0;
      
      &.wrap-txt-headbg{
         background: url(../../image/img-sampleflip.png) no-repeat center bottom;
      }
      p{
         color: #030303;
         font-size: 16px;
         font-family: $ubuntu; 
         margin: 0;
      }
   }
}

.block-newsletter {
   padding: 29px 0 12%; 
   .icon-header-4{
      background-image: url(../../image/icon-title-4.png);
   } 
   .wrap-txt{ 
      margin-top: 0;
      margin-bottom: 37px;
      &.wrap-txt-headbg{
         background: url(../../image/img-sampleflip.png) no-repeat center bottom;
      }
      p{
         color: #030303;
         font-size: 16px;
         font-family: $ubuntu; 
         margin: 0;
      }
   }
}

.block-contact {
   padding: 29px 0 12%; 
   .icon-header-5{
      background-image: url(../../image/icon-title-5.png);
   }
   .control-call{
      margin-top: 38px;
   }
   form{
      &.form-inline{
         .form-control.text{
            text-align: left;
         }
      }
   } 

   .wrap-txt{ 
      margin-top: 0;
      margin-bottom: 15px;
      &.wrap-txt-headbg{
         background: url(../../image/img-sampleflip.png) no-repeat center bottom;
      }
      p{
         color: #030303;
         font-size: 16px;
         font-family: $ubuntu; 
         margin: 0;
      }
   }
   .wrap-contact-bottom{
      margin-top: 29px;
      padding-left: 16px;
      ul{
         list-style: none;
         padding: 0;
         margin: 0;
         &.contact{
            li{ 
               margin-bottom: 24px;
               &:last-child{
                  margin-bottom: 0;
               }
            }
            
         }
       

         li{  
            
            a{
               display: table-cell;
               color: #020202;
               font-size: 17px;
               font-weight: 700;
               font-family: $ubuntu;
               text-transform: capitalize;
               text-decoration: none;
               *{
                  display: table-cell;
                  vertical-align: middle;
               }
               &.mail{
                  font-size: 13px;
                  text-transform: none;
               }
               .icon-contact{
                  width: 57px;
                  height: 45px;
                  background-position: left center;
                  background-repeat: no-repeat; 
                  padding-right:12px;
               }
               .icon-ctn-1{
                  background-image: url(../../image/icon-phone.png);
               }
               .icon-ctn-2{
                  background-image: url(../../image/icon-mail.png);
               }
               .icon-ctn-3{
                  background-image: url(../../image/icon-home.png);
               }
               .icon-ctn-4{
                  background-image: url(../../image/icon-time.png);
               }

            }
         }
      }
   }
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .next {
   top: 400px;
}

.carousel.vertical .prev {
   top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   top: 0;
}

.carousel.vertical .active.left {
   top: -400px;
}

.carousel.vertical .active.right {
   top: 400px;
}

.carousel.vertical .item {
   left: 0;
}


.block-loader{
	display: table;
}


