html, body, img, fieldset{
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
html{
	font-size:12px;
}
body{
	background: #e3e3e3 url('images/blocks/paper.png') 0 0;
	color: #797979;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    line-height: 22px;
}

ul, ul li{list-style: circle;}

#canvas{}

.clearfix{
	clear:both;
}

.container{
	margin:10px auto 0 auto;
	padding: 0 0 10px 0;
	position:relative;
	width:960px;
}

input[type="text"],
input[type="password"],
input[type="email"],{
		padding: 7px;
		min-width: 50%;
	}

a{
	color: #E9681A;
	text-decoration: none;
}
	a:hover{
		text-decoration: underline;
	}
	
	a:active{
		
	}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #797979;
  text-transform: uppercase;
}

h1{font-size: 200%;}
#content h1{padding: 0; margin: 0 0 20px 0;}
h2,#center h1 {font-size: 160%;line-height: 130%;}
h3{font-size: 140%;}
h4{font-size: 130%;}
h5{font-size: 120%;}
h6{font-size: 110%;}

h2{
    color: #fff;
    font-weight: bold;
    line-height: 120%;
	background: #ccc;
	padding: 10px;
}
	.page-products #block-system-main h2 a{font-size: 14px; padding: 10px 3px;}
	h2 a{color: #fff; text-decoration: none;}
		h2 a:hover{color: #E9681A; text-decoration: none;}

#top,
#header,
#navigation,
#highlight,
#content,
#sidebar-first,
#sidebar-second{
	margin: 0 10px;
}

#top{}
.block#block-locale-language{text-align:right;}
.block#block-locale-language li{display: inline;margin-left:10px;color: #666;}
.block#block-locale-language li a{color: #797979;}

.block#block-pccustomers-welcome{text-align:right;}
.block#block-pccustomers-welcome li{display: inline;margin-left:10px;}

.block#block-pccustomers-myprintconcept ul{padding: 0;}

.block#block-pccustomers-links ul{margin: 0;}
.block#block-pccustomers-links li,
.block#block-pccustomers-myprintconcept li{border:none;}

#header{
	height: 100px;
    padding: 0 0 10px 0;
}

	#header #header_left, #header #header_right{
		width: 50%;
		float: left;
	}
	
		#header #header_left p, #header #header_right  p{  }

	#header #header_left{
	
	}
	
	#header #header_right{
		margin-top: 0;
	}

#navigation{
	clear: both;
	padding: 0 10px;
	height: 50px;
	margin: 0 0 10px 0;
}

#navigation ul#main-menu{
	float: left;
	margin: 0;
	padding: 0;
}

	#navigation #main-menu li{
		list-style: none;
		float: left;
		margin-right: 10px;
	}
	
		#navigation #main-menu li a{
			display: block;
			padding: 0 20px;
    		color: #fff;
			font-size: 14px;
			line-height: 43px;
			background: #333;
			-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
		}
		
		#navigation #main-menu li a:hover{
			text-decoration: none;
			background: #E9681A;
		}

#navigation #nav_right{
	/*float: right;
	width: 220px;*/
}

#highlight{
	clear: both;
	margin-bottom: 10px;
	background: #fff;
	padding: 10px;
}

#main{
	clear: both;
}

#sidebar-first, #sidebar-second{
	float: left;
	width: 220px;
}

#content{
	width: 920px;
	float: left;
	padding: 10px;
	background: #fff;
}

	body.one-sidebar #content{
		width: 680px;	
	}
	
	body.two-sidebars #content{
		width: 440px;	
	}
	
.region-sidebar-first .block,
.region-sidebar-second .block{
	margin-bottom: 10px;
	padding: 10px;
	background: #fff;
}

.region-sidebar-first .block h2,
.region-sidebar-second .block h2{
	margin: -10px -10px 0;
    padding: 10px;
	color: #fff;
	background: #333;
	border: none;
}

.region-sidebar-first .block:after,
.region-sidebar-second .block:after{
	content:'';
	display:block;
	clear: both;
}

.region-sidebar-first .block legend,
.region-sidebar-second .block legend{
	font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.region-sidebar-first .block ul li,
.region-sidebar-second .block ul li{
    border-bottom: 1px  dashed #d8d8d8;
	list-style: square;
	margin: 5px 0 0 15px;
    padding: 0 0 5px;
	word-wrap: break-word;
}

.region-sidebar-first .block ul li.last,
.region-sidebar-second .block ul li.last{
	border-bottom: none;
}

.region-sidebar-first .block ul li a,
.region-sidebar-second .block ul li a{
	display: block;
    font-size: 120%;
    font-weight: normal;
    overflow: hidden;
    padding: 0 0 0 0;
    text-indent: 0;
}

#bottom{
	color: #908F8F;
	width: 100%;
	min-height: 134px;
	padding-top: 20px;
	position: relative;
	margin-top: -10px;
}

#inner-bottom{min-height: 200px;}

#footer{
	width: 960px;
	margin: 0 auto;
}

#footer .block{
	float: left;
	margin: 0 10px;
    width: 280px;
	padding: 10px;
	background: #fff;
	min-height: 180px;
}

#footer h2{
    line-height: 120%;
	font-weight: bold;
	margin: -10px -10px 0 -10px;
	background: #333;
	color: #fff;
	padding: 10px;
	border: none;
}

	#footer h2 a{color: #000;}

#closure{
	width: 940px;
	margin: 10px auto 0 auto;
	min-height: 60px;
	padding: 0 20px;
}

#closure .block{
	float: left;
}

#closure #block-menu-menu-footer ul{padding: 0;}
#closure #block-menu-menu-footer li{float:left;margin-right:5px; list-style: none; padding: 0;}

	#closure .block:last-child{
		float: right;
	}

.node-newsitem{
	margin-bottom: 20px;	
}

.node-newsitem .ul.inline, .node-newsitem ul.links.inline{
	float: right;	
}

.node-readmore a{
	color: #fff;
	background: #E9681A;
	border: none;
	display: inline-block;
    padding:5px 15px;
    font-size: 14px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	height:33px;line-height:33px;
	-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
	float: right;
}
	.node-readmore a:hover{
		background: #333;
		text-decoration: none;
	}

.node-article img, img.floatleft {
	background: #fff;
	border: 1px solid #333;
	height: 160x;
    margin: 0 25px 25px 0;
    padding: 5px;
    width: 200px;
	float: left;
}

.submitted{
	font-weight: bold;
	margin: 5px 0;
}

/* ------ PC ADJUSTMENTS ------ */

/* Product page 1 */
.page-products #block-system-main h2{font-size:130%;line-height:100%}
.page-products #block-system-main #pcproducts-products-form ul li{text-align:center}
.page-products #block-system-main .form-item, .page-products #block-system-main .form-actions{margin-top:0.25em}
.page-products #block-system-main #pcproducts-products-form ul li label{font-weight:normal;display:inline}

/* Product page 2 */
#pcproducts-products-form ul li, #pcproducts-productoverview-form ul li, #pcproducts-productconfig-form .other li{text-align:center}


/* Product info block */
#block-pcproducts-productinfo img{max-width:198px;border-radius:4px 4px 4px 4px}
#block-pcproducts-productinfo .short-description{font-weight:bold}
#block-pcproducts-productinfo .long-description ul{padding-left:20px}

/* tables */
table{width:100%}
table tr{border-bottom: 1px solid #d6d6d6;line-height: 30px;}
table th{border:none; color: #fff; text-transform: uppercase; background: #ccc;}
table tr.even{background:none}
table tr.odd{background: #F6F6F6;}
table tbody{border-color: #d6d6d6;}
#priceblock table, .templates-table{background: #F6F6F6;width: 250px;float:right;}
#priceblock table .value{text-align: right;font-size: 15px; font-weight: normal;}
#priceblock table .total .value{text-align: right;font-size: 16px; font-weight: bold;}
#priceblock table{font-size: 14px;}

/* Cart indicator */
#block-pccart-indicator{margin-top: 9px;}
#block-pccart-indicator .button{
	font-size: 16px;
	float: right;
}

fieldset{
	margin-top: 20px;	
}

fieldset legend, .page-products div.form-item-step2-options > label{
	color: #fff;
    font-weight: bold;
	text-transform: uppercase;
	background: #333;
	padding: 10px;
    line-height: 120%;
	width: 660px;
	margin-bottom: 20px;
}

.form-item-step2-custom-quantity label{float: left; margin-bottom: 20px;}
.form-item-step2-custom-quantity input{float: right;}

#pcproducts-products-form h2{border:none;}

#edit-step2-footer-priceblock-addtocart{
	float: right;
	margin-top: 20px;
}

.page-products #priceblock input{
	float: right;
	margin-top: 20px;
}

#pccart-cart-form #edit-cart .item{margin-bottom: 20px;padding-bottom:20px;border-bottom:1px dashed #d6d6d6;}
#pccart-cart-form #edit-cart .description h3{width: 85%;margin-bottom:10px;}
#pccart-cart-form #edit-cart .description input.remove{
	background: transparent url('images/delete.png');
    border: medium none;
    display: block;
    float: right;
    height: 16px;
    margin: 0;
    padding: 0;
    text-indent: -9999em;
    width: 16px;
	cursor: pointer;
	}

#edit-step2-options{margin: 10px 0; padding: 10px 0; border-bottom: 1px dashed #E9681A; border-top: 1px dashed #E9681A;}
#pcproducts-productconfig-form .footer > .priceblock{padding: 10px 0 0 10px;}

#pccart-cart-form .item .upload-box{
	border: 1px dashed #E9681A;
    float: left;
    padding-left: 10px;#pccart-cart-form #edit-cart .item
    width: 30%;	
}

#pccart-cart-form .item .upload-box a.button{
	margin-left: -11px;
    padding-right: 25px;
    width: 100%;
}

#pccart-cart-form .item .upload-box .text{padding-left: 0; padding-top: 0;}
	

@media screen and (-webkit-min-device-pixel-ratio:0) { 
.page-products .form-item-step2-custom-quantity, .page-products #templates .fieldset-wrapper{padding-top:20px;}
.page-cart fieldset legend{float:left}
}

.page-cart #edit-actions{float:right;}
.page-cart #edit-notice-container{clear:both;float:right;}

.page-cart #edit-cart ul li label{display: inline;}

#pcorders-order-form .invoice h2,
#pcorders-order-form .delivery h2,
#pcorders-order-form fieldset .extra h2{background-image:none;}

#pcorders-order-form .currentorderstatus,
#pcorders-order-form .history .active{color: inherit;}

#pcorders-order-form .fieldset-wrapper .priceblock{background: none;border-radius: none; border: none;}
/* ------ BUTTONS ------ */
input.action, a.button{
	color: #fff;
	background: #E9681A;
	border: none;
	display: inline-block;
    padding:5px 15px;
    font-size: 14px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	height:33px;line-height:33px;
	-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
}
	input.action{
		line-height: 33px !important;
		height: 43px;
	}
	input.action:hover, a.button:hover{
		background: #333;
		text-decoration: none;
	}