
/* ---------- Color Module Styles ----------- */
body{
  color:#023a2c;
}

a, fieldset legend{
  color: #6eb003;
}

a:hover, h2 a:hover, #block-pcproducts-list a:hover{
  color: #febf01;
}

input.action, a.button, .node-readmore a {
  background-color: #006b17;
}

#navigation #main-menu li a:hover{
  background-color: #006b17;
}

#navigation, 
.region-sidebar-first .block h2,
.region-sidebar-second .block h2{
  background: #febf01;
  background: -moz-linear-gradient(top,  #febf01 0%, #ff8d02 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febf01), color-stop(100%,#ff8d02));
  background: -webkit-linear-gradient(top,  #febf01 0%,#ff8d02 100%);
  background: -o-linear-gradient(top,  #febf01 0%,#ff8d02 100%);
  background: -ms-linear-gradient(top,  #febf01 0%,#ff8d02 100%);
  background: linear-gradient(to bottom,  #febf01 0%,#ff8d02 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#ff8d02',GradientType=0 );
}

#block-pcproducts-list, .breadcrumb, #block-pccart-indicator .button, #block-pcproducts-list h2{
  background-color: #90d105;
  background: -moz-linear-gradient(top,  #90d105 0%, #6fba17 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90d105), color-stop(100%,#6fba17));
  background: -webkit-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -o-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -ms-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: linear-gradient(to bottom,  #90d105 0%,#6fba17 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90d105', endColorstr='#6fba17',GradientType=0 );
  color:#ffffff;
}

.breadcrumb a{
  color:#ffffff;
}

#block-pcproducts-list a, #block-pcproducts-list h2{
  color: #ffffff;
}

#block-pcproducts-list, #block-pcproducts-list h2{
  background-color: #90d105;
}


