html, body, img, fieldset{
  margin:0;
  padding:0;
  border:none;
  outline:none;
}
html{
  background: url('images/wood/wood_green.gif') 0 0;
  font-size:12px;
}
body{
  background: url('images/wood/wood_green_top.jpg') no-repeat center top;
  color: #023A2C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

ul, ul li{list-style: disc;}

#canvas{padding-top: 40px;}

.clearfix{
  clear:both;
}

.container{
  margin:0 auto 20px auto;
  padding: 0 0 10px 0;
  position:relative;
  width:960px;
  /*background: rgba(255,255,255,0.5);
  border-radius: 50px 0 0 0;*/
}

input[type="text"],
input[type="password"],
input[type="email"]{

}

a{
  color: #6EB003;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

a:active{

}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

h1{font-size: 30px;}
#content h1{padding: 0; margin: 0 0 20px 0;}
h2,#center h1 {font-size: 160%;line-height: 130%;}
h3{font-size: 140%;}
h4{font-size: 130%;}
h5{font-size: 120%;}
h6{font-size: 110%;}

h2{
  font-weight: bold;
  line-height: 120%;
  padidng-bottom: 10px;
}

h2 a{ text-decoration: none;}
h2 a:hover{color: #6EB003; text-decoration: none;}

#header,
#navigation,
#highlight,
#content,
#sidebar-first,
#sidebar-second{
  margin: 0 10px;
}

#header{
  height: 140px;
  padding: 10px 0;
}

#header #header_left, #header #header_right{
  width: 50%;
  float: left;
}

#header #header_left p, #header #header_right  p{  }

#header #header_left{

}

#header #header_right{

}

#navigation{
  padding: 0 10px;
  height: 64px;
  margin-bottom: 20px;
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
  box-shadow: 0 0 0 #396303, 0 3px 2px #396303, 0 0 0 #396303, 0 0 0 #396303;
  /*
    background: -moz-linear-gradient(top,  #febf01 0%, #ff8d02 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febf01), color-stop(100%,#ff8d02));
  background: -webkit-linear-gradient(top,  #febf01 0%,#ff8d02 100%);
  background: -o-linear-gradient(top,  #febf01 0%,#ff8d02 100%);
  background: -ms-linear-gradient(top,  #febf01 0%,#ff8d02 100%);
  background: linear-gradient(to bottom,  #febf01 0%,#ff8d02 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#ff8d02',GradientType=0 );
  */

}

#navigation ul#main-menu{
  float: left;
  margin: 0;
  padding: 0;
}

#navigation #main-menu li{
  list-style: none;
  float: left;
  border-right: 1px solid rgba(0,0,0,0.25);
  border-left: 1px solid rgba(255,255,255,0.25)
}

#navigation #main-menu li.first{border-left: none;}

#navigation #main-menu li a{
  color: #FFFFFF;
  display: inline-block;
  font-size: 28px;
  line-height: normal;
  padding: 15px 29px 16px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
}

#navigation #main-menu li a:hover{
  text-decoration: none;
  background: #006b17;
  /*
  background: -moz-linear-gradient(top,  #006b17 0%, #005614 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006b17), color-stop(100%,#005614));
  background: -webkit-linear-gradient(top,  #006b17 0%,#005614 100%);
  background: -o-linear-gradient(top,  #006b17 0%,#005614 100%);
  background: -ms-linear-gradient(top,  #006b17 0%,#005614 100%);
  background: linear-gradient(to bottom,  #006b17 0%,#005614 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006b17', endColorstr='#005614',GradientType=0 );
  */
}

#navigation #main-menu li a:active{
  text-decoration: none;
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.25);
}

#navigation #nav_right{
  /*float: right;
  width: 220px;*/
}

#highlight{
  clear: both;
  margin-bottom: 10px;
}

#main{
  clear: both;
}

#sidebar-first, #sidebar-second{
  float: left;
  width: 220px;
}

.breadcrumb{
  background: #90d105;
  /*
  background: -moz-linear-gradient(top,  #90d105 0%, #6fba17 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90d105), color-stop(100%,#6fba17));
  background: -webkit-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -o-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -ms-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: linear-gradient(to bottom,  #90d105 0%,#6fba17 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90d105', endColorstr='#6fba17',GradientType=0 );
  */
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 6px 5px 5px 10px;
  line-height: 17px;
}
.breadcrumb a{
  text-decoration: none;
}

.breadcrumb a:hover{
  text-decoration: none;
}

#content{
  width: 920px;
  float: left;
  background: #fff;
  border-radius: 6px 6px 6px 6px;
  padding: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5), inset 0 60px 60px rgba(0,0,0,0.1);
}

body.one-sidebar #content{
  width: 680px;	
}

body.two-sidebars #content{
  width: 440px;	
}

.page-products #content{background:none;box-shadow:none;border-radius:none;padding:0;}
body.one-sidebar.page-products #content{width: 700px;}
body.two-sidebars.page-products #content{width: 460px;}
.page-products .fieldset-wrapper{background: #fff;box-shadow: 0 5px 5px rgba(0,0,0,0.5), inset 0 60px 60px rgba(0,0,0,0.1);border-radius: 6px 6px 6px 6px;padding:20px;}
.page-products .fieldset{margin: 20px 0;}
.page-products h1{color: #fff;}
.page-products fieldset#templates .fieldset-wrapper{min-height: 130px;}


.region-sidebar-first .block,
.region-sidebar-second .block{
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.region-sidebar-first .block h2,
.region-sidebar-second .block h2{
  margin: -10px -10px 0;
  padding: 10px;
  color: #fff;
  background: #febf01;
  /*
  background: -moz-linear-gradient(top,  #febf01 0%, #ff8d02 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febf01), color-stop(100%,#ff8d02));
  background: -webkit-linear-gradient(top,  #febf01 0%,#ff8d02 100%);
  background: -o-linear-gradient(top,  #febf01 0%,#ff8d02 100%);
  background: -ms-linear-gradient(top,  #febf01 0%,#ff8d02 100%);
  background: linear-gradient(to bottom,  #febf01 0%,#ff8d02 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#ff8d02',GradientType=0 );
  */
  border: none;
  font-size: 24px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.1);
}
/*product list*/
#block-pcproducts-list{
  background: #90d105;
  /*background: -moz-linear-gradient(top,  #90d105 0%, #6fba17 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90d105), color-stop(100%,#6fba17));
  background: -webkit-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -o-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -ms-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: linear-gradient(to bottom,  #90d105 0%,#6fba17 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90d105', endColorstr='#6fba17',GradientType=0 );
  */
}

#block-pcproducts-list h2{
  background: #90d105;
  /*background: -moz-linear-gradient(top,  #90d105 0%, #6fba17 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90d105), color-stop(100%,#6fba17));
  background: -webkit-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -o-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -ms-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: linear-gradient(to bottom,  #90d105 0%,#6fba17 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90d105', endColorstr='#6fba17',GradientType=0 );
  */
  border-top: 1px solid #b4e003;
  border-bottom: 1px solid #A9DA02;
  box-shadow: none;
}

#block-pcproducts-list ul li{
  color: #fff;
  font-size: 14px;
  border-color: #4b800f;
}

#block-pcproducts-list a{
  color: #fff;
}
#block-pcproducts-list a:hover{
  color: #ffe500;
  text-decoration: none;
  padding-left: 5px;
}
/* END - product list*/

.region-sidebar-first .block:after,
.region-sidebar-second .block:after{
  content:'';
  display:block;
  clear: both;
}

.region-sidebar-first .block legend,
.region-sidebar-second .block legend{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.region-sidebar-first .block ul li,
.region-sidebar-second .block ul li{
  border-bottom: 1px  dotted #d8d8d8;
  list-style: disc;
  margin: 5px 0 0 15px;
  padding: 0 0 5px;
}
.region-sidebar-first .block ul li a,
.region-sidebar-second .block ul li a{
  display: block;
  font-size: 120%;
  font-weight: normal;
  overflow: hidden;
  padding: 0 0 0 0;
  text-indent: 0;
}

#bottom{
  background: rgba(0,0,0,0.5);
  box-shadow: inset 0 5px 5px rgba(0,0,0,0.5);
  width: 100%;
  min-height: 134px;
  padding-top: 20px;
  position: relative;
  color: #fafafa;
}

#inner-bottom{min-height: 200px;}

#footer{
  width: 960px;
  margin: 0 auto;
}

#footer .block{
  float: left;
  margin: 0 10px;
  width: 280px;
  padding: 10px;
  min-height: 180px;
}

#footer h2{
  line-height: 120%;
  font-weight: bold;
  color: #6EB003;
  border: none;
}

#footer h2 a{color: #000;}
#footer a:hover{color: #ffe500;}

#closure{
  width: 940px;
  margin: 10px auto 0 auto;
  min-height: 60px;
  padding: 0 10px;
  border-top: 1px dotted #4b800f;
}

#closure .block{
  float: left;
  width: 50%;
}

.node-newsitem{
  margin-bottom: 20px;	
}

.node-article img, img.floatleft {
  background: #fff;
  border: 1px solid #4f6e19;
  height: 160x;
  margin: 0 25px 25px 0;
  padding: 5px;
  width: 200px;
  float: left;
}

.submitted{
  font-weight: bold;
  margin: 5px 0;
}

/* ------ PC ADJUSTMENTS ------ */

/* Product page 1 */
.page-products #block-system-main h2{font-size:130%;line-height:100%}
.page-products #block-system-main #pcproducts-products-form ul li{text-align:center}
.page-products #block-system-main .form-item, .page-products #block-system-main .form-actions{margin-top:0.25em}
.page-products #block-system-main #pcproducts-products-form ul li label{font-weight:normal;display:inline}

/* Product page 2 */
#pcproducts-products-form ul li, #pcproducts-productoverview-form ul li, #pcproducts-productconfig-form .other li{text-align:center}


/* Product info block */
#block-pcproducts-productinfo img{max-width:198px;border-radius:4px 4px 4px 4px}
#block-pcproducts-productinfo .short-description{font-weight:bold}
#block-pcproducts-productinfo .long-description ul{padding-left:20px}

/* tables */
table{width:100%}
table tr{border-bottom: 1px solid #d6d6d6;line-height: 30px;}
table th{border:none; color: #fff; text-transform: uppercase; background: #ccc;}
table tr.even{background:none}
table tr.odd{background: #F6F6F6;}
table tbody{border-color: #d6d6d6;}
#priceblock table, .templates-table{width: 250px;float:right;font-size: 16px;font-weight: bold;margin-left: 20px;}


/* Cart indicator */
#block-pccart-indicator{margin-top: 20px;}

#block-pccart-indicator .button{
  font-size: 16px;
  float: right;
/*
  background: #90d105;
  background: -moz-linear-gradient(top,  #90d105 0%, #6fba17 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90d105), color-stop(100%,#6fba17));
  background: -webkit-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -o-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: -ms-linear-gradient(top,  #90d105 0%,#6fba17 100%);
  background: linear-gradient(to bottom,  #90d105 0%,#6fba17 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90d105', endColorstr='#6fba17',GradientType=0 );*/
/*border-top: 1px solid #b4e003;*/

  width: 150px;
  height: 55px;
  text-align: center;
  padding: 0;
  line-height: 55px;
}

fieldset{
  margin-top: 20px;	
}

fieldset legend{
  color: #6EB003;
  font-weight: bold;
  padding-bottom: 10px;
  line-height: 120%;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
}

.page-products fieldset legend{
  color: #fff;
  margin-bottom: 0;
}

.form-item-step2-custom-quantity label{float: left; margin-bottom: 20px;}
.form-item-step2-custom-quantity input{float: right;}

#pcproducts-products-form h2{border:none;}

#edit-step2-footer-priceblock-addtocart{
  float: right;
  margin-top: 20px;
}

.page-products #priceblock input{
  float: right;
  margin-top: 20px;
}

#pccart-cart-form #edit-cart .item{margin-bottom: 20px;padding-bottom:20px;border-bottom:1px dotted #d6d6d6;}
#pccart-cart-form #edit-cart .description h3{width: 85%;margin-bottom:10px;}
#pccart-cart-form #edit-cart .description input.remove{
  background: transparent url('images/delete.png');
  border: medium none;
  display: block;
  float: right;
  height: 16px;
  margin: 0;
  padding: 0;
  text-indent: -9999em;
  width: 16px;
  cursor: pointer;
}

#edit-step2-options{margin: 10px 0; padding: 10px 0; border-bottom: 1px dotted #6EB003; border-top: 1px dotted #6EB003;}
#pcproducts-productconfig-form .footer > .priceblock{padding: 10px 0 0 10px;}

#pccart-cart-form .item .upload-box{
  border: 1px solid #6EB003;
  border-radius: 6px 6px 6px 6px;
  float: left;
  padding-left: 10px;#pccart-cart-form #edit-cart .item
  width: 30%;	
}

#pccart-cart-form .item .upload-box a.button{

}

.page-cart #edit-actions{margin-bottom: 10px;float: right}

#pccart-cart-form .item .upload-box .text{padding-left: 0; padding-top: 0;}

#edit-deadlines{margin-top: 10px;font-size: 14px; color: #fff; background: url(images/wood/info.gif) no-repeat left center;padding-left: 20px;}
#edit-deadlines a{color: #fff;}
#edit-deadlines a:hover{text-decoration: none; color: #ffe500;}

/* ------ BUTTONS ------ */
input.action, a.button, .node-readmore a{
  color: #fff;
  background: #006b17;
  /*
  background: -moz-linear-gradient(top,  #006b17 0%, #005614 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006b17), color-stop(100%,#005614));
  background: -webkit-linear-gradient(top,  #006b17 0%,#005614 100%);
  background: -o-linear-gradient(top,  #006b17 0%,#005614 100%);
  background: -ms-linear-gradient(top,  #006b17 0%,#005614 100%);
  background: linear-gradient(to bottom,  #006b17 0%,#005614 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006b17', endColorstr='#005614',GradientType=0 );
  */
  border: none;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  padding:3px 10px;
  font-size: 16px;
  cursor:pointer;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  height:23px;line-height:23px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.25);
  -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
}
input.action{
  height: 33px;
}
input.action:hover, a.button:hover, .node-readmore a:hover{
  text-decoration: none;
  color: #ffe500;
}
