#pcorders-order-form .item > .image {
  float: left;
  width: 30%;
}
#pcorders-order-form .item > .description {
  float: right;
  width: 70%;
}
#pcorders-order-form .item > .description > .price {
  float: right;
  width: 100px;
  text-align: right;
}
#pcorders-order-form .delivery, #pcorders-order-form .invoice {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  width:48%;
  float:left;
  margin-left:0;
  margin-right:2%;
}
#pcorders-order-form .invoice{
  margin-right:0;
  margin-left:2%;
}

#pcorders-order-form .current .status {
  font-weight:bold;
  font-size: x-large;
  background:none;
  padding:10px 0;
}

#pcorders-order-form .history .active {
  font-weight:bold;
  font-size:larger;
}
#pcorders-order-form .item-list ul li {
  margin: 0 0 0 20px;
}

#pcorders-order-form .currentorderstatus{
  font-size:x-large;
  font-weight: bold;

}
.labelOrder {
    font-weight: bold!important;
    line-height: 2.6em;
}
#pcorders-order-form .order{
  clear:both;
}

#pcorders-order-form .order .details .item .image a{
  display:block;
}
#pcorders-order-form .order .details .item .image img{
  /*  width:100%;*/
}

.page-myprintconnect-orders- form{
  position:relative;
}

.page-myprintconnect-orders- form .currentorderstatus{
  position:absolute;
  top:0;
  right:0;
}
.page-myprintconnect table {
    margin-left: -7px!important;
    margin-top: -5px!important;
}
.page-myprintconnect #edit-recentinvoices {
    margin-top: 30px;
}

.order-origin-price {
    position: absolute;
    right: 0;
    top: 32px;
}
#pcorders-order-form #edit-order #edit-details .description .item-list ul {
margin: 0;
padding: 0;
}
#pcorders-order-form #edit-order #edit-details .description >.labelOrder{
	margin-left: 21px;
}