/*
 * Dynamic display block module template (Drupal 7): upright30p - Cascading Style Sheet 
 * (c) Copyright Phelsa Information Technology, 2011. All rights reserved.
 * Version 1.0 ( 21-JAN-2011 )
 * Licenced under GPL license
 * http://www.gnu.org/licenses/gpl.html
 */
div.ddblock-cycle-upright30p div.container{background-color:#fff;width:940px;}
div.ddblock-cycle-upright30p div.container-inner{height:258px;position:relative;}
div.ddblock-cycle-upright30p div.slider{float:left;width:720px;}
div.ddblock-cycle-upright30p div.slider-inner{background:transparent !important;height:258px;overflow:hidden;position:relative;visibility:hidden;}
div.ddblock-cycle-upright30p div.slide{display:none;height:100%;left:0;position:absolute;top:0;}
div.ddblock-cycle-upright30p div.slide-inner img{height:258px;margin:0 !important;padding:0 !important;width:720px;}
div.ddblock-cycle-upright30p div.slide-text{display: none; background:transparent !important;position:absolute;}
div.ddblock-cycle-upright30p div.slide-text-horizontal{height:85px;left:0;width:478px;}
div.ddblock-cycle-upright30p div.slide-text-vertical{height:303px;width:140px;}
div.ddblock-cycle-upright30p div.slide-text-top{top:7px;}
div.ddblock-cycle-upright30p div.slide-text-right{bottom:0;right:30px;}
div.ddblock-cycle-upright30p div.slide-text-bottom{bottom:7px;}
div.ddblock-cycle-upright30p div.slide-text-left{bottom:0;left:30px;}
div.ddblock-cycle-upright30p div.slide-text-inner{padding:10px;}
div.ddblock-cycle-upright30p div.slide-title{float:left;}
div.ddblock-cycle-upright30p div.slide-title-vertical{width:130px;}
div.ddblock-cycle-upright30p div.slide-title-horizontal{float:left;width:158px;}
div.ddblock-cycle-upright30p div.slide-title h2{color:#fff!important;margin:-5px 0 0 0;padding:0;}
div.ddblock-cycle-upright30p div.slide-title h2 a{color:#fff!important;text-decoration:none;}
div.ddblock-cycle-upright30p div.slide-title-inner{color:white;font-weight:bold;}
div.ddblock-cycle-upright30p div.slide-body-vertical{width:132px;}
div.ddblock-cycle-upright30p div.slide-body-horizontal{float:left;width:290px;}
div.ddblock-cycle-upright30p div.slide-body-inner{color:white;}
div.ddblock-cycle-upright30p div.slide-body-inner p{margin:0 8px 0 0;padding:0;}
div.ddblock-cycle-upright30p div.slide-read-more{width:110px;}
div.ddblock-cycle-upright30p div.slide-read-more p{padding:0;margin:0;}
div.ddblock-cycle-upright30p div.slide-read-more a{background:url(images/readmore.png) no-repeat;border:none;bottom:5px;color:#fff;font-size:14px;font-family:times New Roman;margin:0;padding:4px 0 4px 19px;position:absolute;text-decoration:none;text-align:left;width:100px;}
div.ddblock-cycle-upright30p div.slide-read-more-horizontal a{right:-17px;}
div.ddblock-cycle-upright30p div.slide-read-more-vertical a{right:5px;}
div.ddblock-cycle-upright30p div.slide-read-more a:hover{background:url(images/readmore-hover.png) no-repeat;text-decoration:underline;}
div.ddblock-cycle-upright30p div.slide-read-more-horizontal a:hover{right:-17px;}
div.ddblock-cycle-upright30p div.slide-read-more-vertical a:hover{right:5px;}
div.ddblock-cycle-upright30p div.custom-pager{width:219px; float: left; border-right: 1px solid #d2d2d2;}
div.ddblock-cycle-upright30p div.custom-pager-inner{height:65px;}
div.ddblock-cycle-upright30p div.custom-pager .custom-pager-item{float:left;}
div.ddblock-cycle-upright30p div.custom-pager .custom-pager-item-inner{width:220px;}
.region-highlight .block{ border: 1px solid #d2d2d2 !important; height: 258px !important; width: 938px !important; position:static !important;}
div.ddblock-cycle-upright30p div.custom-pager a{
	cursor: default;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* IE10+ */
background: linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-8 */

	color:#009bda;
	font-size: 14px;
	display:block;
	float:left;
	height:49px; /* 63px */
	line-height:18px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d2d2d2;
	text-align: left;
	text-decoration:none;
	width:199px; /*220px*/
	padding-left: 20px;
	padding-top: 14px;
	cursor:default;
}
div.ddblock-cycle-upright30p div.custom-pager a.activeSlide{
	cursor: default;
	background: #f8f8f8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f8f8f8 0%, #e4e4e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%); /* IE10+ */
background: linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-8 */
}

div.ddblock-cycle-upright30p .active-pager-item{
	position: relative;	
	cursor:default;
}
div.ddblock-cycle-upright30p .active-pager-item:after{
	content: url('images/slideshow_arrow.png');
	position: absolute;
	top: 0;
	left: 219px;
	px;
	z-index: 10;
}

	color:#009bda;}
div.ddblock-cycle-upright30p div.custom-pager a:hover{
	cursor: default;
	background: #f8f8f8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f8f8f8 0%, #e4e4e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%); /* IE10+ */
background: linear-gradient(top,  #f8f8f8 0%,#e4e4e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-8 */

	color:#009bda;}
div.ddblock-cycle-upright30p div.custom-pager a:active{
	cursor: default;
	background: #f8f8f8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f8f8f8 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8f8f8 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8f8f8 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #f8f8f8 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */	
}
div.ddblock-cycle-upright30p div.custom-pager a:focus{outline:none;}

div.ddblock-cycle-upright30p div.custom-pager a span.slideshow-title{font-family: 'DaxRegular', Arial, Helvetica, sans-serif;}
div.ddblock-cycle-upright30p div.custom-pager a span.slideshow-subtitle{font-size: 12px; color: #666; font-family: 'DaxRegular', Arial, Helvetica, sans-serif;}
/********************* previous next pager on slide **********************/
div.ddblock-cycle-upright30p div.pager-slide{
  height: 65px;
  position: absolute;
  top:130px;
  width:50px;
  z-index:50;
}
div.ddblock-cycle-upright30p div.pager-slide a{
  display:block;
  height:65px;
  opacity: 0.7;
  width:50px;
}
div.ddblock-cycle-upright30p div.next-container a.next{
  background: url(images/next.png) no-repeat;
}
div.ddblock-cycle-upright30p div.prev-container a.prev{
  background: url(images/prev.png) no-repeat;
}
div.ddblock-cycle-upright30p div.next-container a.next:hover{
  background: url(images/next.png) no-repeat;
  opacity:1;
}
div.ddblock-cycle-upright30p div.prev-container a.prev:hover{
  background: url(images/prev.png) no-repeat;
  opacity:1;
}
div.ddblock-cycle-upright30p div.pager-slide a:focus{
  outline:none;
} 
/********************* previous next pager on slide **********************/
div.ddblock-cycle-upright30p div.prev-container{left:5px;}
div.ddblock-cycle-upright30p div.next-container{left:425px;}
div.ddblock-cycle-upright30p div.spacer-vertical{display: none;/*display:block;float:left;height:27px;width:5px;background-color:#ccc;*/}
div.ddblock-cycle-upright30p div.spacer-horizontal{display: none;/*clear:both;height:5px;background-color:#ccc;*/}