.page-upload-design .upload{
  width:50%;
}
.page-upload-design .title{
  width:50%;
}
.inputdesigner label{
      width: 239px;
  float: left;
}
span.infobul {
    background: rgba(0, 0, 0, 0) url("images/icon_question.png") no-repeat scroll 20px center;
    border-radius: 0 0 4px 4px;
    border-top: 0 none;
    margin-left: -40px;
    min-height: inherit;
    padding: 5px 10px 5px 45px;
    position: relative;
}
span.datatemplate {
    float: right;
    margin-right: 40px;
}
span.datainfobul {
    background: #a5a5a5 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    display: none;
    left: 100%;
    opacity: 0.9;
    padding: 7px;
    position: absolute;
    top: -5px;
    width: 200px;
    z-index: 9;
}
 span.infobul:hover .datainfobul {
    display: block;
}
span.datainfobul::after {
    border-bottom: 5px solid transparent;
    border-right: 10px solid #a5a5a5;
    border-top: 5px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -9px;
    margin-top: -4px;
    position: absolute;
    top: 18px;
    width: 0;
}

.page-upload-design .whitebox  >h1{
    font-size: 20px !important;
}

.page-upload-design .descriptionDesigner{
    margin-top: 19px;
}

.page-upload-design #pcdesigner-upload-form .templates{
    margin-top: 0px;
}

.page-upload-design #pcdesigner-upload-form .templates.templates_product,
.page-upload-design #pcdesigner-upload-form .templates.templates_withfile{
    margin-top: 33px;
}
 
.page-upload-design .templates .fieldset-wrapper .productDetail  #edit-product{
   margin: 0;
}

.page-upload-design .templates .fieldset-wrapper .productDetail  #edit-product h2{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
}

.page-upload-design #pcdesigner-upload-form  ul.itemsdesign li label{
    background:none;
    padding-left: 0;
}

.page-upload-design #pcdesigner-upload-form .templates_product .poll-form{
    text-align: center;
    display: inline-block;
    float: left; 
    border-right: 1px solid #d1d1d1;  
    background-color: transparent;
}
.page-upload-design #pcdesigner-upload-form .templates_product .poll-form.designToolOnly {
    border: none;
    margin: 0 auto;
    display: block;
    float: none;
}
.page-upload-design #pcdesigner-upload-form .templates_product .poll-form1{
    border-left: none !important;
    width: 327px;
    padding-left: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-upload-design #pcdesigner-upload-form .templates_product .poll-form2 {
    border-right: none !important;
    padding-left: 13px;
    width: 328px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-upload-design #pcdesigner-upload-form .templates_product .poll-form ul.options-file-impression {
    margin: 0;
    padding: 0;
    max-width: 300px;
}
.page-upload-design #pcdesigner-upload-form .templates_product .poll-form1 ul.options-file-impression {
    max-width: 296px;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 145px;
}
.page-upload-design #pcdesigner-upload-form .templates_product .poll-form2 ul.options-file-impression {
    max-width: 331px;
    margin-left: 5px;
    min-height: 145px;
}
.page-upload-design #pcdesigner-upload-form .templates_product .poll-form ul.options-file-impression li {
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0;
}

.page-upload-design #pcdesigner-upload-form .templates_product .poll-form a.model-form,
.page-upload-design #pcdesigner-upload-form .templates_product .poll-form1 ul.options-file-impression li a{
    display: inline;
    padding: 0;
    background-color: transparent;
    color: inherit!important;
    border: none;
    max-width: none;
    width: auto;
    line-height: inherit;
    text-align: left;
    height: auto;
    font-size: inherit!important;
    text-decoration: underline;
    font-weight: normal;
}

.page-upload-design #pcdesigner-upload-form .templates_detail_technique .txt_detail{
    padding: 0 6px;
}

.page-upload-design #pcdesigner-upload-form .templates_detail_technique .description .titleProduct{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold
}

.page-upload-design #pcdesigner-upload-form .templates_detail_technique .description .form-type-item{
    margin: 0;
}

.page-upload-design #pcdesigner-upload-form .templates_detail_technique .description .linkToDownload{
    margin-top: 18px;
    display: inline-block; 
    background: url(http://d4e7wxbvl20c1.cloudfront.net/images.flyer.fr/Develop/downlode.png) no-repeat 10px center #6fa900; 
    border-radius: 3px;
    text-align: center;
    width: 267px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: normal;
    text-transform: none;
    color: #fff;
    padding-left: 35px;
}

.page-upload-design #pcdesigner-upload-form .templates_detail_technique .image{
    margin-left: 4px;
}

.page-upload-design #pcdesigner-upload-form .templates_product .poll-form{
    padding-bottom: 33px;
}

.page-upload-design #pcdesigner-upload-form  .templates_withfile .fieldset-wrapper{
    background: #f1f1f1;
    padding:0;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #d1d1d1;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailFile{
    float: left;
    padding: 9px;
    position: relative;
    display: inline-block;
    border-right: 1px solid #d1d1d1;
    width: 151px;
}

.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailFile >img{
    height: 214px;
    width: 150px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}
.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailFile .removefile{
    position: absolute;
    top: 12px;
    right: 11px;
}
.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailFile .removefile input[type=submit]{ 
    background-image: url("http://d4e7wxbvl20c1.cloudfront.net/images.flyer.fr/Develop/Delete.png") !important;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailFile .linkDownloadpreview{
    font-size: 11px;
    color: #646464;
    text-align: center;
    display: block;
    line-height: normal;
}

.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailWithFile{
    float: left;
    display: inline-block;
    width: 68%;
    padding: 16px 8px;
}

.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailWithFile .form-item{
    margin: 0;
}

.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailWithFile h2{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}


.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailWithFile .item-list .itemsdesign li{
    padding-left: 0;
    background: none;
    margin: 0;
    margin-bottom: 6px;
    list-style: none;
   
}

.page-upload-design #pcdesigner-upload-form  .templates_withfile .productDetailWithFile .item-list .itemsdesign li label{
    font-size: 12px;
    font-weight: 700;
}
#designerMessage{
  background: #f60 none repeat scroll 0 0;
  color: #fff;
  float: left;
  padding: 10px 10px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
}
#designerMessage p {
    margin: 0;
    line-height: 14px;
}
.messageUploadDesigner{
    display:none;
}
#designerMessage .linesUploadDesign{
    display:block;
}
.cadreGris {
    background: grey;
    float: right;
    width: 220px;
    height: 62px;
    border-radius: 0 0 3px 0;
}

.poll-form-tmp .designtool.iframe {
    display: inline-block;
    background-color: #6fa900;
    border-radius: 3px;
    text-align: center;
    width: 267px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: normal;
    text-transform: none;
}

.poll-form-tmp .txto {
    color: #ff6600;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 10px;
    line-height: 14px;
    text-align: center;
}
.poll-form-tmp a span.btnupfile{
    background: none;
    padding-left: 0;
}