@font-face {font-family: Bebas;src: url(fonts/Bebas.eot);}
@font-face {font-family: "Bebas";src:local("Bebas"), url(fonts/Bebas.ttf) format("truetype");}

html, body, img, fieldset{
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
html{
	font-size:12px;
}
body{
	background: #C8B694;
	color:#000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height:18px;
}

ul, ul li{list-style:circle;}

#canvas{ background: url('images/fake_grunge/background.jpg') repeat-x;}

.clearfix{
	clear:both;
}

.container{
	margin:0 auto;
	padding:0;
	position:relative;
	width:960px;	
}

a{
	color: #A46923;
	text-decoration: none;
}
	a:hover{
		text-decoration: underline;
	}
	
	a:active{
		
	}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Bebas", Arial, Helvetica, sans-serif;
}

h1{font-size: 170%;}
#content h1{padding: 0; margin: 0;}
h2,#center h1 {font-size: 160%;line-height: 130%;}
h3{font-size: 140%;}
h4{font-size: 130%;}
h5{font-size: 120%;}
h6{font-size: 110%;}

h2{
	border-top: 3px solid #8B553D;
    color: #383022;
    font-weight: normal;
    line-height: 120%;
    text-transform: uppercase;
	font-family: "Bebas", Arial, Helvetica, sans-serif;
}

	h2 a{color: #383022;}

#header,
#navigation,
#content,
#sidebar-first,
#sidebar-second{
	margin: 0 10px;
}

#header{
	height: 110px;
    margin-bottom: 10px;
    padding-top: 70px
}

	#header #header_left, #header #header_right{
		width: 50%;
		float: left;
	}
	
		#header #header_left p, #header #header_right  p{ color: #fff; }

	#header #header_left{
	
	}
	
	#header #header_right{
		margin-top: 25px;
	}

#navigation{
	/* background: url("images/fake_grunge/template.png") repeat-x scroll 0 -95px transparent; */
	padding: 0 10px;
	height: 37px;
	margin-bottom: 0;
	padding-top: 3px;
	padding-bottom: 2px;
	margin: 0;
}

#navigation ul#main-menu{
	float: left;
	margin: 5px 0 0 10px;
	padding: 0;
}

	#navigation #main-menu li{
		list-style: none;
		float: left;
		margin-right: 5px;
	}
	
		#navigation #main-menu li a{
			display: block;
			padding: 5px 10px;
			background: url("images/fake_grunge/arrow-on.png") no-repeat scroll 0 50% transparent;
    		color: #FFFFFF;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		#navigation #main-menu li a:hover{
			background: #53300C;
    		border: 1px solid #000000;
			text-decoration: none;
		}

#navigation #nav_right{
	float: right;
	width: 220px;
}

#main{
	clear: both;
	background: url('images/fake_grunge/bg_right.jpg') repeat-y top center;
}

#sidebar-first, #sidebar-second{
	float: left;
	width: 220px;
}

#content{
	width: 920px;
	float: left;
	padding: 10px;
}

	body.one-sidebar #content{
		width: 660px;	
	}
	
	body.two-sidebars #content{
		width: 440px;	
	}
	
.region-sidebar-first .block,
.region-sidebar-second .block{
	margin-bottom: 10px;
	padding: 10px;
}

.region-sidebar-first .block:after,
.region-sidebar-second .block:after{
	content:'';
	display:block;
	clear: both;
}

.region-sidebar-first .block legend,
.region-sidebar-second .block legend{
	font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.region-sidebar-first .block ul li,
.region-sidebar-second .block ul li{
	background: url("images/fake_grunge/buttons.png") no-repeat scroll -436px 6px transparent;
    border-bottom: 1px dashed #7E6248;
	list-style: none;
	padding: 0;
	margin-left: 0;
}
.region-sidebar-first .block ul li a,
.region-sidebar-second .block ul li a{
	color: #383020;
    font-family: georgia,garamond,serif;
    text-transform: uppercase;
	display: block;
    font-size: 120%;
    font-weight: normal;
    overflow: hidden;
    padding: 4px 0 6px 20px;
    text-indent: 0;
}

#bottom{
	background: url("images/fake_grunge/foot-wood.png") repeat-x top center;
	color: #947E59;
	width: 100%;
	min-height: 134px;
	padding-top: 20px;
	position: relative;
	margin-top: -10px;
}

#inner-bottom{background:#0f0207 url("images/fake_grunge/foot-wood.png") repeat-x center -20px;width: 100%;
	min-height: 200px;}

#footer{
	width: 960px;
	margin: 0 auto;
}

#footer .block{
	float: left;
	margin: 0 10px;
    width: 280px;
	padding: 10px;
}

#footer h2{
	border-top: 3px solid #fff;
    color: #ddd;
    line-height: 120%;
    text-transform: uppercase;
}

	#footer h2 a{color: #fff;}

#closure{
	width: 960px;
	margin: 10px auto 0 auto;
	border-top: 2px dashed #381b17;
	background:#0f0207;
	min-height: 60px;
	background: #0F0207;
}

#closure .block{
	float: left;
	width: 50%;
}

.node-newsitem{
	margin-bottom: 20px;	
}

.node-readmore a{
	background: url("images/fake_grunge/arrow-off.png") no-repeat scroll 0 50% transparent;
	padding-left: 10px;
}

.floatleft {
	background:url(images/fake_grunge/imagebg.png) no-repeat;
	padding: 20px;
	height: 162px;
    margin: 5px;
    padding: 25px;
    width: 200px;
	float: left;
}

/* ------ PC ADJUSTMENTS ------ */

/* Product page 1 */
.page-products #block-system-main h2{font-size:130%;line-height:100%}
.page-products #block-system-main #pcproducts-products-form ul li{text-align:center}
.page-products #block-system-main .form-item, .page-products #block-system-main .form-actions{margin-top:0.25em}
.page-products #block-system-main #pcproducts-products-form ul li label{font-weight:normal;display:inline}

/* Product page 2 */
#pcproducts-products-form ul li, #pcproducts-productoverview-form ul li, #pcproducts-productconfig-form .other li{text-align:center}


/* Product info block */
#block-pcproducts-productinfo img{max-width:198px;border-radius:4px 4px 4px 4px}
#block-pcproducts-productinfo .short-description{font-weight:bold}
#block-pcproducts-productinfo .long-description ul{padding-left:20px}

/* tables */
table{width:100%}
table tr{border-bottom: 1px solid #8B553D;}
table th{border-color:#8B553D; background: url('images/fake_grunge/bg_header.png') repeat-x; padding-top: 17px; color: #fff; text-transform: uppercase; font-family: "Bebas", Arial, Helvetica, sans-serif;}
table tr.even{background:none}
table tr.odd{background: #e1d5ad;}
table tbody{border-color: #8B553D;}
#priceblock table, .templates-table{background: #e1d5ad;width: 250px;float:right;}


/* Cart indicator */
#block-pccart-indicator .button{
	font-size: 16px;
	padding: 7px 14px;
	float: right;
}

fieldset{
	margin-top: 20px;	
}

fieldset legend{
	border-top: 3px solid #8B553D;
    color: #383022;
	font-size: 20px;
    font-weight: bold;
    line-height: 120%;
    text-transform: uppercase;
	font-family: "Bebas", Arial, Helvetica, sans-serif;
	width: 100%;
	margin-bottom: 20px;
}

.form-item-step2-custom-quantity label{float: left; margin-bottom: 20px;}
.form-item-step2-custom-quantity input{float: right;}

#pcproducts-products-form h2{border:none;}

#edit-step2-footer-priceblock-addtocart{
	float: right;
	margin-top: 20px;
}

#edit-step2-options{margin: 10px 0; padding: 10px 0; border-bottom: 1px solid #8B553D; border-top: 1px solid #8B553D;}
#pcproducts-productconfig-form .footer > .priceblock{padding: 10px 0 0 10px;}
/* ------ BUTTONS ------ */
input.action, a.button{
	background: #99140a;
	background: -moz-linear-gradient(top,  #99140a 0%, #510b05 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99140a), color-stop(100%,#510b05));
	background: -webkit-linear-gradient(top,  #99140a 0%,#510b05 100%);
	background: -o-linear-gradient(top,  #99140a 0%,#510b05 100%);
	background: -ms-linear-gradient(top,  #99140a 0%,#510b05 100%);
	background: linear-gradient(to bottom,  #99140a 0%,#510b05 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99140a', endColorstr='#510b05',GradientType=0 );
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    color: #EF8B05;
    font-family: georgia,garamond,serif;
    font-size: 14px;
    padding: 5px 10px;
    text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0 3px 3px rgba(0,0,0,0.25);
}
	input.action:hover, a.button:hover{
		text-decoration: underline;
		color: #000;
	}