<form action="/panier" method="post" id="pccart-cart-form" accept-charset="UTF-8">
	<div>
		<div class="cart clearfix form-wrapper" id="edit-cart">
            <% if(!model.id) { %>
            <div class="form-item form-type-item">
                <%= config.labels['cartIsEmpty'] %>
            </div>
            <div class="form-item form-type-item">
                <a href="/<%= config.prefix  %>/products"><%= config.labels['continue'] %></a>
            </div>
            <% } %>
			<a href="/cart/offer" class="download" target="_blank" title="<%= config.labels['downloadDevis'] %>"><%= config.labels["downloadDevis"] %></a>

            <div id="errorBox">

            </div>

            <div id="jobBox">
				
			</div>

			<div id="bottomBox">
				
			</div>

			<!-- Show detail technic of a job-->
			<div id="technic-details" class="technic-details-container">
			
			</div>
		</div>
	</div>
</form>