<fieldset class="items cartItemsContainer form-wrapper orderBox" data-orderItem="<%= model.id %>">
	<div class="fieldset-wrapper">
		<div class="item job  clearfix form-wrapper job-item-event">
			<div class="refJob-code" style="display: <%= (model.emailDesigner ==null)?'none':'block' %>;">
				<div class="form-item">
					<label for=""><%= config.labels["refjob"] %></label>
					<input class="refjobTxt" type="text" id="edit-cart-items-1572303-files-description-refjob" name="cart[items][1572303][files][description][refJob]" value="<%= model.refJob %>" size="20" maxlength="25">
				</div>

				<div class="items_actions">
					<span data-orderItem="<%= model.id %>" class="removecart"></span>
				</div>
			</div>
			<div class="preview2">
				<div class="description form-wrapper <%= (model.emailDesigner ==null)?'':'jobDesigner' %>">
					<h3><%= model.quantity %> <%= config.labels.ex %>. <%= model.configuration.name %> <%= model.configuration.config[0].name %></h3>
					<%= priceTpl({price:model.price,classToAdd:'price'}) %>
					<div class="item-list">
						<ul>
						<% _.each(model.configuration.config, function(itemConfig, i){ %>
							<% if(i!=0) { %>
								<li class="<%= (i == 1)?'first':'' %> <%= (i == model.configuration.config.length-1)?'last':'' %>"><label><%= model.configuration.config[i].groupName %>:</label>  <%= model.configuration.config[i].name %> </li>
							<% } %>
						<% }); %>

						<% if(model.options.length>0) { %>
							<% _.each(model.options, function(option, i){ %>
								<li class="<%= (i == model.options.length-1)?'last':'' %>"> <%= option.optionName %> </li>
							<% }); %>
						<% } %>

						</ul>
					</div>
					<div class="items_actions">
						<span data-orderItem="<%= model.id %>" class="removecart"></span>
					</div>
					<%
					var directLink = "http://" + document.location.host + "/" + config.prefix + "/products/" + model.configuration['productId'] + "/" + encodeURIComponent(_.map(model.configuration.config, function(conf){ return conf.toolboxItemId; }).join(",")) + "/" + encodeURIComponent(model.options.join(",")) + "/" + model.quantity;
            		%>
					<div class="edit-job">
						<a href="<%= directLink %>" class=""><%= config.labels["updateProduct"] %></a>
					</div>
				</div>
			</div>
			<!-- end preview -->

			<div class="prodactTemplates centroid-2" style="display: <%= (model.emailDesigner ==null)?'block':'none' %>;">
				<div class="prodactHasTemplates">
					<div class="title-chose"><%= config.labels["designtoolTitle"] %></div>
					<div class="poll-form poll-form1 first <%= (model.hasProUpload == true)?'':'designToolOnly' %>">
						<div class="title-image design-tool"></div>
						<div class="option-title"><%= config.labels["dlLinkTitle"] %></div>
						<p class="txto"><%= config.labels["dlLinkSubtitle"] %></p>
						<ul class="options-file-impression indice-5">
                            <li><%= config.labels["dtOptions1"] %></li>
                            <li><%= config.labels["dtOptions2"] %></li>
                            <li><%= config.labels["dtOptions3"] %></li>
                            <% if(model.hasLayouts == true){ %>
                            	<li><%= config.labels["dtOptionsModule"] %> <a href="<%= config.designtoolLink %><%= model.configuration.designtoolLink %>&insertModel=1" class="designtool iframe model-form fancybox.iframe"><%= config.labels["dtOptionsModuleLink"] %></a></li>
                            <% } %>

                            <li><%= config.labels["dtOptions4"] %></li>
                		</ul>
                		<%  
                			var urlCallback = encodeURIComponent("http://" + document.location.host + "/" + config.prefix + "/cart/callback");
                			var designtoolLink = model.configuration.designtoolLink.replace(/(dcb=).*?(&)/,'$1' + urlCallback + '$2');
                			designtoolLink = designtoolLink.replace(/(&quickupload=).*/,'');
                			designtoolLink = designtoolLink.replace(/(&j=).*/,'');
                			var proUploadLink = designtoolLink + "&quickupload=1";
                		%>
                		<a href="<%= config.designtoolLink %><%= designtoolLink %>" class="upload designtool fancybox.iframe iframe">
                			<span class="text buttondesigntool btnupfile">
                				<span class="txtgras"><%= config.labels["dtBtnText"] %></span>
                			</span>
                		</a>
                	</div>

                	<% if(model.hasProUpload == true){ %>
                	<div class="poll-form poll-form2">
                		<div class="title-image pro-upload"></div>
                		<div class="option-title"><%= config.labels["proUploadLinkTitle"] %></div>
                		<p class="txto"><%= config.labels["proUploadLinkSubtitle"] %></p>
                		<ul class="options-file-impression indice-5">
                            <li><%= config.labels["proUploadOptions1"] %></li>
                            <li><%= config.labels["proUploadOptions2"] %></li>
                            <li><%= config.labels["proUploadRespecte"] %> <a href="#" data-orderItem="<%= model.id %>" class="technic-details model-form"><%= config.labels["proUploadTechnices"] %></a> <%= config.labels["or"] %> <a target="_blank" href="/les-paramètres-prédéfinis-pdf-cest-quoi" id="predef-params" class="model-form" target="_blank"><%= config.labels["proUploadParams"] %></a></li>
                            <li><%= config.labels["proUploadOptions3"] %></li>
                		</ul>
                		
                		<a href="<%= config.designtoolLink %><%= proUploadLink %>" class="designtool iframe fancybox.iframe">
                			<span class="buttonlayout btnupfile">
                				<span class="txtgras"><%= config.labels["proUploadBtnText"] %></span>
                			</span>
                		</a>
                	</div>
                	<% } %>
                </div>
            </div>
            <!-- designtool -->

            <div class="form-item form-type-checkbox checkbox-event">
				<input type="checkbox" id="checke-label-<%= model.id %>" name="cart[items][1572303][ready][designer][check]" value="<%= model.emailDesigner %>" class="form-checkbox" <% if(model.emailDesigner !=null){ %> checked <% } %> >
				<label class="option" for="checke-label-<%= model.id %>"><%= config.labels["graphisteOptions"] %> </label>
			</div>
			<!-- end No download -->

			<div class="clearfix inputdesigner form-wrapper" style="display: <%= (model.emailDesigner ==null)?'none':'block' %>;">
				<div class="form-item form-type-textfield designer-email">
					<label for=""><%= config.labels["graphisteAdresse"] %></label>
					<input class="inputdesigneremail form-text" type="text" id="" name="cart[items][1572303][ready][designer][inputdesigner][email]" value="<%= model.emailDesigner %>" size="50" maxlength="128">
				</div>

				<div id="edit-cart-designer-warning" class="form-item form-type-item">
					<%= config.labels["graphisteAttention"] %>
				</div>
			</div>
			<!-- end Attention-->

		</div>
	</div>
</fieldset>