<script type="text/javascript" id="templateJobFull">
			
	<fieldset class="items cartItemsContainer form-wrapper" id="edit-cart-items">
		<div class="fieldset-wrapper">
			<div class="item job clearfix form-wrapper">
				<div class="image form-wrapper">
					<img src="https://dt-printconcept-production.s3.amazonaws.com/1051135/jobout_thumb_e7d8440fc5d2ca7b3e5a24dbbb2af1c92fc3c98b.jpg?59178917ac3be2ce3e4a955de393b8c3">
				</div>

				<div class="preview1">
					<div class="description form-wrapper">
						<h3>500 ex. Flyers / Tracts A7 </h3>
						<span class="price">
							<span class="value">
								<span class="whole">23</span>
								<span class="decimalpoint">,</span>
								<span class="decimals">00</span>&nbsp;
								<span class="currency">€</span>
							</span>
						</span>

						<div class="item-list">
							<ul>
								<li class="first"><label><%= config.labels["test"] %></label><%= config.labels["test"] %></li>
								<li class="last"><label><%= config.labels["test"] %></label><%= config.labels["test"] %></li>
							</ul>
						</div>

						<div class="refJob-code">
							<div class="form-item">
								<label for="edit-cart-items-1572303-files-description-refjob"><%= config.labels["test"] %></label>
								<input class="hint form-text refjobTxt form-text" orderitem="1572303" type="text" id="edit-cart-items-1572303-files-description-refjob" name="cart[items][1572303][files][description][refJob]" value="" size="20" maxlength="25">
							</div>
						</div>

					</div>
				</div>
				
				<div class="btns-box">
					<div class="preview">
						<a href="http://designtool.new.prd.flyer.fr/job/preview/rg/1/id/1051135/lang/fr_FR_1_1348063973/impkey/printconcept" target="blank" class="previewlink"><%= config.labels["test"] %></a>
					</div>

					<div class="preview">
						<a href="http://designtool.new.prd.flyer.fr/designtool/index/resize/1/p/5/order_opts//l/fr_FR_1_1348063973/shop/23/rc/ribbons_design/impkey/printconcept?options=&amp;vat=&amp;dcb=http%253A%252F%252Fwww.flyer.fr%252Fdesigntool%252Fcallback&amp;title=Flyers%20/%20Tracts%20A7%20&amp;style=http%3A//www.flyer.fr/sites/all/themes/printconnect/flyer/css/designtool.css&amp;id=1572303&amp;vs=1&amp;shop_apikey=829dc7b162f77ed761be6cac0ae8782c0ee1866b&amp;cartid=727641&amp;j=1051135&amp;currencyPreflight=%E2%82%AC&amp;pricePreflight=4%2C99" class="designtool iframe reupload designtool iframe"><%= config.labels["test"] %></a>
					</div>

					<div class="preview">
						<input class="delete_item deletedesign form-submit ui-button ui-widget ui-state-default ui-corner-all" itemfileid="1572303" type="submit" id="edit-cart-items-1572303-files-remove" name="delete_item_1572303" value="<%= config.labels["test"] %>" role="button">
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</script>
