<div>
    <div id="priceblock-wrapper">
        <div class="priceblock">
            <div class="clearfix subtotal price"><label><%= config.labels['subTotal'] %></label> <%=  priceTpl({price:subTotalAmount}) %></div>
            <div class="clearfix vat price"><label><%= config.labels['subTotalVat'] %></label> <%= priceTpl({price:(subTotalAmount * config.vat)}) %></div>
        </div>
    </div>
    <div id="edit-actions" class="actions form-actions clearfix form-wrapper"><span class="price" id="price"><label>
        <%= config.labels['subTotalWithTVA'] %></label> <%= priceTpl({price:(subTotalAmount * (1 + config.vat))}) %></span>

        <div class="button-wrapper"><input type="submit" value="<%= config.labels['pay'] %>" name="op" id="edit-actions-checkout"
                                           class="action large payment button form-submit ui-button ui-widget ui-state-default ui-corner-all"
                                           role="button"></div>
    </div>
</div>