<fieldset id="salesId" class="discount ref form-wrapper">
    <!-- <legend><span class="fieldset-legend"><%= config.labels['salesId'] %></span></legend> -->
    <div id="sales_id_message" class="messages error" style="display: none;">
        <h2 class="element-invisible">Error message</h2>
        <ul>
         <li><%= config.labels['SalesIdNotExist'] %></li>
        </ul>
    </div>
    <div class="fieldset-wrapper">
        <div class="form-item form-type-item" id="edit-cart-reference-text">
           <%= config.labels['salesIdText'] %>
        </div>
        <div class="form-item form-type-textfield form-item-cart-reference-input">
            <input type="text" maxlength="128" size="30" value="<%= model.salesId %>" id="edit-cart-salesId-input"  class="refCustomer form-text" placeholder="<%= config.labels['SalesIdExample'] %>">
        </div>
    </div>
</fieldset>