  #block-pccustomers-welcome {
  height:1.5em;
}

#block-pccustomers-welcome li{
  height:1.5em;
  display:inline;
}

#edit-billingaddresses{
    margin-top: 36px;
}
/*
a.twitterconnect,
a:visited.twitterconnect,
a.facebookconnect,
a:visited.facebookconnect,
a.googleconnect,
a:visited.googleconnect{
  display: block;
  width: 162px;
  height: 39px;
  line-height: 39px;
  text-indent: -9999em;
  background-image: url("images/connect.png");
  background-repeat: no-repeat;
}

a.twitterconnect{background-position: 0 0;}
a:hover.twitterconnect{background-position: 0 -39px;}
a:active.twitterconnect{background-position: 0 -78px;}

a.facebookconnect{background-position: -162px 0;}
a:hover.facebookconnect{background-position: -162px -39px;}
a:active.facebookconnect{background-position: -162px -78px;}

a.googleconnect{background-position: -324px 0;}
a:hover.googleconnect{background-position: -324px -39px;}
a:active.googleconnect{background-position: -324px -78px;}


a.twitterconnect,
a:visited.twitterconnect,
a.facebookconnect,
a:visited.facebookconnect,
a.googleconnect,
a:visited.googleconnect{
  float: left;
  margin-right: 10px;
}*/
.page-myprintconnect-addresses #pccustomers-address-form input[type="submit"]{
    margin-left: 0!important;
    background: url(images/calc_btn.png) no-repeat 27px center,-webkit-linear-gradient(top, #77b800 0%, #669c02 100%);
    padding-left: 63px;
}
.page-myprintconnect-changepassword #pccustomers-changepassword-form label {
    white-space: normal;
    text-align: left;
    line-height: 19px!important;
    max-width: 142px!important;
    width: 160px!important;
}
#pccustomers-address-billingaddresses-form label,
#pccustomers-newaddress-billingaddresses-form label {
    float: left;
width: 100px;  
}

pccustomers-newaddress-billingaddresses-form .form-item-company, .form-item-vatNumber{
    display: block;
}

#edit-vatnumber-number{
   width: 390px;   
}
