@media screen and (max-width: 1024px){
	 
	#section1 .section-col2 img {
    position: absolute;
    top: 199px;
    right: 0px;
    width: 90%;
	}
}
@media screen and (min-width: 980px){
	#section4 .section-col2 .wrap-form form .form-group {
		width: 77%;
	}

	#section2 .container:after { 
		content: ""; 
	} 
	#section2 .section-col1 .section-col1-1 p{
		width: 90%;
	}
	.discktop{
		display: block;
	}
	.tablete , .mobile{
		display: none;
	}

}

@media screen and (max-width: 980px){
	#section1 .section-col2 img {
      width: 81%;
      top: 211px;
	}
 
	#section1 h2 {
   		font-size: 28px; 
    	width: 766px; 
	}
	#section1 h3 {
	    font-size: 26px; 
    	width: 766px; 
	}

}

@media screen and (max-width: 900px){
	#section1 .section-col2 img {
      width: 97.6%;
	}
	#section1 .section-col2 img {
      	top: 16px;
	}
	#section1 h2 {
   		font-size: 28px;
	}
	#section1 h3 {
	    font-size: 26px;
	}

	#section4 .section-col2 .wrap-form form .form-group {
		width: 77%;
	}

	#section2 .container:after { 
		content: ""; 
	}
	.discktop{
		display: block;
	}
	.tablete , .mobile{
		display: none;
	}
	#section4 .section-col2 .wrap-form form .form-group {
    	width: 76%;
	}

}

@media screen and (max-width: 800px){

	#section2 .container{
		position: relative;
	}
	#section2 .container:after {
		transform: scale(1);
		content: url(../img/personne_tablete.png);
		position: absolute;
		bottom: 0;
		right: 0px; 
	}
	#section1 .col-sm-6 {
    	width: 90%;
	}
	.tablete{
		display: block;
	}
	.discktop, .mobile{
		display: none;
	}
	/*section 1*/
	#section1 h2 { 
		font-size: 37px;  
    	width: 766px; 
	}
	#section1 h3 { 
		font-size: 26px; 
	}
	#section1 p{
		width: 80%;
	}
	/*end section 1*/
	/* Section 2*/
	#section2 .col-sm-8 {
    	width: 61.667%;
	}
	#section2 .section-col1 .section-col1-2 .wrap-form .form-inline .form-group{
		width: 69%;
	}
	#section2 .section-col1 .section-col1-2 .wrap-form form button {
		width: 69%;
	}
	/* end section 2*/
	/* Section 3*/
	#section3 .section-col1 .section-col1-1 h3 {
		font-size: 22px;
		line-height: 30px;
	}
	#section3 .section-col1 .section-col1-1 p {
		font-size: 13px;
	}
	#section3 .cell {
		padding: 19px 24px 17px 16px;

		min-height: 100%;
	}
	#section3 .cell .wrap-star h4 {
		font-size: 13px;
	}
	#section3 .cell .wrap-star p {
    	font-size: 11px;
	}
	/* end section 3*/
	/* section 4 */
	#section4 {
		padding-top: 35px;
		padding-bottom: 36px;
		text-align: center;
	}
	#section4 h3 {
		font-size: 18px;
	}
	#section4 p {
		font-size: 13px;
	}
	#section4 p >span{
		font-size: 11px;
	}
	#section4 .section-col2 .wrap-form form .form-group {
		width: 77%;
	}
	#section4 .section-col2 .wrap-form form .form-group input{
		font-size: 11px;
	}
	#section4 .section-col2 .wrap-form form button {
		font-size: 11px;
	}
	#section4 .section-col2 .wrap-form {
		padding: 9px;
	}
	  
	/*end section 4 */
	/*section 5*/
	#section5{
		padding-top: 27px;
		padding-bottom: 37px;
	}

	/* end section 5*/
	/* section 6*/
	#section6{
		padding: 18px 0px;
	}
	  
	#section6 .impressiveBack p{
		width: 100%; 
		position: relative;
		color: #ffffff;   
		font-size: 20px;
		font-family: 'DaxRegular', Arial, Helvetica, sans-serif;  
	}
	#section6 .impressiveBack p:before{
		position: absolute;
		left: 1px;
		top: 25px;
		content: url(http://www.printconcept.be/sites/all/themes/printconcept/images/impressiveBackground.png);
	}
	/* end section 6*/
	  
}
@media screen and (max-width: 768px){ 
	#section4 .section-col2 .wrap-form form .form-group {
		width: 76%;
	} 
	#section4 .section-col2 .wrap-form form .form-group {
		width: 76%; 
		display: inline-block;
	}
	#section1 h2 {
    	width: 766px;
	}
	 
	 
}
@media screen and (max-width:767px){
	#section3 .cell-center {
		border-top: 1px solid #0183bc;
		border-bottom: 1px solid #0183bc;
	}
	#section3 .cell {
    	min-height: 0;
	}
	#section3 .cell .wrap-star img {
  		margin-left: 0;
	}
	#section3 .cell-first {
		border-right: none;
    	border-bottom:1px solid #76C8EA;
    	border-radius: 5px 5px 0px 0px;
		-moz-border-radius: 5px 5px 0px 0px;
		-webkit-border-radius: 5px 5px 0px 0px;  
	}
	#section3 .cell-last {
    		border-left:none; 
    		border-top:1px solid #76C8EA; 
    		border-radius: 0px 0px 5px 5px;
			-moz-border-radius: 0px 0px 5px 5px;
			-webkit-border-radius: 0px 0px 5px 5px;
	}
	 
	 
}
@media screen and (max-width: 739px){
	#section4 .section-col2 .wrap-form form .form-group {
		width: 74%;
		display: inline-block;
	}
	 
	 
}
@media screen and (max-width: 712px){
	#section4 .section-col2 .wrap-form form .form-group {
		width: 75%;
		display: inline-block;
	}
	 
 
}
@media screen and (max-width: 687px){
	#section4 .section-col2 .wrap-form form .form-group {
		width: 74%;
		display: inline-block;
	}
 
}
@media screen and (max-width: 640px){

	 #section4 .section-col2 .wrap-form form button:hover{
		background-color: rgba(255, 180, 0, 1);
		-webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-ms-transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
    }

	#section2 .section-col1-1 div ul li {
    list-style: outside url('../img/mobile-puce-img.png') disc;
    margin-left: -14px;
	}
	.tablete-discktop{
		display: none;
	}
	.discktop , .tablete{
		display: none;
	}
	.mobile{
		display: block;
	}


	#section2 .col-sm-8 {
    	width: 100%;
	}
	 
	#section2 .container:after {
		content: '';
	}
	 
	#section1 p {
		width: 100%;
	}
	
	#section1 .section-col1 {
    	padding-top: 20px;
    	padding-bottom: 28px;
	}
	#section1 .container > .row { 
		background: url(../img/personne.png) no-repeat right bottom;
		background-size: contain;
	}
 
	#section1 h2 {
    	font-size: 16px;
    	width: 100%;
	}
	#section1 h3 {
    	font-size: 15px;
	}
	#section1 h4 {
    	font-size: 14px;
    	font-weight: bold;
    	line-height: 12px;
    	margin-bottom: 9px;
	}
	#section1 p { 
	    font-size: 12px;
	    line-height: 18px;
	    font-weight: normal;
	}
	#section1 h2 {
    	line-height: 16px;
	}
	#section1 h3 { 
   	 line-height: 18px;
   	 margin-bottom: 20px;
	}
	#section2 .section-col1 {
    padding-top: 7px;
    padding-bottom: 23px;
    }
	#section2 .section-col1 .section-col1-1 h2 { 
    font-size: 17px;   
    margin-bottom: 11px;
	}
	#section2 .section-col1 .section-col1-1 div ul li {
    	font-size: 14px;
	}
	#section2 .section-col1 .section-col1-1 {
    	margin-bottom: 17px;
	}
	#section2 .section-col1 .section-col1-2 .wrap-form h3 {
    	font-size: 15px;
	}
	#section2 .section-col1 .section-col1-2 .wrap-form .form-inline .form-group {
    	width: 100%;

	}
	#section2 .section-col1 .section-col1-2 .wrap-form form button {
    	width: 100%;
	}
	#section2 .section-col1 .section-col1-2 .wrap-form .section-col1-2-1 p {
    	font-size: 10px;
    	text-align: justify;
	}
	#section2 .section-col1 {
    	padding-top: 14px;
    	padding-bottom: 23px;
	}
	#section3 {
    	padding-top: 22px;
    	padding-bottom: 36px;
	}
	
	#section4 {
	    padding-top: 17px;
	    padding-bottom: 26px;
	}
	#section4 h3 {
    	font-size: 14px;
    	line-height: 18px;
    	text-shadow: 0px 1px #2b3c4d; 
    	margin-bottom: 5px;
	}
	#section4 .section-col2 .wrap-form form .form-group {
    	width: 100%;
	}
	#section4 p {
    	margin-bottom: 15px;
	}
	#section4 .section-col2 .wrap-form form .form-group .form-control {
	   	display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857;
		color: #555;
		background-color: #FFF;
		background-image: none;
		border-radius: 4px;
		box-shadow: 0px 0px 0px 1px rgb(204, 204, 204) inset;
		border: 1px solid #CCC;
		margin-bottom: 15px;
	}
	#section4 .section-col2 .wrap-form form button{
		background-color: #FFDA2A;
		border: 0px none;
		color: #58595B;
		width: 100%;
		padding: 9px 12px;
	}
	#section4 .section-col2 .wrap-form {
    	background-color: transparent; 
    	padding: 13px;
	}
	.section-discktop{
		display: none;
	}
	 
	.numberphone{
		display: block;
	}

	#section3 .cell-center {
		 
		border-width: 1px;
		border-style: solid;
		border-color: rgba(28, 163, 216, 1) rgba(3, 171, 216, 1);

		 
	}
	#section3 .cell {
    	min-height: 0;
	}
	#section3 .cell .wrap-star img {
  		margin-left: 0;
	}
	#section3 .cell-first {
		border-left: 1px solid rgba(28, 163, 216, 1);
		border-right: 1px solid rgba(28, 163, 216, 1);
    	border-bottom:1px solid #76C8EA;
    	border-radius: 5px 5px 0px 0px;
		-moz-border-radius: 5px 5px 0px 0px;
		-webkit-border-radius: 5px 5px 0px 0px;  
	}
	#section3 .cell-last {
		border-left: 1px solid rgba(28, 163, 216, 1);
	    border-right: 1px solid rgba(28, 163, 216, 1); 
		border-top:1px solid #76C8EA; 
		border-radius: 0px 0px 5px 5px;
		-moz-border-radius: 0px 0px 5px 5px;
		-webkit-border-radius: 0px 0px 5px 5px;
	} 

	#section5 .mobile .col1 p{
		color: #fff;
		text-align: center;
		margin-bottom: 10px;
	}
	#section5 .mobile .col1 p:nth-child(1){
		font-weight: bold;
	}
	#section5 .mobile .col2 p{
		text-align: center;
	}

	#section5 .mobile .col2 .impressiveBack {
    background: url("http://www.printconcept.be/sites/all/themes/printconcept/images/impressiveBackground.png") no-repeat scroll center 27px transparent;
	}

	.col-footer-discktop{
		display: none;
	} 

}
@media screen and (max-width: 480px){
	 
	#section1 p {
    width: 100%;
    text-align: justify;
	}
	#section1 .container > .row {
    	background: transparent;
	}
	#section1 ul li {
		text-align: justify;
		letter-spacing: -0.4px;
	}
	#section1 h3 {
    text-align: justify;
    letter-spacing: 1px;
	}
	#section1 h2 {
    text-align: justify;
	}
}
@media screen and (max-width: 360px){
	#section2 .section-col1 .section-col1-1 h2{
		letter-spacing: 0.4px;
	}
	#section1 .col-sm-6 {
    width: 100%;
	}
	.tablete-discktop{
		display: none;
	}
	.mobile{
		display: block;
	}
	.tablete , .discktop{
		display: none;
	}

	#section1 p{
		width: 100%;
		text-align: justify;
	}
	#section1 .container > .row {
    	background: transparent;
	}
	#section2 .col-sm-8 {
    	width: 100%;
	}
	#section1 h2 {
    	font-size: 15px;
		font-weight: normal !important;
	}

	#section2 .section-col1-2 .wrap-form h3 {
    	font-size: 14px;
   		letter-spacing: 0.9px;
	} 
	#section3 .section-col1 .section-col1-1 p {
    	text-align: justify;
	}
}

@media screen and (max-width: 320px){
	#section2 .section-col1 .section-col1-1 h2 {
    font-size: 15px;
    margin-bottom: 11px;
	}
	#section2 .section-col1-2 .wrap-form h3 {
    font-size: 14px;
    letter-spacing: 0px;
	}
	#section2 .section-col1 .section-col1-2 .wrap-form h3 {
    font-size: 14px;
}
}
