.partoculierLink{
background: -moz-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -o-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -webkit-linear-gradient(top, #77b800 0%, #669c02 100%);
background:#77b800;
	
}

.SocieteLink{
background: -moz-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -o-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -webkit-linear-gradient(top, #77b800 0%, #669c02 100%);
background:#77b800;
}

#pctemplates-selection-form{
	width:98% !important;	
}
#homeSlider{
	left:-40px;
	margin-top: -33px !important;
}

#block-pcproducts-calculator select, #block-pcproducts-calculator .selectBox{
	width:100px !important;	
}
#block-pccustomers-profile .item-list li.first a{

		
}
#block-pccustomers-profile .item-list li {
	line-height:18px !important;
}

#pccustomers-newaddress-form .form-item-postalCode, 
#pccustomers-address-form .form-item-postalCode, 
#pccustomers-newaddress-form .form-item-city, 
#pccustomers-address-form .form-item-city {
	float:left !important; 
} 


.block-pctemplates ul li,.view-best-sales ul li,#pcproducts-products-form ul li, #pcproducts-productoverview-form ul li, #pcproducts-productconfig-form .other li, #block-pcproducts-other li{ 
  margin: 0 8px 10px 0;  
}

a.cart.button{
	display: block;
	color: #fff;
}

#footer .search-footer.block a.button{
	color: #fff;
	display: inline;
	text-align: center;
	line-height: 34px;
	text-decoration: none;
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	font-style: 14px;
}
#footer #block-menu-menu-footer ul.menu li{
 list-style-image: none; 
}