/* CSS Document */


.partoculierLink{
background: -moz-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -o-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -webkit-linear-gradient(top, #77b800 0%, #669c02 100%);
background:#77b800;
	
}

.SocieteLink{
background: -moz-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -o-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -webkit-linear-gradient(top, #77b800 0%, #669c02 100%);
background:#77b800;
}

#edit-userforms {
	width:80% !important;	
}

#pctemplates-selection-form .form-item{
	width:46% !important;	
}
.ieMargin{
	margin-right:20px !important;	
}

#edit-colors{
	left:-20px !important;
	
}

#pctemplates-config-form2 .form-item{
	padding:20px 0px 20px 10px  !important;	
}

#block-pccustomers-profile .item-list li.first a{

		
}
#block-pccustomers-profile .item-list li {
	line-height:18px !important;
}

#pccustomers-address-form .form-item-city {
	position:absolute;
	left:282px;
	top:188px;

	
}

#pccustomers-newaddress-form .form-item-city {
	position:absolute;
	left:282px;
	top:200px;
}
#pccustomers-newaddress-form .form-item-city input {
	padding-bottom:10px !important;	
}

.page-myprintconnect-addresses #pccustomers-address-form input[type="submit"]{
margin-left: 0!important;
background-image: url(images/button_continue.png);
background-repeat:no-repeat;
background-position:3px center;
background-color:-webkit-linear-gradient(top, #77B800 0%, #669C02 100%) ;
padding-left: 61px;
}


 #pccustomers-address-form .form-item-city input.city.error {
	padding-bottom:9px !important;	
	position:relative;
	top:0px;
}
 #pccustomers-newaddress-form .form-item-city input.city.error {
	padding-bottom:9px !important;	
	position:relative;
	top:0px;

}
 #pccustomers-newaddress-form input.error ,
 #pccustomers-address-form input.error,
  #pccustomers-newaddress-form select.error ,
 #pccustomers-address-form select.error
 {
	border-color:#d7d7d7 !important;
	border-width:1px !important;
 }


a .cart.button{
	display: block;
	color: #fff;
}

#footer .search-footer.block a.button{
	color: #fff;
	display: inline;
	text-align: center;
	line-height: 34px;
	text-decoration: none;
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	font-style: 14px;
}
#footer #block-menu-menu-footer ul.menu li{
 list-style-image: none; 
}