/* CSS Document */

.partoculierLink{
background: -moz-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -o-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -webkit-linear-gradient(top, #77b800 0%, #669c02 100%);
background:#77b800;
	
}

.SocieteLink{
background: -moz-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -o-linear-gradient(top, #77b800 0%, #669c02 100%);
background: -webkit-linear-gradient(top, #77b800 0%, #669c02 100%);
background:#77b800;
}


#edit-userforms {

}

#block-pccustomers-profile .item-list li.first a{

		
}
#block-pccustomers-profile .item-list li {
	line-height:18px !important;
}



#pccheckout-payment-form table.payment-methods-table tr td{
	float:left ;

		
}
#pccheckout-payment-form table.payment-methods-table tr td.inputValue {	
margin-left:20px;
margin-right:20px;
}

#pccheckout-payment-form table.payment-methods-table tr td.textToArange {
	width:90px !important;
	max-width:90px !important;
	margin-left:auto !important;
	margin-right:auto !important;
}

#pccheckout-payment-form table.payment-methods-table tr td.last-child {	
		width:60px !important;
	max-width:60px !important;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center !important;
	display:block !important;

}
#pccheckout-payment-form table.payment-methods-table tr.first-child td.textToArange {
	margin-left:-7px !important;	
}







#pccustomers-newaddress-form .form-item-city {
	position:absolute;
	left:282px;
	top:198px;
	
}
#pccustomers-newaddress-form .form-item-city input {
	padding-bottom:9px !important;	
}




 
 
 
 
 
 
 
 
 
#pccustomers-address-form .form-item-city {
	position:absolute;
	left:282px;
	top:186px;

	
}
#pccustomers-address-form .form-item-city input {
	padding-bottom:9px !important;	
}

#pccustomers-newaddress-form .form-item-postalCode{
	float:none !important;	
}

#pccustomers-address-form .form-item-postalCode{
	float:none !important;	
}

#pccustomers-address-form {
	position:relative;	
}
.page-myprintconnect-addresses #pccustomers-address-form input[type="submit"]{
margin-left: 0!important;
background-image: url(images/button_continue.png);
background-repeat:no-repeat;
background-position:3px center;
background-color:-webkit-linear-gradient(top, #77B800 0%, #669C02 100%) ;
padding-left: 61px;
}

 #pccustomers-address-form .form-item-city input.city.error {
	padding-bottom:9px !important;	
	position:relative;
	top:0px;
}
 #pccustomers-newaddress-form .form-item-city input.city.error {
	padding-bottom:9px !important;	
	position:relative;
	top:0px;

}
 #pccustomers-newaddress-form input.error ,
 #pccustomers-address-form input.error,
  #pccustomers-newaddress-form select.error ,
 #pccustomers-address-form select.error
 {
	border-color:#d7d7d7 !important;
	border-width:1px !important;
 }
