 
#firstly{
height:313px !important;width:680px !important;margin-left:273px;
}
#firstecriture{height:119px !important;width:297px !important;margin-left: -35px !important;margin-top: -42px !important;

}
#firstecriture2{height:23px !important;width:281px !important;
 margin-left: -34px !important;
}
#buttonvert{width:160px !important; height:43px !important;margin-top:60px !important;} 
#flesh{height:98px !important;width:92px !important;margin-left: 28px !important;}
#hands{width:690px !important;margin-left: -279px;height:300px !important;margin-top: -81px;}
#guy1{width:309px !important;height:37px !important;margin-left: -41px;}#guy2{width:309px !important;height:30px !important;margin-left: -155px;margin-top:-20px;}
#lastecriture{margin-left: 9px;margin-top: 68px;width: 264px !important;height: 36px !important;}
#plusbes{width: 128px !important;
height: 34px !important;
margin-top: 101px;
margin-left: 105px;}
#imac1{width: 680px !important;
height: 300px !important;
margin-top: -50px;
margin-left: -141px;}
#pontrouge{width: 71px !important;
height: 53px !important;
margin-top: 117px;
margin-left: 225px}
#ipad{margin-top: -40px;width: 100px !important;margin-left: -50px;height: 195px !important;}
#textflousld{width: 360px !important;margin-left: -50px;height: 38px !important;margin-left: -201px;margin-top: -10px;}
#colorssld{margin-top: -7px;margin-left: -40px;width: 214px !important;
height: 83px !important;}
#plusbes{width:286px  !important;height:46px !important;margin-top:40px;margin-left: 27px;}
#graphiste{width:361px  !important;height:46px !important;margin-top: 73px;margin-left: -35px;}
#macbook2{width: 128px !important;
height: 34px !important;
margin-top: 101px;
margin-left: 105px;}
#firstxtslide4{width:366px !important;height:69px !important;}
				#divfirsttxt{margin-left: 299px !important;margin-top:-25px !important;}
			#fly{width:271px !important;height:138px !important;}
					#divfly{margin-top: -146px !important;
margin-left: -70px !important;}
#livraison{width:252px !important;height:128px !important;}
					#divlivraison{margin-top:-57px !important;margin-left:-58px !important;}
#divbtnsavoir{margin-left: 367px !important;margin-top: -44px !important;}
#btnsavoir{width:156px !important;height:44px !important;}
#divwoman{height: 312px !important;}
.roundedcorners ul{padding: 0px !important;}
.roundedcorners{visibility: hidden;}