.block-pctemplates ul li,.view-best-sales ul li,#pcproducts-products-form ul li, #pcproducts-productoverview-form ul li, #pcproducts-productconfig-form .other li, #block-pcproducts-other li{
  float:left;
  width:212px;
  margin: 0 10px 10px 0; 
  list-style:none;
  padding:0;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
 .page-segments .list-segment li,.block-pctemplates ul li{
  float:left;
  width:206px;
  margin: 0 10px 10px 0; 
  list-style:none;
  padding:0;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.page-products .all-products .item-list .clearfix .right-item ,.view-best-sales ul li.views-row-3 , .view-best-sales ul  li.views-row-6,.block-pctemplates ul li.block-pctemplates-row-3{
  margin-right: 0 !important;
}
.page-segments .list-segment li:nth-child(3n),
.block-pctemplates ul li:nth-child(3n),
.view-best-sales ul li:nth-child(3n),
#pcproducts-products-form ul li:nth-child(3n){
  margin-right: 0;
}

.page-segments .list-segment li:nth-child(3n+1),
.block-pctemplates ul li:nth-child(3n+1),
.view-best-sales ul li:nth-child(3n+1),
#pcproducts-products-form ul li:nth-child(3n+1){
  clear: both;
}
.page-segments .list-segment li a:hover,
.block-pctemplates ul li a:hover,
.view-best-sales ul li a:hover,
#pcproducts-products-form ul li a:hover,
.block-pctemplates ul li a,
.view-best-sales ul li a,
#pcproducts-products-form ul li a{
  text-decoration: none;
}
.page-segments .list-segment .blocprd,
.block-pctemplates .blocprd,
.view-best-sales .blocprd,
#pcproducts-products-form .blocprd{
  padding: 9px 8px;
}
.block-pctemplates .blocprd > a{
  display: block;
  background: url(images/bg_modele_top.jpg) no-repeat center 0;
}

.block-pctemplates .options,
.view-best-sales .options,
#pcproducts-productconfig-form .options{
  clear:both;
}
#pcproducts-productconfig-form .shipping, #pcproducts-productconfig-form .templates{
  float:left;
  width:48%;
  margin-left: 0;
  margin-right: 2%;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
#pcproducts-productconfig-form .templates{
  margin-left:2%;
  margin-right: 0;
}


#pcproducts-productconfig-form .templates{
  margin-left:2%;
  margin-right: 0;
}


#pcproducts-productconfig-form .shipping{
  margin-left: 0;
  margin-right:2%;
}

.view-best-sales ul,.page-segments .list-segment,#pcproducts-products-form ul, #pcproducts-productoverview-form ul , #pcproducts-productconfig-form .other ul, #block-pcproducts-other ul{
  margin:0;
  padding:0;
}
/*.view-best-sales ul{
  overflow: hidden;
}
*/
#pcproducts-products-form li a,
#pcproducts-products-form li a:hover{
  text-decoration: none;
}

.page-segments .list-segment img,.view-best-sales ul img,#pcproducts-products-form ul img, #pcproducts-productoverview-form ul img , #pcproducts-productconfig-form .other img, #block-pcproducts-other ul li img{
  height: auto;
  max-width: 100%; 
  margin-bottom: 10px;
}

.page-segments .list-segment .blocprd h2,
.block-pctemplates .blocprd h2,
.view-best-sales .blocprd h2,
#pcproducts-products-form .blocprd h2{
  font-size: 12px;
  color: #646464;
  line-height: 15px;
  text-transform: uppercase;
}

.page-segments .list-segment .from,
.view-best-sales .from,
.view-best-sales .from,
.block-pctemplates .from,
#pcproducts-products-form .from{
  clear: both;
  border-top: 1px solid #ececec;
  overflow: hidden;
  background-color: #fafafa;
}
.page-segments .list-segment .from .txt,
.view-best-sales .from .txt,
.block-pctemplates .from .txt,
#pcproducts-products-form .from .txt{
  line-height: 37px;
  text-indent: 8px;
  color: #999999;
  font-size: 12px;
  float: left;
}

.page-segments .list-segment .from .price,
.view-best-sales .from .price,
#pcproducts-products-form .from .price{
  line-height: 37px;
  color: #ff6600;
  font-size: 17px;
  float: right;
  padding: 0 10px 0 5px;
  border-left: 1px solid #ececec;
  background-color: white;
  font-weight: bold;
}

.view-best-sales .from .price .decimals,
#pcproducts-products-form .from .price .decimals{
  vertical-align: top;
}

.view-best-sales .from .price .decimalpoint,
#pcproducts-products-form .from .price .decimalpoint{
  font-size: small;
  vertical-align: top;
  font-weight: normal;
}

a.btn-cmd:visited,
a.btn-cmd{
  color: #333333;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding: 8px;
  border-radius: 0 0 4px 4px;
  border: none;
  margin: 0;
  text-decoration: none;
  text-align: center; 
  border-color: #ececec transparent transparent transparent;
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
}

a.btn-cmd span.flesh{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-position: -9px -418px;
  position: relative;
  vertical-align: top;
}
a.btn-cmd:hover,a.btn-cmd:active{
  color: #fff;
  background: rgba(119, 183, 0, 100) ;
}
 
a.btn-cmd:hover span.flesh{
  background: url(http://d4e7wxbvl20c1.cloudfront.net/images.flyer.fr/Lp15/elements/icon_action.png) no-repeat scroll center / 20px padding-box border-box;
} 

#pcproducts-productconfig-form .form-type-checkboxes .form-type-checkbox{
  float: left;
  width:50%;
  margin:0;
  clear:none;
}

#pcproducts-productconfig-form .configuration select{
  width:50%;
}

#pcproducts-productconfig-form .step-1 .configuration{
  width:68%;
  padding:0;
  float:right;
}

#pcproducts-productconfig-form .step-1 .configuration .replaced{
  display:none;
}

#pcproducts-productconfig-form .step-1 .configuration label{
  width:50%;
  float:left;
}


#pcproducts-productconfig-form .step-1 .description img{
  float:left;
  width:100%;
}

#pcproducts-productconfig-form .step-1 .description{
  float:left;
  width:30%;
}

#pcproducts-productconfig-form .deadlines{
  clear:both;
  width:100%;
}

#pcproducts-productconfig-form .deadlines .fieldset-wrapper{
  position:absolute;
  background:white;
  width:100%;
}

#pcproducts-productconfig-form .deadlines legend{
  font-size:inherit;
  line-height:inherit;
}
#pcproducts-productconfig-form .grid .old {
  color: #F90;
  text-decoration: line-through;
}

#pcproducts-productconfig-form .form-item-step2-custom-quantity {
  display:inline-block;
  width:100%;
}

#pcproducts-productconfig-form .form-item-step2-custom-quantity label{
  width:70%;
}

#pcproducts-productconfig-form .form-item-step2-custom-quantity input[type=text]{
  display:block;
  float:right;
  width:30%;
}

#pcproducts-productconfig-form .options label{
  float:none;
  width:inherit;
}

#pcproducts-productconfig-form table{
  width:100%;
} 

#pcproducts-productconfig-form table th, #pcproducts-productconfig-form table td{
  white-space:nowrap;
  padding-right:1em;
  padding-left:1em;
}

/*#pcproducts-productconfig-form table th.filler, #pcproducts-productconfig-form table td.filler{
  width:100%;
}*/



#pcproducts-productconfig-form .shipping > .fieldset-wrapper > div {
  width:50%;
  float:left;
}


#pcproducts-productconfig-form .form-type-select{
  /*display:none; */
}

#pcproducts-productconfig-form .configuration{
  position:relative;
}

#pcproducts-productconfig-form .configuration a.select{

}

#pcproducts-productconfig-form .configuration .form-item:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#pcproducts-productconfig-form .configuration .replacement{
  position:relative;
}

#pcproducts-productconfig-form .configuration .replacement .dropdown {
  display:none;
  z-index:300;
  position:absolute;
  width:150%;
  background:white;
  margin:0;
  right:0;
  top:0;
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);

  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius:  4px 4px 4px 4px;
  border-radius:  4px 4px 4px 4px;

  box-sizing:border-box;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box;

  opacity:0;
  display:block;
  visibility:hidden;
}

#pcproducts-productconfig-form .configuration .replacement .dropdown.open {
  opacity:1;
  display:block;
  visibility: visible;
}

#pcproducts-productconfig-form .configuration .replacement .dropdown legend {
  width:100%;
  cursor:pointer;
}

#pcproducts-productconfig-form .dropdown .fieldset-wrapper {
  width:100%;
}

#pcproducts-productconfig-form .dropdown li {
  width:25%;
  float:left;
  margin:0;
  list-style:none;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  text-align:center;
  padding:1em;
}

#pcproducts-productconfig-form .dropdown li:nth-child(4n+1){
  clear:left;
}

#pcproducts-productconfig-form .dropdown li img{
  width:100%;
}

#block-pcproducts-productinfo img{
  width:100%;
}


#block-pcproducts-templates table td:first-child{
  background:transparent url(images/typo_check.png) center center no-repeat;
}


#pcproducts-config-form .form-type-select, #pcproducts-config-form .form-type-item{
  background: #fbfbfb;
  padding:5px;
  margin:2px 0;
  clear:both;
}

#pcproducts-config-form .form-type-select, #pcproducts-config-form .form-type-select label{
  cursor:pointer;
}

#pcproducts-config-form .form-type-select label, #pcproducts-config-form .form-type-item label{
  display:inline-block;
  width: 30%;
}

#pcproducts-config-form .dropdown li{
  list-style:none;
  float:left;
  margin:0;
  width:30%;  
}

#pcproducts-config-form .dropdown .text, #pcproducts-config-form .dropdown .detail{
  text-align:center; 
}
#pcproducts-config-form .dropdown .detail{
  font-size:smaller;
}

#pcproducts-config-form .dropdown li:nth-child(3n-2){
  clear:left; 
}

#pcproducts-config-form .dropdown img{
  width:100%;
}
#pcproducts-config-form .description .image img{
  width:100%;
  height: auto;
  margin-bottom: 10px;
  display: block;
}

#pcproducts-config-form .description .image h3{
  text-align:center;
  color: #646464;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

#pcproducts-config-form table{
  width:100%;
}


.page-products #pcproducts-config-form table.grid tbody tr td .old.price{
  text-decoration: line-through;
}

#pcproducts-config-form .shipping .deadlines legend{
  font-size:inherit;  
}

#pcproducts-config-form .deadline, #pcproducts-config-form .delivery {
  width:50%;
  float:left; 
}

#pcproducts-config-form .templates .fieldset-wrapper{
  padding:10px;
}

#pcproducts-config-form .templates .image{
  float:left;
  width:50%;
}

#pcproducts-config-form .templates .image img{
  max-height:350px;
  width: auto;
  max-width: 100%;
}

#pcproducts-config-form .templates .description{
  float:right;
  width:50%;
}

#pcproducts-config-form .templates .description .name{
  font-weight:bold;
}
#pcproducts-config-form .link{
    padding-left: 10px;
}
#pcproducts-config-form .banner {
    clear: both;
    margin-bottom: 17px;
    overflow: hidden;
}

#pcproducts-config-form .banner > img{
  /*max-width: 100%;*/
  height: auto;
}

body #footer #block-pcproducts-list ul.menu{
    float: left;
    width:32.33%;
    margin-right: 1%;
}

body #footer #block-pcproducts-list ul.menu:last-child{
    margin-right:0;
}

body #footer #block-pcproducts-list ul.menu li{
    float: none;
    display: block;
    width: 100%;
}
.blocCustomFormat {
  display: block;
}
.CF{
    display: none;
}
.blocCustomFormat{
	margin-top: 12px;
}
.blocCustomFormat .inputCustomFormat{
	padding: 11px 10px 9px 20px;
	border: 1px solid #f1f1f1;
    display: block;
    border-radius: 4px;
}
.blocCustomFormat .inputCustomFormat:after{
	clear: both;
	width: 100%;
	height: 1px;
	display: block;
	content: '';
}

.blocCustomFormat .inputCustomFormat .wrapTxt{
	float: left;
}

.blocCustomFormat .inputCustomFormat .wrapBtn{
	float: right;
}

.blocCustomFormat .inputCustomFormat  .label-txt{
	display: inline-block;
	vertical-align: middle;
}

.blocCustomFormat .inputCustomFormat  .bold-txt{
	font-weight: 700;
	margin-right: 4px;
}
.blocCustomFormat .inputCustomFormat  .light-txt{
	font-weight: 400;
	margin-right: 10px;
	margin-left: 7px;
}
.blocCustomFormat .inputCustomFormat  #wcf , .blocCustomFormat .inputCustomFormat  #hcf{
	width: 104px;
}

.blocCustomFormat .inputCustomFormat  #wcf , .blocCustomFormat .inputCustomFormat  #hcf,.blocCustomFormat .inputCustomFormat .calculCF{
	float: none !important;
	margin-top: 0 !important;
	vertical-align: middle;
	display: inline-block;
}
.blocCustomFormat .inputCustomFormat .wrapBtn{
	margin-top: 4px;
}
.blocCustomFormat .inputCustomFormat .wrapBtn .calculCF{
	background: #79b51d;
	padding: 6px 30px;
}

.msgErrorCF{ 
	color: #f00 !important; 
}

/* New CSS for Flyer migration */
.block-pctemplates ul img {
  max-width: 100%; 
  margin-bottom: 10px;
} 

.page-products span.infobul {
    min-height: inherit;
    margin-left: -40px;
    border-top: 0 none;
    padding: 5px 10px 5px 45px;
    border-radius: 0 0 4px 4px;
    background: url(images/icon_question.png) no-repeat 20px;
    position: relative;
}
span.datatemplate {
    float: right;
    margin-right: 40px;
}

span.datainfobul {
    display: none;
    padding: 7px;
    background: #A5A5A5;
    position: absolute;
    left: 100%;
    top: -5px;
    z-index: 9;
    color: white;
    border-radius: 3px;
    width: 200px;
    opacity: 0.9;
}


.page-products span.infobul:hover .datainfobul{
  display: block;
}

span.datainfobul:after {
    content: '';
    display: block;
    position: absolute;
    left: -9px;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #A5A5A5;
    border-top: 5px solid transparent;
    height: 0;
    width: 0;
    top: 18px;
    margin-top: -4px;
}

.page-products .edit-templates-desciption{
    display: inline;
    margin-right: 5px;
    font-weight: 400;
    font-size: 12px;
    background-position: left;
    background-repeat: no-repeat; 
    width: auto;
    /*background: url("images/calc_dot.png") no-repeat left;*/
}
.box-gris{
  padding: 13px 13px 13px 54px;
  background: url(images/picto.png) no-repeat 16px center #f1f1f1;
  margin-bottom: 14px;
  border: 1px solid #a5a6a7;
  clear: both;
}

.mailing-container{
    clear: both;
    position: relative;
}

.box-gris p{
  margin: 0;
  font-size: 12px;
  color: #646464;
  text-decoration: underline;
  line-height: 15px;
}
.mailing-container .box-gris a{
  color: #ff6800;
  text-decoration: underline;
}

.mailing-container .mailpopup{
  position: fixed;
  left: 50%;
  z-index: 501;
 // display: none;
  top: 50% !important;
  width: 515px;
  border: 1px solid #a5a6a7;
  padding: 20px;
  background: #fff;
  margin-left: -273px;
  margin-top: -157px;
}
.mailing-container .close{
  position: absolute;
  right: -8px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  font-family: 'Open Sans',sans-serif;
  cursor: pointer;
}

.mailing-container .left{
  float: left;
  width: 65%;
}
.mailing-container .mailpopup > img{
  float: right;
  width: 35%;
}

.mailing-container .mailpopup h3{
  font-size: 16px;
  color: #646464;
  font-weight: 700;
  margin-bottom: 30px;
}

.mailing-container .mailpopup p{
  font-size: 12px;
  color: #646464;
  margin: 0 0 20px;
  line-height: 15px;
}

.mailpopup input{
  
}
.mailpopup input[type="text"]{
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
  padding: 14px;
  border: 1px solid #8f8f8f;
  font-size: 12px;
  color: #646464;
  width: 100%;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.mailpopup .name input[type="text"]{
  border-top: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.mailpopup input[type="button"]{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  padding: 14px;
  font-weight: 600;
}
.dropdownopen {
  position: absolute;
  top: 50%;
  right: 37px;
  line-height: 20px;
  margin-top: -10px;
  height: 20px !important;
  font-size: 12px;
}


.page-products #block-system-main .form-wrapper.actions span.price{
  padding-left: 10px;
  width: 403px;
}

.page-products #block-system-main .form-wrapper.actions span.price span.value{
  margin-right: 15px;
}