div#pc_dt #footer_layer #footer_menu .menu_footer_item div{
	background: #02CBB6;
	color: #fff;
}


div#pc_dt .resize_buttons a {
    color: #02CBB6;
}


div#pc_dt #page_label {
    color: #fff;
	background: #02CBB6;
    font-size: 16px;
    font-style: normal;
    height: 38px;
    line-height: 38px;
    position: absolute;
    text-align: center;
	text-transform: uppercase;
}