.complaintform{
    border: 1px solid #e7e3e3;
    background-color: #f1f1f1;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
}
.bloccomplaint{
    padding: 30px 10px;
    border-bottom: 1px solid #e7e3e3;
    position: relative;
}
#content .bloccomplaint h3 {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}
.blocpicture{
    float: left;
    width: 191px;
}
   
.blocdropdrag .dropzone {
    background: url("/sites/all/themes/printconnect/flyer/css/images/uploadicon.png") no-repeat center 30px;
    border: 2px dashed #e7e3e3;
    min-height: 106px;
    padding: 4px;
    width: 427px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}
.blocdropdrag {
    line-height: 12px;
}

.bloccomplaint:after,
.complaintform:after {
    content: "";
    width: 100%;
    height: 0;
    display: block;
    clear: both;
}

.bloccomplaint > div > div {
    display: inline-block;
    vertical-align: middle;
}

.bloccomplaint .labelorder {
    width: 170px;
    text-transform: uppercase;
}

.bloccomplaint input[type="text"],
.bloccomplaint .select2-container > a.select2-choice,
.bloccomplaint textarea {
    width: 203px !important;
    color: #bcbbbb;
    box-sizing: border-box;
}

.bloccomplaint input[type="text"] {
	height: 41px;
}

.bloccomplaint textarea {
    resize: none;
}

.bloccomplaint .form-item, 
.bloccomplaint .identification .select2-container {
    margin: 0 0 0 20px;
}

.bloccomplaint .labelorder span {
    color: red;
}

.identification {
    position: relative;
}

.identification .txtJobId {
    color: #bcbbbb;
    margin: 5px 0 0 421px;
}

.orderIssue .labelorder,
.compensation .labelorder {
    line-height: 41px;
}
.orderIssue .labelorder, 
.orderIssue .form-type-select,
.compensation .labelorder,
.compensation .form-type-select {
    vertical-align: top;
}

.orderIssue {
    margin-bottom: 20px;
}

.dropTitle {text-transform: uppercase;}

.blocpicture p {
    color: #bcbbbb;
    line-height: 16px;
    padding-right: 10px;
}

.dropzone .dz-message {
    margin: 0 !important;
    line-height: 145px;
    color: #bcbbbb;
    margin-bottom: -30px !important;
}

.complaintSubmit {
    padding: 30px 27px;
    width: 427px;
    float: right;
}

.complaintSubmit input.ui-button {
    background: #73b900;
    width: calc(100% + 2px);
    line-height: 41px;
    padding: 0;
    margin-left: -2px;
}

.complaintSuccess {
    background: url("/sites/all/themes/printconnect/flyer/css/images/validicon.png") no-repeat 189px 30px;
    border-bottom: 1px solid #e7e3e3;
    padding: 30px 42px;
}

.complaintSuccess p {
    margin: 0;
    padding-left: 200px;
}

.complaintSuccess p.questions {
    margin-top: 20px;
}

.dropzone .dz-preview .dz-details {
    display: none;
}

.identification #errorMsg {
    line-height: 14px;
    color: red;
    width: 200px;
    position: absolute;
    left: 193px;
    top: 45px;
}

.orderIssue #errorMsg {
    position: absolute;
    color: red;
    top: 108px;
    left: 202px;
}

.orderIssue #errorMsg,
.identification #errorMsg {
    display: none;
}
.complaintSubmit{
    display: block;
}
#errorUpload {
    display: block;
    margin: 5px 0 0 167px;
}
.dropzone .dz-preview .dz-image {
    position: relative;
}

.dropzone .dz-preview .dz-image .hover-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(51,51,51, 0.8);
    top: 0;
    display: none;
}

.dropzone .dz-preview .dz-image:hover .hover-img {
    display: block;
}

.dropzone .dz-preview .dz-remove {
    display: none !important;
}

.dropzone .dz-preview .dz-image .hover-img .dz-remove {
    background: url("/sites/all/themes/printconnect/flyer/css/images/deleteIcon.png") no-repeat center;
    display: block !important;
    width: 35px;
    height: 35px;
    text-indent: -20000000px;
    margin: 22px auto;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent !important;
}

.dropzone .dz-preview .dz-image {
    border-radius: 4px;
}
.errorMsg {
    color: red;
    margin: 3px 0;
    position: absolute;
    width: 190px;
}

.select2-container.error {
    border-radius: 5px !important;
}