.page-cart form .item {
  position:relative;
}

.page-cart form .item .description{
  overflow: hidden;
  max-width: 73%;
}

.page-cart form .item .image + .preview1 + .btns-box + .description,
.page-cart form .item .image + .preview2 + .btns-box + .description,
.page-cart form .item .image + .btns-box + .description{
  max-width: 50%;
  margin-bottom: 25px;
}
.page-cart form .item .image + .preview1 + .btns-box + .description h3,
.page-cart form .item .image + .preview2 + .btns-box + .description h3,
.page-cart form .item .image + .btns-box + .description h3{
  width: 100% !important;

  float:right;
  width:75%;

}

.page-cart form .item .image/*,.page-cart form .item .upload*/{
  float:left;
  width:25%;
}

#pccart-cart-form .item .image, #pccart-cart-form .item .prefix{
  float:left;
  position:relative;
  width:25%;
  text-align: center;
}
#pccart-cart-form .item .image img{
 display: block;
}

#pccart-cart-form .item .price{
  line-height:16px;
  position:absolute;
  top:0;
  right:30px;
}

#pccart-cart-form .item .removecart {
position: absolute;
font-size: 12px;
border: none;
height: 20px;
cursor: pointer;
background: url(images/bg_btns.png) no-repeat 0 0;
color: #646464;
top: 30px;
right: 0;
padding-left: 19px;
padding-top: 0px;
padding-bottom: 5px;
}

#pccart-cart-form .shipping td{
  vertical-align: top;
  white-space: inherit;
}

#pccart-cart-form .shipping td > a{
  float:right;
}

.page-cart form .shipping > .fieldset-wrapper > table {
  float:left;
  width:50%;
}

.page-cart form .shipping .footer {
  float:right;
  width:50%;
}
.page-cart form .shipping .footer > div {
  float:left;
  width:50%;
}

.page-cart form .shipping .footer > div .form-type-item label {
  float:none;
  width:inherit;
}

.page-cart form .cart{
  position:relative;
}

.page-cart form .discount{
  float:left;
  width:48%;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.page-cart form .priceblock{
  width:48%;
  position:absolute;
  right:0;
  bottom:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

#block-pccart-cart .priceblock{
  width:100%;
}

#block-pccart-cart .description .price, #block-pccart-save .description .price{
  float:right;
}

#block-pccart-cart .form-item label{
  float:none;
  width:inherit;
}


#block-pccart-save .form-actions input[type="submit"]{
  width:100%;
}

#block-pccart-shipping .content > div {
  float:left;
  width:50%;
  padding-top:40px;
  text-align:center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
}

#block-pccart-shipping .form-item label{
  float:none;
  width:inherit;
}

#block-pccart-shipping .shipping{
  background:url(../printconnect/images/shipping/pt_icon_2.png) top center no-repeat;
}

#block-pccart-shipping .delivery{
  background:url(../printconnect/images/shipping/pt_icon_3.png) top center no-repeat;
}
.poll-form a{
      color: #FFF !important;
      font-size: 14px !important;
}
.poll-form {
      padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  float: left;
  margin-left: 12px;
  padding-left: 15px;
  width: 195px;
  background-color: #FF6600;
}
.poll-form.first{
  padding-left: 0;
  margin-left: 0;
}
.poll-form p{
  color: #ff6600;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 5px;
  line-height: 14px;
}
.prodactHasTemplates .poll-form.first{
  margin-left: 65px;
}
.prodactHasTemplates .poll-form{
  
}
.prodactHasTemplates .poll-form:not(.first){
  margin-left: 60px;
}
.poll-form .visu{
  height: 95px;
  background-position: center;
  background-repeat: no-repeat;
}
/*.poll-form .img1{
  background-image: url(images/importez.png);
}
.poll-form .img2{
  background-image: url(images/cree.png);
}
.poll-form .img3{
  background-image: url(images/choisisser.png);
}*/
.poll-form a{
  font-weight: bold;
  color: #ff6600;
  font-size: 11px;
}
.poll-form .txto{
  font-weight: normal;
  color: #FFF;
  font-size: 13px !important;

}
.img2 .text {
margin-right: 23px;
}


/*

.page-cart form .shipping, .page-cart forms .discount{
  float:left;
  width:48%;
  margin-left: 0;
  margin-right: 2%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;  Firefox 
  -webkit-box-sizing:border-box;  Safari 
}
.page-cart form .shipping{
  margin-left: 0;
  margin-right:2%;  
}

.page-cart form .shipping .deadline,
.page-cart form .shipping .delivery  {
  width:50%;
  float:left;
    box-sizing:border-box;
  -moz-box-sizing:border-box;  Firefox 
  -webkit-box-sizing:border-box;  Safari 
}

.page-cart form .shipping .deadline label,
.page-cart form .shipping .delivery label  {
  float:none;
  width:inherit;
  clear:none;
}

.page-cart form .discount{
  margin-left:1%;
  margin-right: 0;
}*/


#pccart-cart-form .products li{
  float: left;
  width: 212px;
  margin: 0 10px 10px 0;
  list-style: none;
  padding: 0;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pccart-cart-form .products li:nth-child(3n){
  margin-right: 0;
}
#pccart-cart-form .products li:nth-child(3n + 1){
  clear: both;
}
#pccart-cart-form .products li img{
  width:100%;
}
#pccart-cart-form .products li .blocprd {
  padding: 9px 8px;
}
#pccart-cart-form .products li a {
text-decoration: none;
}
#pccart-cart-form .products li a img{
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
}
#pccart-cart-form .products li a h2{
  font-size: 13px;
  color: #646464;
  line-height: 15px;
  text-transform: uppercase
}
#pccart-cart-form .products li .from{
  clear: both;
  border-top: 1px solid #ececec;
  overflow: hidden;
  background-color: #fafafa;
}
#pccart-cart-form .products li .from .txt {
  line-height: 37px;
  text-indent: 8px;
  color: #999999;
  font-size: 12px;
  float: left;
}
#pccart-cart-form .products li .from .price {
  line-height: 37px;
  color: #ff6600;
  font-size: 17px;
  float: right;
  padding: 0 14px;
  border-left: 1px solid #ececec;
  background-color: white;
  font-weight: bold;
}

#pccart-cart-form .products li .from .price .currency,
#pccart-cart-form .products li .from .price .decimals,
#pccart-cart-form .products li .from .price .decimalpoint{
  vertical-align: baseline;
  line-height: 37px;
  font-size: 17px;
}

#pccart-cart-form .products li .text{
  text-align:center;
}  
.page-cart div.error{
    margin-bottom: 37px!important;
}

div div#edit-info.detail div.store div.description table.vacations{
     border-collapse: inherit !important;
}
.page-cart #pccart-cart-form div.store div.description table.vacations{
  color: #FF7C2B !important;
    text-transform: capitalize !important;
    margin-left: 35px !important;
}
.page-cart #pccart-cart-form div.store div.description table.vacations tbody tr.odd td.first-child{
    width: 102px !important;
    padding-left: 209px !important;
}
.page-cart #pccart-cart-form .store.clearfix.store.clearfix .description h2 {
margin-top: 4x !important;
font-size: 14px !important;
}
div.myoffers table.list tbody  li{
    margin-left: 14px !important;
}
.page-cart #edit-cart-vatexception-description span.price{
white-space: nowrap;
color: #f60;
font-size: 24px;
float: right;
}
.page-cart form .ref {
  background-color: none;
}
.page-cart form .ref input {
  width: 315px !important;
}
.origin-price {
  float: right;
  position: absolute;
  right: 12px;
  top: 5px;
  color: #f60;
  font-size: 20px;
}

.preview2 .origin-price{
  right: 35px;
}

.page-cart #pccart-cart-form .item .description .origin-price + .price{
  top: 25px;
}
#pccart-cart-form .item .origin-price + .price + .item-list + .form-wrapper .removecart{
  top:30px;
}

.fotolia-items{
    float: left;
    margin-left: -9px;
    padding-left: 9px;
    width: 100%;   
}

.fotolia-items ul, .preflight-items ul {
    margin: 0;
}

.fotolia-items ul li, .preflight-items ul li{
    list-style: none outside none;
    padding-left: 40px;
    margin: 0;
}

.fotolia-price {
    color: #FF6600;
    float: right;
    font-size: 20px;
    margin-right: 10px;
    font-weight: 700;
}

#pccart-cart-form fieldset.products .fieldset-wrapper{
  padding: 0;
  border: 0;
  background: none;
  margin-bottom: 0;
}

#pccart-cart-form .products li:nth-child(6n),
#pccart-cart-form .products li:nth-child(4n),
#pccart-cart-form .products li:nth-child(5n){
  margin-bottom: 0;
}

#pccart-cart-form .download{
  margin-top: 10px;
  margin-bottom: 0;
}

#pccart-cart-form .download + fieldset{
  clear: both;
}

#pccart-cart-form ul{
  margin: 0;
  overflow: hidden;
}

#pccart-cart-form fieldset.products > legend{
  padding-top: 16px;
}




#pccart-cart-form fieldset.products .fieldset-wrapper{
  padding: 0;
  border: 0;
  background: none;
  margin-bottom: 0;
}

#pccart-cart-form .products li:nth-child(6n),
#pccart-cart-form .products li:nth-child(4n),
#pccart-cart-form .products li:nth-child(5n){
  margin-bottom: 0;
}

#pccart-cart-form .download{
  margin-top: -40px;
  margin-bottom: 0;
}

#pccart-cart-form .download + fieldset{
  clear: both;
}

#pccart-cart-form ul{
  margin: 0;
  overflow: hidden;
}

#pccart-cart-form fieldset.products > legend{
  padding-top: 16px;
}

#pccart-cart-form .preview {
  float: left;
  margin-right: 15px;
  margin-top: 5px;
}
#pccart-cart-form .btns-box{
  overflow: hidden;
  float: left;
  bottom: 10px;
  margin-left: 215px;
  clear: left;
  margin-top: -30px;
}

#pccart-cart-form .preview input,
#pccart-cart-form .preview a{
  color: #666666;
  font-size: 13px;
  float: left;
  padding-left: 25px;
  background: url(images/bg_btns.png) no-repeat 0 -26px;
}
#pccart-cart-form .preview a.designtool{
  background-position: 0 -55px;
}
#pccart-cart-form .preview input.delete_item{
  background-position: 0 -84px;
  border: none;
  padding: 0 0 0 20px;
  cursor: pointer;
}
#pccart-cart-form .delete_item{
/*background: none!important;
border: none;
padding: 0!important;
cursor: pointer;
color: #f60;
font-size: 12px;
margin-top: 2px;*/
}
/*#pccart-cart-form .delete_item:hover { 
   border-bottom: 1px solid;
border-radius: 0;
}*/

#pccart-cart-form .items_actions {
    width: 174px;
    position: absolute;
    top: -18px;
     left: 490px
}

.page-cart .title-chose{
  clear: both;
  padding-top: 10px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  background: url(images/bg_title.png) repeat-x 0 0;
}

.visu .text {
padding-top: 86px;
}

.page-cart .pricepreflight{
color: #ff6600;
font-size: 20px;
font-weight: 600;
text-align: right;
width: 120px;
float: right;
margin: 5px;
}

.page-cart .fotolia-items{
float: left;
width: 50px; 
}
.page-cart .preflight-items {
float: left;
}


.page-cart #pccart-cart-form .item .description .refJob-code label{
	font-weight: bold;
	color: #666666;
	font-size: 13px;
}
.page-cart #pccart-cart-form .item .description .refJob-code > .form-item{
 margin-top:5px;
 margin-bottom:0px;
}
.page-cart #pccart-cart-form .item .description{
	margin-bottom:	0px;
}
.page-cart #pccart-cart-form .control-block{
    clear: both;
    overflow: hidden;
    padding-top: 20px;
}
.page-cart #pccart-cart-form .control-block .text{
    float: left;
    width: 575px;
}
.page-cart #pccart-cart-form .control-block .text h3{
    float: left;
    margin: 0;
    max-width: 520px;
    text-transform: none;
    
}
.page-cart #pccart-cart-form .control-block .text .price{
    float: right;
    font-size: 14px;
    position: static;
    right: 0;
   
    margin-top:3px;
}

.page-cart #pccart-cart-form .control-block .text .price span{
     color: #ff6600 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
body.page-cart #pccart-cart-form .control-block .removecontrol{
    background: url("images/bg_btns.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: none;
    float: right;
    margin: 4px 0 0;
    width: 18px;
    border: medium none;
    color: #646464;
    cursor: pointer;
    font-size: 12px;
    height: 20px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-top: 0; 
}


.cart .cartItemsContainer  .prodactTemplates:after{
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  clear: both;
}