.page-cart form .item {
  position:relative;
}

.page-cart form .item .description{
  overflow: hidden;
  max-width: 73%;
}

.page-cart form .item .image + .preview1 + .btns-box + .description,
.page-cart form .item .image + .preview2 + .btns-box + .description,
.page-cart form .item .image + .btns-box + .description{
  max-width: 50%;
  margin-bottom: 25px;
}
.page-cart form .item .image + .preview1 + .btns-box + .description h3,
.page-cart form .item .image + .preview2 + .btns-box + .description h3,
.page-cart form .item .image + .btns-box + .description h3{
  width: 100% !important;

  float:right;
  width:75%;

}

.page-cart form .item .image/*,.page-cart form .item .upload*/{
  float:left;
  width:25%;
}

#pccart-cart-form .item .image, #pccart-cart-form .item .prefix{
  float:left;
  position:relative;
  width:25%;
  text-align: center;
}
#pccart-cart-form .item .image img{
 display: block;
}

#pccart-cart-form .item .price{
  line-height:16px;
  position:absolute;
  top:0;
  right:30px;
}

#pccart-cart-form .item .removecart {
position: absolute;
font-size: 12px;
border: none;
height: 20px;
cursor: pointer;
background: url(images/bg_btns.png) no-repeat 0 0;
color: #646464;
top: 30px;
right: 10px;
padding-left: 19px;
padding-top: 0px;
padding-bottom: 5px;
}

#pccart-cart-form .shipping td{
  vertical-align: top;
  white-space: inherit;
}

#pccart-cart-form .shipping td > a{
  float:right;
}

.page-cart form .shipping > .fieldset-wrapper > table {
  float:left;
  width:50%;
}

.page-cart form .shipping .footer {
  float:right;
  width:50%;
}
.page-cart form .shipping .footer > div {
  float:left;
  width:50%;
}

.page-cart form .shipping .footer > div .form-type-item label {
  float:none;
  width:inherit;
}

.page-cart form .cart{
  position:relative;
}

.page-cart form .discount{
  float:left;
  width:48%;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.page-cart form .priceblock{
  width:48%;
  position:absolute;
  right:0;
  bottom:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

#block-pccart-cart .priceblock{
  width:100%;
}

#block-pccart-cart .description .price, #block-pccart-save .description .price{
  float:right;
}

#block-pccart-cart .form-item label{
  float:none;
  width:inherit;
}


#block-pccart-save .form-actions input[type="submit"]{
  width:100%;
}

#block-pccart-shipping .content > div {
  float:left;
  width:50%;
  padding-top:40px;
  text-align:center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#block-pccart-shipping .form-item label{
  float:none;
  width:inherit;
}

#block-pccart-shipping .shipping{
  background:url(../printconnect/images/shipping/pt_icon_2.png) top center no-repeat;
}

#block-pccart-shipping .delivery{
  background:url(../printconnect/images/shipping/pt_icon_3.png) top center no-repeat;
}
.poll-form {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  float: left;
  padding-left: 15px;
  width: 300px;
  background-color: #FF6600;
}
.poll-form.first{
  padding-left: 0;
  margin-left: 0;
}
.poll-form p{
  color: #ff6600;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 10px;
  line-height: 14px;
}

.poll-form .visu{
  height: 95px;
  background-position: center;
  background-repeat: no-repeat;
}

.poll-form a, .poll-form a:visited{
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.poll-form a span.btnupfile{
  background: url(images/btn_designtool.png) no-repeat 0 2px;
  display: inline-block;
  line-height: 30px;
  padding-left: 35px;
}
.poll-form2 a span.btnupfile{
  background-position: 0 -61px;
}

.poll-form .txto{
  font-weight: normal;
  color: #646464;
  margin: 0 0 8px;
  text-align: left;
}
.img2 .text {
margin-right: 23px;
}

.table-dummy{
  border-spacing: 0 30px;
  margin-top: -25px;
}

#pccart-cart-form .products li{
  float: left;
  width: 212px;
  margin: 0 10px 10px 0;
  list-style: none;
  padding: 0;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pccart-cart-form .products li:nth-child(3n){
  margin-right: 0;
}
#pccart-cart-form .products li:nth-child(3n + 1){
  clear: both;
}
#pccart-cart-form .products li img{
  width:100%;
}
#pccart-cart-form .products li .blocprd {
  padding: 9px 8px;
}
#pccart-cart-form .products li a {
text-decoration: none;
}
#pccart-cart-form .products li a img{
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
}
#pccart-cart-form .products li a h2{
  font-size: 13px;
  color: #646464;
  line-height: 15px;
  text-transform: uppercase
}
#pccart-cart-form .products li .from{
  clear: both;
  border-top: 1px solid #ececec;
  overflow: hidden;
  background-color: #fafafa;
}
#pccart-cart-form .products li .from .txt {
  line-height: 37px;
  text-indent: 8px;
  color: #999999;
  font-size: 12px;
  float: left;
}
#pccart-cart-form .products li .from .price {
  line-height: 37px;
  color: #ff6600;
  font-size: 17px;
  float: right;
  padding: 0 14px;
  border-left: 1px solid #ececec;
  background-color: white;
  font-weight: bold;
}

#pccart-cart-form .products li .from .price .currency,
#pccart-cart-form .products li .from .price .decimals,
#pccart-cart-form .products li .from .price .decimalpoint{
  vertical-align: baseline;
  line-height: 37px;
  font-size: 17px;
}

#pccart-cart-form .products li .text{
  text-align:center;
}
.page-cart div.error{
    margin-bottom: 37px!important;
}

div div#edit-info.detail div.store div.description table.vacations{
     border-collapse: inherit !important;
}
.page-cart #pccart-cart-form div.store div.description table.vacations{
  color: #FF7C2B !important;
    text-transform: capitalize !important;
    margin-left: 35px !important;
}
.page-cart #pccart-cart-form div.store div.description table.vacations tbody tr.odd td.first-child{
    width: 102px !important;
    padding-left: 209px !important;
}
.page-cart #pccart-cart-form .store.clearfix.store.clearfix .description h2 {
margin-top: 4x !important;
font-size: 14px !important;
}
div.myoffers table.list tbody  li{
    margin-left: 14px !important;
    text-align: left;
}
.page-cart #edit-cart-vatexception-description span.price{
white-space: nowrap;
color: #f60;
font-size: 24px;
float: right;
}
.page-cart form .ref {
  background-color: none;
}
.page-cart form .ref input {
  width: 315px !important;
}
.origin-price {
  float: right;
  position: absolute;
  right: 12px;
  top: 5px;
  color: #f60;
  font-size: 18px;
}

.preview2 .origin-price{
  right: 30px;
}

.page-cart #pccart-cart-form .item .description .origin-price + .price{
  top: 25px;
}
#pccart-cart-form .item .origin-price + .price + .item-list + .form-wrapper .removecart{
  top:30px;
}

.fotolia-items{
    float: left;
    margin-left: -9px;
    padding-left: 9px;
    width: 100%;
}

.fotolia-items ul, .preflight-items ul {
    margin: 0;
}

.fotolia-items ul li, .preflight-items ul li{
    list-style: none outside none;
    padding-left: 40px;
    margin: 0;
}

.fotolia-price {
    color: #FF6600;
    float: right;
    font-size: 20px;
    margin-right: 10px;
    font-weight: 700;
}

#pccart-cart-form fieldset.products .fieldset-wrapper{
  padding: 0;
  border: 0;
  background: none;
  margin-bottom: 0;
}

#pccart-cart-form .products li:nth-child(6n),
#pccart-cart-form .products li:nth-child(4n),
#pccart-cart-form .products li:nth-child(5n){
  margin-bottom: 0;
}

#pccart-cart-form .download{
  margin-top: 10px;
  margin-bottom: 0;
}

#pccart-cart-form .download + fieldset{
  clear: both;
}

#pccart-cart-form ul{
  margin: 0;
  overflow: hidden;
}

#pccart-cart-form fieldset.products > legend{
  padding-top: 16px;
}

#pccart-cart-form fieldset.products .fieldset-wrapper{
  padding: 0;
  border: 0;
  background: none;
  margin-bottom: 0;
}

#pccart-cart-form .products li:nth-child(6n),
#pccart-cart-form .products li:nth-child(4n),
#pccart-cart-form .products li:nth-child(5n){
  margin-bottom: 0;
}

#pccart-cart-form .download{
  margin-top: -40px;
  margin-bottom: 0;
}

#pccart-cart-form .download + fieldset{
  clear: both;
}

#pccart-cart-form ul{
  margin: 0;
  overflow: hidden;
}

#pccart-cart-form fieldset.products > legend{
  padding-top: 16px;
}

#pccart-cart-form .preview {
  float: left;
  margin-right: 15px;
  margin-top: 5px;
}
#pccart-cart-form .btns-box{
  overflow: hidden;
  float: left;
  bottom: 10px;
  margin-left: 215px;
  clear: left;
  margin-top: -30px;
}

#pccart-cart-form .preview span,
#pccart-cart-form .preview a{
  color: #666666;
  font-size: 13px;
  float: left;
  padding-left: 25px;
  background: url(images/bg_btns.png) no-repeat 0 -26px;
}
#pccart-cart-form .preview a.designtool{
  background-position: 0 -55px;
}
#pccart-cart-form .preview span.delete_item{
  background-position: 0 -84px;
  border: none;
  padding: 0 0 0 20px;
  cursor: pointer;
}
#pccart-cart-form .delete_item{
/*background: none!important;
border: none;
padding: 0!important;
cursor: pointer;
color: #f60;
font-size: 12px;
margin-top: 2px;*/
}
/*#pccart-cart-form .delete_item:hover {
   border-bottom: 1px solid;
border-radius: 0;
}*/

#pccart-cart-form .items_actions {
    width: 174px;
    position: absolute;
    top: -18px;
     left: 490px
}

.page-cart .title-chose{
  clear: both;
  padding: 10px 0 10px;
  font-size: 15px;
  color: #666666;
  text-transform: uppercase;
  /*background: url(images/bg_title.png) repeat-x 0 0;*/
  text-align: center;
  display: none;
}

.visu .text {
padding-top: 86px;
}

.page-cart .pricepreflight{
  padding-top: 10px;
}

.page-cart .fotolia-items{
float: left;
width: 50px;
}
.page-cart .preflight-items {
float: left;
}

.page-cart #pccart-cart-form .item .description .refJob-code label{
	font-weight: bold;
	color: #666666;
	font-size: 13px;
}
.page-cart #pccart-cart-form .item .description .refJob-code > .form-item{
 margin-top:5px;
 margin-bottom:0px;
}
.page-cart #pccart-cart-form .item .description{
	margin-bottom:	0px;
}
.page-cart #pccart-cart-form .control-block{
  clear: both;
  overflow: hidden;
  padding: 0 10px;
  background-color: #e1e1e1;
  border: 1px solid #d1d1d1;
  border-style: solid none none;
  position: relative;
}
.page-cart #pccart-cart-form .control-block .text{
  float: left;
  width: 480px;
  border-right: 1px solid #ccc;
  padding: 10px 0;
}
.page-cart #pccart-cart-form .control-block .text h3{
  font-size: 12px;
  float: left;
  margin: 0;
  max-width: 520px;
  text-transform: none;

}
.page-cart #pccart-cart-form .control-block .price, 
.file-model .model-price,
.page-cart .pricepreflight{
  float: right;
  font-size: 14px;
  position: relative;
  right: 0px;
  line-height: 18px;
  font-weight: bold;
  color: #ff6600;
  padding-top: 10px;
}


#pccart-cart-form .control-block .removecontrol{
  background: url("images/bg_btns.png") no-repeat scroll -3px 0 rgba(0, 0, 0, 0);
  clear: none;
  float: left;
  margin: 4px 10px 0 0;
  width: 15px;
  cursor: pointer;
  height: 15px;
}

.cart .cartItemsContainer .prodactTemplates:after{
  content: '';
  width: 100%;
  height: 0px;
  display: block;
  clear: both;
}

.centroid-1 .first {
  margin-left: 160px!important;
  border: none!important;
}

table.targetPrice td:nth-child(1),
table.targetPrice td:nth-child(2),
table.targetPrice td:nth-child(1) *,
table.targetPrice td:nth-child(2) * {
  /*cursor: pointer;*/
}

table.targetPrice tbody tr td { border-top:none; border-bottom:1px solid #dbd9d9; }
table.targetPrice tbody tr.last-child td { border:none; }

#iframed-content { display: none; }
.technic-details-container {
  display: none;
  position: fixed;
  background-color: #CCC;
  padding: 10px;
  z-index: 999;
  top: 100px;
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.5),0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 1px double #eee;
  opacity: 0.95;
}
.close-tdc {
  background: url(http://d4e7wxbvl20c1.cloudfront.net/images.flyer.eu/module/pccart/icon-delete.png) no-repeat right 0px;
  cursor: pointer;
  float: right;
  width: 14px;
  height: 14px;
  box-shadow: 0px 0px 3px #FFF;
  border: 1px solid #FFF;
  border-radius: 8px;
}
.technic-details-container #templates legend {
  width: 100%;
}

.technic-details-container .templates .image {
  float: left;
  width: 50%;
}
.technic-details-container .templates .description {
  padding-top: 20px;
  min-height: 197px;
  float: right;
  width: 48%;
}
.technic-details-container #templates-linktodownload-link {
  cursor: pointer !important;
  float: left;
  margin-left: 13px;
  color: #fff !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  padding: 8px 8px 8px 0 !important;
  border-radius: 4px 4px 4px 4px !important;
  background: #77b800 !important;
  background: -webkit-linear-gradient(top, #77b800 0%, #669c02 100%) !important;
  background: -moz-linear-gradient(top, #77b800 0%, #669c02 100%) !important;
  background: -o-linear-gradient(top, #77b800 0%, #669c02 100%) !important;
}
.technic-details-container #templates-linktodownload-link a {
  color: #FFF;
  background: url("images/downlode.png") no-repeat 6px center !important;
  display: block;
  padding-left: 35px !important;
}
.technic-details-container #templates {
  width: 660px;
}
.technic-details-container .infobul {
  min-height: inherit;
  margin-left: -40px;
  border-top: 0 none;
  padding: 5px 10px 5px 45px;
  border-radius: 0 0 4px 4px;
  background: url("images/icon_question.png") no-repeat 20px;
  position: relative;
}
.technic-details-container .infobul:hover .datainfobul {
  display: block;
}
.technic-details-container .datainfobul {
  display: none;
  padding: 7px;
  background: #A5A5A5;
  position: absolute;
  left: 100%;
  top: -5px;
  z-index: 9;
  color: white;
  border-radius: 3px;
  width: 200px;
  opacity: 0.9;
}
.technic-details-container #templates .form-item.form-type-item {
  background: none;
  float: left;
  width: 100%;
  cursor: default;
  padding: 0;
  font-size: 12px;
  height: 0;
}
.technic-details-container #templates #edit-templates-linktodownload .form-item.form-type-item {
  width: inherit;
  height: inherit;
}
.title-image.design-tool {
  background: url("images/2.png")center no-repeat ;
  height: 50px;
}
.title-image.pro-upload {
  background: url("images/1.png")center no-repeat ;
  height: 50px;
}

.poll-form .popupbtn{
  display: inline-block;
  background-color: #6faa01;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  text-transform: none;
  margin-bottom: 12px;
}

.poll-form .filetype{
  font-size: 12px;
  color: #9d9d9c;
  display: block;
  margin: -6px 0 18px;
  line-height: 13px;
}

.options-file-impression li {
  background: url(images/bg_btns.png) no-repeat -3px -100px;
  padding-left: 20px!important;
  text-align: left;
  font-size: 12px;
  color: #646464;
}

.options-file-impression li a{
  color: #646464;
  text-decoration: underline;
  font-weight: normal;
  font-size: 12px;
}

.dummyupload .options-file-impression li{
  /*background: url(images/dummyicone.png) no-repeat 0 5px;*/
}
.option-title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 4px;
}

.dummy-price{
  background-color: #ff8200;
  width: 62px;
  height: 62px;
  font-size: 14px;
  text-align: center;
  line-height: 62px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  color: white;
  position: absolute;
  bottom: -31px;
  left: 50%;
  margin-left: -31px;
  font-weight: bold;
}
.poll-form.dummyupload{
  position: relative;
  padding-bottom: 34px !important;
  margin-bottom: 28px;
}

.poll-form.dummyupload + .poll-form{
  padding-bottom: 34px !important;
}

.page-cart .poll-form li.controlpro a{
  color: #646464;
  font-size: 11px;
  font-weight: normal;
  text-decoration: underline;
}

.page-cart #pccart-cart-form .cartItemsContainer ul li {
  list-style: none;
  padding: 0;
}

#pccart-cart-form .prodactTemplates .poll-form a.model-form {
  display: inline;
  padding: 0;
  background-color: transparent;
  color: inherit!important;
  border: none;
  max-width: none;
  width: auto;
  line-height: inherit;
  text-align: left;
  height: auto;
  font-size: inherit!important;
  text-decoration: underline;
  font-weight: normal;
}

.page-cart #pccart-cart-form .cartItemsContainer ul {
  margin: 0;
  padding: 0;
}

div#edit-linkcart a {
  word-wrap: break-word;
}

#pccart-cart-form .prodactTemplates .poll-form{
  text-align: center;
  float: none!important;
  padding: 12px;
  background-color: #fff;
  width: 310px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
}

#pccart-cart-form .prodactHasTemplates{
  display: table;
  width: 100%;
}
#pccart-cart-form .prodactHasTemplates.inpopup{
  display: none;
}

.prodactHasTemplates .cell{
  width: 14px;
}

#pccart-cart-form .prodactTemplates .poll-form.designToolOnly{
  float: none;
  width: 100%;
}

#edit-templates-linktodownload {
  /*margin-left: 10px;*/
  float: left;
}

#edit-templates-linktodownload a {
  display: block;
  padding: 10px 15px;
  border: 1px solid #dadada;
  background-color: white;
  font-size: 13px;
  color: #666666;
  font-weight: 600;
}

#pccart-cart-form #templates .form-item.form-type-item label {
  display: inline;
  width: inherit;
  margin-right: 5px;
  font-weight: 400;
  font-size: 12px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  width: 30%;
  background: url("images/calc_dot.png") no-repeat left;
}

#pccart-cart-form #templates .form-item.form-type-item {
  background: none;
  float: left;
  width: 100%;
  cursor: default;
  padding: 0;
  font-size: 12px;
  border: 0;
}

#pccart-cart-form .description .name {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

#edit-templates-text {
  padding: 5px 0 30px;
}
#pccart-cart-form .jobFull-img span, 
#pccart-cart-form .jobFull-img a,
#pccart-cart-form .preview1 a.designtool {
    color: #666666;
    font-size: 11px;
    float: left;
    padding-left: 25px;
    background: url(images/bg_btns.png) no-repeat 0 -26px;
}

.jobfull .origin-price{
  top: 32px;
  right: 10px;
}

#detailCommande .origin-price{
  float: right;
  font-family: Tahoma;
  font-size: 11px;
  position: relative;
  top: 0px;
  color: #666666;
  margin: 0 0 0 5px;
  right: 0;
}

.prodactHasTemplates.inpopup{
    position: fixed;
    z-index: 99999;
    width: 640px!important;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px 20px 45px;
    left: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -340px;
    top: 50%; 
}

.prodactHasTemplates .prodact-table{
  display: table;
  width: 100%;
}
.prodactHasTemplates.inpopup .poll-form1{
  clear: both;
}

.prodactHasTemplates.inpopup > h3{
  color: #646464;
  font-size: 16px;
  margin: 0 0 13px;
  float: left;
}
.prodactHasTemplates.inpopup .close-popup{
  color: #646464;
  font-size: 10px;
  position: absolute;
  right: 20px;
  width: 11px;
  height: 11px;
  border: 2px solid #646464;
  line-height: 9px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}
