#pcbpost-picker-form .form-item{
  display:inline-block;
  float: left;
}

#pcbpost-picker-form .form-submit{
  float:right;
  margin:10px 0;
}

#pcbpost-picker-form .form-item label{
  min-width:0;
  margin:0 10px;
}

#pcbpost-picker-form .form-item input{
  min-width:0;
  width:auto;
}
#pcbpost-picker-form .form-item input[name="postal"]{
  width:250px;
  max-width: 250px;
}

#pcbpost-picker-form .form-item input[name="place"]{
  width:376px;
  max-width: 400px;
 } 

#pcbpost-picker-form .form-item label{
  min-width:0;
}

#pcbpost-picker-form #result{
  background-color: #666666;
}
#pcbpost-picker-form #result #map{
  width:640px;
  height:540px;
  float:left;
}

#pcbpost-picker-form #result .pois{
  float:left;
  width:333px;
  display:none;
  height:540px;
  overflow:auto;
  border-right: 1px solid #f1f1f1;
}

#pcbpost-picker-form #result .pois .list{
  background:white;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin:0 10px 0 0px; 
}
#pcbpost-picker-form #result .pois .list h3{
  margin-bottom: 20px;
}

#pcbpost-picker-form #result .item-list ul li{
  cursor:pointer;
  list-style:none;
  margin:0;
  padding-left:40px;
  background: url(postpoint.png) no-repeat top left;
  /*min-height: 50px;  */
  line-height: 1em;
  margin-bottom: 10px;
}

#pcbpost-picker-form #result .name {
  color: #009BDA;
  font-size: 12px;
  font-weight: bold;
}

#pcbpost-picker-form #result .address {
  font-size: 12px;
  line-height:1.4em;
}

#pcbpost-picker-form #result .services {
  color: #009BDA;
  font-size: 10px;
  line-height:1.2em;
  padding-left:60px;
  min-height: 50px;
  background: url(bancontact.png) no-repeat top left;
}


#pcbpost-picker-form fieldset > legend{
  background:none; 
}

#pcbpost-picker-form fieldset{
  margin:0;
}

#pcbpost-picker-form fieldset .fieldset-wrapper{
  padding:0;
}

#pcbpost-picker-form .search{
  padding: 0 10px;
  border-bottom: 1px solid #f1f1f1;
}
#pcbpost-picker-form .search:after{
  display: block;
  content: '';
  clear: both;
  width: 100%;
}